<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">{{titulo}}</h4>
</div>
<div class="modal-body">

    <alert  type="danger" close="dialog = false" ng-show="dialog">{{msg}}</alert>

    <h4 >Pedidos Seleccionados:</h4>

    <div class="row" style="max-height:300px; overflow:hidden; overflow-y:auto;">
        <div class="list-group">
            <a ng-repeat="pedido in pedidosSeleccionados" class="list-group-item defaultcursor" href="javascript:void(0)">
                Pedido No. {{pedido.numero_pedido}}-{{pedido.cliente.nombre_tercero || pedido.farmacia.nombre_farmacia}}

            </a>
        </div>
    </div>

    <h4>Responsable Separacion:</h4>

    <div class="row">
        
        <ui-select  ng-model="$parent.operario" theme="select2" class="form-control selectgeneral pull-left" ng-change="valorSeleccionado()">
                   <ui-select-match  placeholder="Seleccionar Estado Pedido">{{$select.selected.nombre_operario}}</ui-select-match>
                   <ui-select-choices repeat="separador in  Empresa.getSeparadores()| filter:$select.search">
                       {{separador.nombre_operario}}
                   </ui-select-choices>
        </ui-select>
    </div>

   <div class="modal-footer">
       <button class="btn btn-primary" ng-click="realizarAsignacion()" ng-disabled="!operario" >Asignar</button>
        <button class="btn btn-warning" ng-click="close()">Cancelar</button>
         
    </div>

</div>


