<div ng-controller="GestionarOrdenesController">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <!--                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Imagen</h4>-->
                    <div class="pull-left">
                        <h3 class="text-center"><strong>Logo</strong></h3>
                    </div>
                    <div class="pull-right">
                        <h3 class="text-center"><strong>OC # 123456</strong></h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">


                        <div class="col-md-6">

                            <fieldset>
                                <legend>Unidad de Negocio</legend>      

                                <div class="row">
                                    <div class="col-md-7">  
                                        <select ui-select2=""  class="form-control selectgeneral pull-left" ng-model="X"  placeholder="Seleccionar unidad de negocio" ng-change="">
                                            <option></option>                            
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Proveedor</legend> 
                                <div class="row">
                                    <div class="col-md-7">  
                                        <select ui-select2=""  class="form-control selectgeneral pull-left" ng-model="X"  placeholder="Seleccionar proveedor" ng-change="">
                                            <option></option>                            
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br>
                    <div class="row">  
                        <div class="col-md-6">

                            <fieldset>
                                <legend>Observación</legend> 
                                <div class="row">  
                                    <div class="col-md-12">  
                                        <textarea  class="col-lg-12 col-md-12 col-sm-12" name="" placeholder="Ingresar Observación"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>   
                    <br>
                    <div class="row">  
                        <div class="col-md-12">

                            <tabset>
                                <tab heading="Incluir Productos Manual">
                                    <br>
                                    <div class="row">  
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <p class="input-group">

                                                    <button type="button" class="btn btn-default btn-medium pull-right ng-scope" ng-click="buscar_productos()">
                                                        <span class="glyphicon glyphicon-plus"></span> Buscar Productos
                                                    </button>
                                                </p>
                                            </div>

                                            <div class="col-md-3 pull-right">
                                                <p class="input-group">

                                                    <input type="text" class="form-control" ng-keypress="" ng-model="termino_busqueda" placeholder="Buscar" name="" id="" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="submit" ng-click=""><i class="glyphicon glyphicon-search"></i></button>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </tab>                        
                                <tab select="alertMe()">
                                    <tab-heading>
                                        <i class="glyphicon glyphicon-bell"></i> Cargar Archivo Plano
                                    </tab-heading>
                                </tab>
                            </tabset>
                        </div>
                    </div>   
                </div>
            </div>       
        </div>
    </div>

    <div  class="slide" slide-content open-callback="gestionar_productos" close-callback="cerrar_gestion_productos"   >
        <div ng-include src="slideurl"  ng-controller="GestionarProductosController"></div>
    </div>
</div>


