<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Cargar ordenes de compra</h4>
</div>
<div class="modal-body">

    <div class="row">  
        <div class="col-md-12">
           <h5>Las ordenes seran creadas solo si el archivo y la información son 100% validos.</h5>
        </div>        
    </div> 



    <div class="row" style="padding-top: 15px;">

        <div class="row col-md-12 col-md-offset-0" style="margin-top: 25px">    

            <div flow-init="flow"  flow-file-success="respuestaSubidaArchivo($file, $message);" flow-file-added="" flow-files-submitted="cargarArchivo($flow);" class="ng-scope" flow-prevent-drop="cargarArchivo($flow);"  flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''" >
                <div class="drop txt-center" flow-drop="" flow-drop-enabled="" ng-class="dropClass" >

                    <div class="col-md-12">
                        <img  ng-hide="$flow.files.length" src="../../../images/Cloud-Upload-Blue.png" style="max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;"/>
                        <img ng-show="$flow.files.length" src="../../../images/attachment_yellow.png" style="max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;"/>
                    </div>
                    <div ng-hide="$flow.files.length">
                         Arrastrar y Soltar el archivo AQUI!!..                                                    
                    </div>
                    <div class="" ng-repeat="file in $flow.files" ng-show="$flow.files.length">
                        Nombre Archivo : <label>{{file.name}}</label>                                                                                                                                                       
                    </div>
                </div>

                <br>

                <div class="well txt-center">
                    <span class="btn btn-default" flow-btn="" ng-hide="$flow.files.length" ng-disabled="">
                        <span class="glyphicon glyphicon-folder-open" style="margin-right: 5px;"></span> Seleccionar Archivo
                        <input type="file" style="visibility: hidden; position: absolute;">
                    </span>                                                
                    <button class="btn btn-default" ng-click="$flow.cancel()" ng-disabled="" ng-show="$flow.files.length">
                        <span class="glyphicon glyphicon-minus" ></span> Remover
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="close()">Cancelar</button>
        <button class="btn btn-primary" ng-click="aceptar()" ng-disabled="producto_seleccionado.novedad.observacion.id == '' || producto_seleccionado.novedad.descripcion==''" >Aceptar</button>
    </div>

</div>

<visualizar-reporte></visualizar-reporte>