<div>


    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <!--                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Imagen</h4>-->
                        <div class="pull-left col-md-11">
                            <h4 class="text-center"><strong>Buscar Productos</strong></h4>
                        </div>
                        <div class="pull-right">
                            <div>
                                <button ng-click="cerrar_busqueda_productos()" class="pull-right btn btn-default btn-xs" style="margin-right:15px"><i class="glyphicon glyphicon-remove-circle"> </i> Cerrar</button>   
                            </div> 
                        </div>
                    </div>
                    <div class="panel-body">
                        <div>
                            <div class="row" style="margin-bottom: 20px;">
                                <div class="col-lg-12">
                                    <h4>Busqueda por {{ datos_form.seleccion_tipo_producto }}</h4>
                                    <button ng-click="seleccionar_tipo_producto('')" ng-disabled='Pedido.get_tipo_producto() !== "" ' class="btn btn-xxs btn-primary" style="position: relative;">Todos</button>
                                    <button ng-click="seleccionar_tipo_producto('1')"  ng-disabled='Pedido.get_tipo_producto() !== "" ' class="btn btn-xxs btn-success" style="position: relative;">Normales</button>
                                    <button ng-click="seleccionar_tipo_producto('2')" ng-disabled='Pedido.get_tipo_producto() !== "" ' class="btn btn-xxs btn-danger" style="position: relative;">Alto Costo</button>
                                    <button ng-click="seleccionar_tipo_producto('3')" ng-disabled='Pedido.get_tipo_producto() !== "" ' class="btn btn-xxs btn-info" style="position: relative;">Controlados</button>
                                    <button ng-click="seleccionar_tipo_producto('4')" ng-disabled='Pedido.get_tipo_producto() !== "" ' class="btn btn-xxs btn-warning" style="position: relative;">Insumos</button>
                                    <button ng-click="seleccionar_tipo_producto('5')" ng-disabled='Pedido.get_tipo_producto() !== "" ' class="btn btn-xxs btn-grey" style="position: relative;">Neveras</button>                                          
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="input-group col-md-12">    
                                    <h4>Laboratorio</h4>
                                    <ui-select ng-model="datos_form.laboratorio" theme="select2" class="form-control selectgeneral pull-left" ng-change="seleccionar_laboratorio()">
                                        <ui-select-match  placeholder="Seleccionar laboratorio">{{ $select.selected.get_nombre() }}</ui-select-match>                                        
                                        <ui-select-choices repeat="laboratorio in  Empresa.get_laboratorios() | filter:$select.search">
                                            {{ laboratorio.get_nombre() }}
                                        </ui-select-choices>
                                    </ui-select>
                                    </p>
                                </div>

                                <div class="col-md-3 pull-right" style="margin-top: 35px;">
                                    <p class="input-group">
                                        <input type="text" class="form-control" ng-keypress="buscador_productos($event, termino_busqueda);"  ng-model="datos_form.termino_busqueda" placeholder="Buscar" name="" id="" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit" ng-click=""><i class="glyphicon glyphicon-search"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <div class="" style="height: 650px" ng-grid="lista_productos" > </div>

                            </br>

                            <div class="row text-center">
                                <button type="button" class="btn btn-default btn-medium" ng-disabled="datos_form.pagina_actual == 1" ng-click="pagina_anterior()" >
                                    <span class="glyphicon glyphicon-chevron-left" ></span>
                                </button>
                                <button type="button" class="btn btn-default btn-medium" ng-disabled="datos_form.cantidad_items == 0" ng-click="pagina_siguiente()">
                                    <span class="glyphicon glyphicon-chevron-right" ></span>
                                </button>
                            </div>    
                        </div>
                    </div>
                </div>       
            </div>
        </div>        
    </div>
</div>
