<div>
    <div class="row">
           
          <div class="col-md-2 col-lg-1">
            <p class="input-group">

                 <button type="button" class="btn btn-default btn-medium ng-scope" ng-validate-events="{{ datos_view.permisos_cotizaciones.btn_crear_cotizaciones }}" ng-click="gestionar_cotizacion_cliente()">
                    <span class="glyphicon glyphicon-plus"></span> Crear Cotización
                </button>
            </p>
        </div>
        

        <div class="col-md-2">
            <p class="input-group">

                <input type="text" class="form-control readonlyinput" datepicker-popup="{{format}}" ng-model="datos_view.fecha_inicial_cotizaciones" is-open="datos_view.datepicker_fecha_inicial" min="minDate"   readonly  close-text="Cerrar" ng-change="" clear-text="Borrar" current-text="Hoy" placeholder="Fecha Inicial" show-weeks="false" toggle-weeks-text="#"  />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="abrir_fecha_inicial($event);"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>

        <div class="col-md-2">
            <p class="input-group">

                <input type="text" class="form-control readonlyinput" datepicker-popup="{{format}}" ng-model="datos_view.fecha_final_cotizaciones" is-open="datos_view.datepicker_fecha_final" min="datos_view.fecha_inicial"  readonly  close-text="Cerrar"
                       clear-text="Borrar"  placeholder="Fecha Final" current-text="Hoy" show-weeks="false" toggle-weeks-text="#" />
                <span class="input-group-btn">

                    <button class="btn btn-default"  ng-click="abrir_fecha_final($event);"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>

        <div class="col-md-2 pull-right">
            <p class="input-group">

                <input type="text" class="form-control" ng-keypress="buscador_cotizaciones($event);" ng-model="datos_view.termino_busqueda_cotizaciones" placeholder="Buscar" name="" id="" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="buscador_cotizaciones({which : 13});"><i class="glyphicon glyphicon-search"></i></button>
                </span>
                
               
            </p>
        </div>
        
        
        
    </div>

    
<div class="table-responsive" style="clear:both;">
     <div class="defaultGrid grid-responsive" ng-grid="lista_cotizaciones_clientes" > </div>
</div>
   

    </br>

    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="datos_view.pagina_actual_cotizaciones == 1" ng-click="pagina_anterior_cotizaciones()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="datos_view.cantidad_items_cotizaciones == 0" ng-click="pagina_siguiente_cotizaciones()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
    </div>
</div>
