<div class="modal-header">
    <button type="button" class="close" ng-click="cerrarVentanaDisponibilidad()">&times;</button>
    <h4 class="modal-title">Listado Productos </h4>
</div>
<div class="modal-body row">
    <div class="col-md-12">
        <h4 >Lista productos sin disponibilidad.</h4>
        <div class="row" style="max-height:300px; overflow:hidden; overflow-y:auto;">
            <div class="list-group">
                <a ng-repeat="producto in datos_view.productos_no_disponible" class="list-group-item defaultcursor" href="javascript:void(0)">
                    Cantidad solicitada ({{ producto.cantidad_solicitada}})  Cantidad disponible ({{ producto.cantidad_disponible}}) para el codigo ({{ producto.codigo_producto}}) 
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-if = "ocultarOpciones == 0">
        <fieldset>
            <legend>Observación Cartera</legend>
            <div class="row">
                <div class="col-md-12">
                    <textarea  ng-model="Pedido.observacion_cartera" 
                               ng-disabled="!datos_view.cartera" class="col-lg-12 col-md-12 col-sm-12" 
                               rows="4" name="" placeholder="Ingresar Observación Cartera"></textarea>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="cerrarVentanaDisponibilidad()" ng-disabled="" >Cerrar</button>
    <button class="btn btn-danger" ng-click="desaprobarCartera(4,0)" ng-if = "datos_view.swBotonDenegarCartera == 1" >
        Denegado Cartera
    </button>
</div>