<div class="panel-heading clearfix">
    <div class="pull-left col-md-10">
        <h4 class="text-center"><strong>Realizarón Lectura</strong></h4>
    </div>
    <div class="pull-right col-md-2">
        <!--<div>--> 
            <button ng-click="cerrar()" class="pull-right btn btn-default btn-xs" style="margin-right:15px; margin-top:10px"><i class="glyphicon glyphicon-remove-circle"> </i> Cerrar</button>   
        <!--</div>--> 
    </div>
</div>
<br>        
<div class="table-responsive" style="clear:both; ">
    <div  ng-grid="listaLectores" style="width: 98%; height: 500px; margin: 0px auto"></div>
</div>  



