<div ng-controller="DevolucionesFarmaciaController">
    <div class ="row">   
        <div class="col-md-3">                                                                

            <fieldset>
                <legend>Empresa</legend>   

                <div class="row">
                    <div class="col-md-10">  
                        <select ng-model="selectedEmpresa" 
                                class="form-control selectgeneral pull-left"
                                ng-change="onBuscarCentros()">
                            <option ng-repeat="x in empresas"
                                    value="{{x.empresa_id}}">{{x.razon_social}}
                            </option>
                        </select>
                    </div></div>
            </fieldset>  

        </div>  

        <div class="col-md-3 ">                                                                

            <fieldset>
                <legend>Centro de Utilidad</legend>   
                <div class="row">
                    <div class="col-md-10">  
                        <select ng-model="selectedCentro"
                                class="form-control selectgeneral pull-left"
                                ng-change="onBuscarBodegas()">
                            <option ng-repeat="x in centros"
                                    value="{{x.centro_utilidad}}">{{x.descripcion}}
                            </option>
                        </select>
                    </div></div>
            </fieldset>  

        </div>  

        <div class="col-md-3 ">                                                                

            <fieldset>
                <legend>Bodega</legend>   
                <div class="row">
                    <div class="col-md-10">  
                        <select id="selectBodegas" 
                                ng-model="selectedBodega" 
                                class="form-control selectgeneral pull-left" >
                            <option ng-repeat="x in bodegas" 
                                    value="{{x.bodega}}">{{x.descripcion}}
                            </option>
                        </select>
                    </div></div>
            </fieldset>  

        </div>  

        <div class ="row">
            <div class="col-md-3 pull-right">
                <fieldset>
                    <legend>Nro. IDF</legend>
                    <div class="input-group">

                        <input type="text" class="form-control"
                               ng-keypress="onBuscarProductoEmpresa($event, termino_busqueda,selectedEmpresa, selectedCentro,selectedBodega)"
                               ng-model="termino_busqueda"
                               placeholder="Nombre Producto"
                               name="srch-term"
                               id="srch-term"
                               ng-model="rootSeleccionPedido.termino_busqueda_pedidos">

                        <div class="input-group-btn" >
                            <button class="btn btn-default"
                                    type="submit"
                                    ng-click="onBuscarProductoEmpresa({which: 13}, termino_busqueda,selectedEmpresa, selectedCentro,selectedBodega)">
                                <i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>

                </fieldset>
            </div>

        </div>

    </div>
    <br>
    
    <div class ="row"> 
    <div class="col-md-2">
            <p class="input-group">
                <input type="text" class="form-control readonlyinput" 
                       datepicker-popup="{{format}}" 
                       ng-model="datos_view.fecha_inicial_aprobaciones" 
                       is-open="datos_view.datepicker_fecha_inicial" 
                       min="minDate"   
                       readonly  close-text="Cerrar" 
                       ng-change="" 
                       clear-text="Borrar" 
                       current-text="Hoy" 
                       placeholder="Fecha Inicial" 
                       show-weeks="false" 
                       toggle-weeks-text="#"  />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="abrir_fecha_inicial($event);"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    
        <div class="col-md-2">
            <p class="input-group">
                <input type="text" class="form-control readonlyinput" 
                       datepicker-popup="{{format}}" 
                       ng-model="datos_view.fecha_final_aprobaciones" 
                       is-open="datos_view.datepicker_fecha_final" 
                       min="datos_view.fecha_inicial"  
                       readonly  close-text="Cerrar"
                       clear-text="Borrar"  
                       placeholder="Fecha Final" 
                       current-text="Hoy" 
                       show-weeks="false" 
                       toggle-weeks-text="#" />
                <span class="input-group-btn">
                    <button class="btn btn-default"  ng-click="abrir_fecha_final($event);"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    </div>
    <br>
    
    
    <p>
    <div class="table-responsive" >
        <div class="defaultGrid grid-responsive" ng-grid="lista_productos_empresa">

        </div>
    </div>
    <br/>
    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactual == 1" ng-click="paginaAnterior()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="items == 0" ng-click="paginaSiguiente()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
    </div>
    <br/>
</div>