<div ng-controller="ListarAutorizacionesController">
    
    <div class="row">  
        <div class="col-md-2">
            <p class="input-group">
            <ui-select  ng-model="$parent.seleccion" theme="select2" class="form-control selectgeneral pull-left" ng-change="listarAutorizaciones()">
                <ui-select-match  placeholder="Seleccionar Farmacia">{{$select.selected.nombre}}</ui-select-match>
                <ui-select-choices repeat="empresa in  empresas| filter:$select.search">
                    {{empresa.nombre}}
                </ui-select-choices>
            </ui-select>
            </p>
        </div>  
        <div class="col-md-3 pull-right"> 
            <div class="input-group">
                <div class="input-group-btn"> <!--ng-click="listarAutorizaciones();"-->
                    <button type="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{filtro.nombre}} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="filtro in filtros">
                            <a href="javascript:void(0)" ng-click="onSeleccionFiltro(filtro)">{{filtro.nombre}}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" ng-keypress="listarAutorizacionesEvent($event);" ng-model="root.terminoBusqueda" placeholder="Buscar" name="" id="" />
                <div class="input-group-btn" >
                    <button class="btn btn-default" type="submit" ng-click="listarAutorizaciones();"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>                     
    </div>         
 <div style="padding-top:3px">  
    <div class="table-responsive" >
        <div class="defaultGrid grid-responsive" ng-grid="lista_autorizacion_compras"></div>
    </div>  
 </div> 
</div>  
