
<div style="padding:5px" ng-controller="CreaCotizacionesController">  
    
    <div class="row"> 
        <div class="col-sm-12 col-md-12">

                <div class="panel panel-info marginBottom5">
                    
                    <div class="panel-heading">
                        <h4 class="h4MarginTopBottom">Información de Cliente</h4>
                    </div>
                    <div class="panel-body">
                        
                        <div class="row col-sm-6 col-md-12"> <!--Div Panel Superior-->
                            <button type="submit" class="btn btn-accion btn-primary pull-left" ng-click="onRowClickSelectCliente()">Seleccionar Cliente</button>
                            <div class="pull-right"><h3><font color="blue">Cotización N°: 123456</font></h3></div>
                        </div> <!--Div Panel Superior-->
                        
                        <div class="row col-lg-9 col-md-9 col-sm-5"> <!-- Div Panel Izquierdo -->
                            <div class="row"> <!--Div Fila 1-->
                                
                                <div class="col-md-4"> <!--Contenedor Izquierdo-->
                                    <h4 class="h4MarginTopBottom">Cliente:</h4></br>
                                    Arnulfo Trujillo
                                </div> <!--/Contenedor Izq-->
                                
                                <div class="col-md-4"> <!--Contenedor Centro-->
                                    <h4 class="h4MarginTopBottom">Dirección:</h4></br>
                                    Calle 23A #12-13, Alambrados
                                </div> <!--/Contenedor Centro-->
                                
                                <div class="col-md-4"> <!--Contenedor Derecho-->
                                    <h4 class="h4MarginTopBottom">Teléfono:</h4></br>
                                    320 12 00
                                </div> <!--/Contenedor Der-->
                                
                            </div>  <!--/Div Fila 1-->
                            <div class="row"> <!--Div Fila 2-->

                                <div class="col-md-4"> <!--Contenedor Izquierdo-->
                                        </br></br>
                                        <h4 class="h4MarginTopBottom">Vendedor: </h4>

                                        <select ui-select2="seleccioncliente"  class="form-control selectgeneral pull-left" ng-model="$parent.seleccion"  placeholder="Seleccionar Documento" ng-change="valorSeleccionado()">
                                            <option></option>
                                            <option ng-repeat="documento_usuario in  documentos_usuarios"  ng-value="documento_usuario.bodegas_doc_id" >{{documento_usuario.prefijo}}-{{documento_usuario.descripcion}}</option>
                                        </select>
                                </div> <!--/Contenedor Izquierdo-->
                                
                                <div class="col-md-4"> <!--Contenedor Derecho-->
                                    </br></br>
                                    <h4 class="h4MarginTopBottom">Ubicación:</h4></br>
                                    320 12 00
                                </div> <!--/Contenedor Derecho-->
                                
                            </div> <!--/Div Fila 2-->

                        </div> <!-- / Div Panel Izquierdo -->
                        
                        <div class="col-lg-3 col-md-3 col-sm-5"> <!-- Div Panel Derecho -->

                            <h4 class="h4MarginTopBottom">Observación:</h4></br>
                            <textarea class="col-lg-12 col-md-12 col-sm-5" rows="6" name="">
                                Texto de la Observación
                            </textarea>
                        </div> <!-- / Div Panel Izquierdo -->
                        
                    </div>  
                    
                </div>

        </div>
    </div> <!-- / end payment details section -->
    
    <div slide-content open-callback="mostrarseleccioncliente" close-callback="cerrarseleccioncliente" class="slide" >
        <div ng-include src="slideurl"  ng-controller="SeleccionClienteController" ></div>
    </div>
      
    <!-- End Código desplazado -->
    <div class="row">
        <div class="col-xs-12">
          
            <div class="panel panel-info marginBottom5"> <!-- / begin banking details -->

                <div class="panel-heading">
                  <h4 class="h4MarginTopBottom">Productos</h4>
                </div>
                <div class="panel-body">
                    <button type="submit" class="btn btn-accion btn-primary pull-left" ng-click="onRowClickSelectProducto()">Incluir Producto</button>
                    <div class="input-group navbar-form paddingRightZero">
                        <input type="text" class="form-control pull-right" ng-keypress="onKeyDetalleDocumentoTemporalPress($event, termino_busqueda)" ng-model="termino_busqueda" placeholder="Buscar Producto" name="srch-term" id="srch-term">
                        <div class="input-group-btn" >
                            <button class="btn btn-default pull-right" type="submit" ng-click="buscarDetalleDocumentoTemporal(termino_busqueda)"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="auditadosGrid" ng-grid="lista_pedidos_clientes"></div>
                </div>
            </div>
              
        </div>    
    </div> <!-- / end class row --> 
    
    <div class="col-sm-12 btn-toolbar">
        <button type="submit" class="btn btn-accion btn-success pull-right">Generar Cotización</button>
        <button type="submit" class="btn btn-accion btn-danger pull-right">Eliminar Cotización</button>
        <button type="submit" class="btn btn-accion btn-warning pull-right">Cancelar Cotización</button>
    </div>

    <br/><br/><br/><br/><br/>
    
    <div slide-content open-callback="mostrarseleccionproducto" close-callback="cerrarseleccionproducto"  class="slide" >
        <div ng-include src="slideurl"  ng-controller="SeleccionProductoController" ></div>
    </div>

</div>