
<div class="modal-view">

   
    <tabset  class="">
        
        <tab >
            <tab-heading>
                Descripcion Producto
            </tab-heading>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h5 class="panel-title">Información General</h5>
                </div>
                <div class="panel-body">
                    <div class="row" >
                        <div class ="col-md-3"><div class="lbl_editar_producto">Codigo</div>{{producto.codigo_producto}}</div>
                        <div class ="col-md-9"><div class="lbl_editar_producto">Descripcion</div>{{producto.descripcion}}</div>
                    </div>
                    <div class="row">
                        <div class ="col-md-3"><div class="lbl_editar_producto">Lote</div>{{producto.lote.codigo_lote}}</div>
                        <div class ="col-md-9"><div class="lbl_editar_producto">Fecha_vencimiento</div>{{producto.lote.fecha_vencimiento}}</div>
                    </div>
                    <div class="row">
                        <div class ="col-md-3"><div class="lbl_editar_producto">Cant Solicitida</div>{{producto.cantidad_solicitada}}</div>
                        <div class ="col-md-6"><div class="lbl_editar_producto">Cant Separada</div><input type="text" class="input-mini" ng-model="producto.cantidad_separada" ></div>

                    </div>

                 </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Información Caja</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class ="col-md-6"><label class="lbl_editar_producto">Numero Caja: </label><input type="text" class="input-mini"  ></div>
                        <div class ="col-md-3">
                            <label class="lbl_editar_producto">Cerrar Caja</label>
                            <input type="checkbox" ng-model="cerrar" />
                        </div>
                    </div>
                 </div>
            </div>



            <div class="animate-switch-container"
                ng-switch on="cerrar">

                  <div class="panel panel-info" ng-switch-when="true">
                    <div class="panel-heading">
                         <h3 class="panel-title">Información Rotulo</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class ="col-md-5">
                               <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                                    <option></option>
                                </select>
                            </div>
                            <div class ="col-md-5">
                               <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                                    <option></option>
                                </select>
                            </div>

                            
                            
                        </div>

                        <div class="row">
                            <div class ="col-md-5">
                               <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                                    <option></option>
                                </select>
                            </div>
                            <div class ="col-md-5">
                               <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                                    <option></option>
                                </select>
                            </div>
                            <div class ="col-md-2 text-center">
                                <button class="btn btn-primary ng-binding btn-accion">Generar</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel text-right panel-info panel-action">
                    <button class="btn btn-primary ng-binding">Auditar</button>
                </div>
            </div>

        </tab>
        <tab>
            
            <tab-heading>
                Cambiar Lotes
            </tab-heading>
            
           

            <div class="panel panel-info">
                <div class="panel-heading">
                     <h5 class="panel-title">Lotes Del Producto</h5>
                </div>
                <div class="panel-body">
                    <div class="auditarGrid" ng-grid="lotes_producto"></div>
                </div>

            </div>

        </tab>

    </tabset>

    </br>

</div>