/* 
    Document   : style.css
    Created on : 19/08/2014, 08:29:08 AM
    Author     : Alexander López Guerrero
    Description:
        Se crea éste estilo con el objetivo de reducir el padding entre los páneles predefinidos 
        en Bootstrap y cualquier otra personalización de estilo dentro del módulo pedidos.
*/

/*.col-xs-6 {
padding: 0%;
}
.col-xs-4 {
padding: 0%;
}
.col-xs-8 {
padding: 0%;
}*/

.auditarGrid {
    display: block;
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 90px;
}

.auditadosGrid {
    display: block;
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 150px;
}
/*
.col-xs-12 {
padding-left: 1cm;
}*/