
.paddingLeftZero {
    padding-left: 0%;
}

.paddingRightZero {
    padding-right: 0%;
}

.marginLeftZero {
    margin-left: 0%;
}

.marginRightZero {
    margin-right: 0%;
}

.paddingToptZero {
    padding-top: 0%;
}

.paddingBottomtZero {
    padding-bottom: 0%;
}

.h4MarginTopBottom {
margin-top: 0px;
margin-bottom: 0px;
}

.marginBottom5{
    margin-bottom: 5px;
}

.marginBottom0{
    margin-bottom: 0px;
}

.marginTop5{
    margin-top: 5px;
}

.marginTop0{
    margin-top: 0px;
}

.auditarGrid {
    display: block;
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 150px;
}

.auditadosGrid {
    display: block;
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 150px;
}

.backWhite{
    background-color: White;
}

.backBlue{
    background-color: lightcyan;
}

.modal-view .row{
    margin-bottom: 10px;
}

.modal .modal-dialog {
   width: 800px;
}

.modal-content{
    padding: 5px;
}

.lbl_editar_producto{
    margin-bottom: 3px;
    font-weight: bold;
    margin-right:5px;
    font-size: 13px;

}

.panel-action{
    padding: 5px;
}

.tab-content{
    padding:2px;
}


.checkcodigobarrascontenedor{
    position: absolute;
    right: 255px;
    top: 7px;
}

.textareajustificacion{
    height: 70px;               
    resize:none;
}

#editarproductomodal .input-sm{
    width: inherit;
    display: inline;
}