
.paddingLeftZero {
    padding-left: 0%;
}

.paddingRightZero {
    padding-right: 0%;
}

.marginLeftZero {
    margin-left: 0%;
}

.marginLeft {
    margin-left: 30px;
}

.marginRightZero {
    margin-right: 0%;
}

.marginRightCerrarSlide{
    margin-right:15px;
    margin-bottom: 15px;
}

.paddingToptZero {
    padding-top: 0%;
}

.paddingBottomtZero {
    padding-bottom: 0%;
}

.h4MarginTopBottom {
    margin-top: 0px;
    margin-bottom: 0px;
}

.marginBottom5{
    margin-bottom: 5px;
}

.marginBottom0{
    margin-bottom: 0px;
}

.marginTop5{
    margin-top: 5px;
}

.marginTop0{
    margin-top: 0px;
}

.auditarGrid {
    display: block;
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 150px;
}

.auditarLotesDisponibles{
    height:200px;
}

.auditadosGrid {
    display: block;
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 150px;
}

.mediaPantallaGrid {
    display: block;
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    /*height: 250px;*/
    height: 300px;
}

.tercioPantallaGrid {
    display: block;
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    /*height: 250px;*/
    height: 150px;
}

.backWhite{
    background-color: White;
}

.backBlue{
    background-color: lightcyan;
}

.modal-view .row{
    margin-bottom: 10px;
}

.modal .modal-dialog {
    /*width: 800px;*/
}

.modal-content{
    padding: 5px;
}

.lbl_editar_producto{
    margin-bottom: 3px;
    font-weight: bold;
    margin-right:10px;
    font-size: 13px;

}

label.lbl_editar_producto{
    float:left;
}

.panel-action{
    padding: 5px;
}

.tab-content{
    padding:2px;
}

.body.dragOver #file-drop{display:block;} /* Durante el drag */

.body #file-drop{z-index:1000;position:fixed;top:0;left:0;width:100%;height:100%;display:none;} /* No drag */

.checkcodigobarrascontenedor{
    position: absolute;
    right: 255px;
    top: 7px;
}

.textareajustificacion{
    height: 70px;               
    resize:none;
}

#editarproductomodal .input-sm{
    width: inherit;
    display: inline;
}

.editarproductomodal{
    width:800px;
}

.validar_caja_contenedor{
    width:100px;
    display: inline;
    overflow: hidden;
}

.validar_caja_contenedor input.form-control {
    width:100px;
    height:22px
}

.altoSlide{
    padding:5px;
    height:900px;
}

.alertaUpload{
    text-align: center;
    padding: 50px 0;
}

.imagenUpload{
    max-width: 200px;
    max-height: 150px;
    line-height: 20px;
    margin-bottom: 5px;
}

.altoSeleccionBodega{
    height:230px;
}

.dragNgFlow{
    border: 5px solid green;
}

.altoObservacion{
    height:135px;
}

.padding5{
    padding:5px;
}

.contenedorGridSeleccion{
    border: 1px solid #ccc;
    padding: 10px;
}

.anchoSeleccionEmpresa{
    width: 300px;
}

/* Botón Separación Finalizada */

.btn-separacionfinalizada { 
    color: #FFFFFF; 
    background-color: #F28EF2; 
    border-color: #F28EF2; 
} 

.btn-separacionfinalizada:hover, 
.btn-separacionfinalizada:focus, 
.btn-separacionfinalizada:active, 
.btn-separacionfinalizada.active, 
.open .dropdown-toggle.btn-separacionfinalizada { 
    color: #FFFFFF; 
    background-color: #D954D0; 
    border-color: #F28EF2; 
} 

.btn-separacionfinalizada:active, 
.btn-separacionfinalizada.active, 
.open .dropdown-toggle.btn-separacionfinalizada { 
    background-image: none; 
} 

.btn-separacionfinalizada.disabled, 
.btn-separacionfinalizada[disabled], 
fieldset[disabled] .btn-separacionfinalizada, 
.btn-separacionfinalizada.disabled:hover, 
.btn-separacionfinalizada[disabled]:hover, 
fieldset[disabled] .btn-separacionfinalizada:hover, 
.btn-separacionfinalizada.disabled:focus, 
.btn-separacionfinalizada[disabled]:focus, 
fieldset[disabled] .btn-separacionfinalizada:focus, 
.btn-separacionfinalizada.disabled:active, 
.btn-separacionfinalizada[disabled]:active, 
fieldset[disabled] .btn-separacionfinalizada:active, 
.btn-separacionfinalizada.disabled.active, 
.btn-separacionfinalizada[disabled].active, 
fieldset[disabled] .btn-separacionfinalizada.active { 
    background-color: #F28EF2; 
    border-color: #F28EF2; 
} 

.btn-separacionfinalizada .badge { 
    color: #F28EF2; 
    background-color: #FFFFFF; 
}

/* Botón En Auditoria */

.btn-enauditoria { 
    color: #FFFFFF; 
    background-color: #CFDB78; 
    border-color: #CFDB78; 
} 

.btn-enauditoria:hover, 
.btn-enauditoria:focus, 
.btn-enauditoria:active, 
.btn-enauditoria.active, 
.open .dropdown-toggle.btn-enauditoria { 
    color: #FFFFFF; 
    background-color: #BCC483; 
    border-color: #CFDB78; 
} 

.btn-enauditoria:active, 
.btn-enauditoria.active, 
.open .dropdown-toggle.btn-enauditoria { 
    background-image: none; 
} 

.btn-enauditoria.disabled, 
.btn-enauditoria[disabled], 
fieldset[disabled] .btn-enauditoria, 
.btn-enauditoria.disabled:hover, 
.btn-enauditoria[disabled]:hover, 
fieldset[disabled] .btn-enauditoria:hover, 
.btn-enauditoria.disabled:focus, 
.btn-enauditoria[disabled]:focus, 
fieldset[disabled] .btn-enauditoria:focus, 
.btn-enauditoria.disabled:active, 
.btn-enauditoria[disabled]:active, 
fieldset[disabled] .btn-enauditoria:active, 
.btn-enauditoria.disabled.active, 
.btn-enauditoria[disabled].active, 
fieldset[disabled] .btn-enauditoria.active { 
    background-color: #CFDB78; 
    border-color: #CFDB78; 
} 

.btn-enauditoria .badge { 
    color: #CFDB78; 
    background-color: #FFFFFF; 
}

.avatarUsuario{
    position: relative; /* allows repositioning */
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%;
}

.app-modal-window-pdf .modal-dialog{
    width: 350px;
}

.background_bloqueo_precio {

    background-color : #64FCAB;

}

.texto-alerta {
    color: #CB0505;
}

/*.ngHeaderCell {
    background-color: #CB0505;;
    bottom: 0;
    color: #248407;
    position: absolute;
    top: 0;
}*/

.contenedorCaja{
    width:100%;
    height:30px;
}

button.btnTipo{
    border-left: none;
    border-radius:0px!important;
}

#numerocaja{
    width:123px;
}

.panelCaja{
    margin-bottom: 25px;
}

.center-y{
    vertical-align:middle;
}

.label-red {
    background: #FF6961;
}

.btn-xxs {
    padding: 1px 5px;
    font-size: 75%;
    line-height: 1.5;
    border-radius: 3px;
    font-weight: 700;
}

.btn-grey:hover,.btn-grey:focus,.btn-grey:active,.btn-grey.active,.open .dropdown-toggle.btn-grey{
    color:#fff;
    background-color: #999;
    border-color: #999;
}

.btn-grey {
    color: #fff;
    background-color: #999;
    border-color: #999;
}


