<div class="row paddingToptZero">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="h4MarginTopBottom"><span>Modificar cantidad pendiente</span></h4>
            </div>
            <div class="panel-body" style="margin-bottom: 0px;"> 
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group">
                                <input type="text" ng-model="cantidad" validacion-numero-entero class="form-control"  placeholder="Nueva cantidad">
                            </div>                        
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="margin-top: 0px; padding-top: 0px;">
            <button type="button" class="btn btn-warning" ng-click="guardarNuevaCantidadPendiente(medicamento.esm_pendiente_dispensacion_id, cantidad)">Guardar</button>
            <button type="button" class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
        </div>
    </div>
</div>