<div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <h4 class="text-center"><strong>Informacion Formula</strong></h4>
                    </div>

                </div>
                <div class="panel-body">                    
                    <div class="row">                                        
                        <div class="col-md-8">
                            <fieldset>
                                <legend><strong>Producto</strong>  {{data.producto.codigo_producto}} - {{data.producto.molecula}}</legend>                                     
                            </fieldset>
                        </div>  

                        <div class="col-md-2">

                            <fieldset>
                                <legend>Cantidad solicitada</legend> 
                                <div class="row">  
                                    <div class="col-md-7" style="margin-top: -14px">                                          
                                        <h4 class="text-center"><strong>{{data.producto.cantidad}}</strong></h4>
                                    </div>
                                </div>
                            </fieldset>
                        </div>                       
                        <div class="col-md-2">

                            <fieldset>
                                <legend>Cantidad pendiente</legend> 
                                <div class="row">  
                                    <div class="col-md-7" style="margin-top: -14px">                                          
                                        <h4 class="text-center"><strong>{{data.producto.cantidad_pendiente}}</strong></h4>
                                    </div>
                                </div>
                            </fieldset>
                        </div>        
                    </div>

                    <div class="row">  
                        <div class="col-md-12">

                            <br>

                            <div class="row">  
                                <div class="col-md-12">

                                    <div class="table-responsive" >
                                        <div class="defaultGrid grid-responsive" ng-grid="listaLotes" style="clear:both; height: 350px;" > </div>
                                    </div>

                                </div>
                            </div>                                       
                            <div class="modal-footer col-md-12" ng-if="!datos_view.cartera">                                                                       
                                <button class="btn btn-default" ng-click="cerrarVentanaDispensacionFormula()" >
                                    <span class="glyphicon glyphicon-ok" ></span> Cerrar
                                </button>                                    
                            </div>                              
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
    <div  class="slide" slide-content open-callback="gestionar_productos_clientes" close-callback="cerrar_gestion_productos_clientes"   >
        <div ng-include src="slideurl"  ></div>
    </div>

    <visualizar-reporte></visualizar-reporte>
</div>