<div class="row paddingToptZero">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="h4MarginTopBottom"><span>Busqueda de Productos</span></h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive" >
                    <div class="defaultGrid grid-responsive" ng-grid="lista_productos">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="seleccionar()">Cancelar</button>
        </div>
    </div>
</div>
