<div>
    <div class="modal-header">
        <h4 style="font-weight: bold;">Para poder continuar debe cerrar las sesiones activas</h4>
    </div>

    <div class="modal-body">
        <div class="panel-body">
            <div style="height: 300px;" ng-grid="listaConexiones"></div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-sm btn-warning" ng-click="cerrarSesiones()">
            Cerrar sesiones y continuar 
            <i class="glyphicon glyphicon-chevron-right"></i>

        </button>
    </div>


</div>
