<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="onCerrarVentana()" aria-hidden="true">×</button>

    </div>

    <div class="modal-body">

    </div>

    <div class="modal-footer">
        <a  href="#" data-toggle="modal" style="color: rgba(41, 78, 244, 1);margin: 5% auto 5% 10%;" ng-if="formularioLogin" ng-click="$parent.formularioLogin = false">Recuperar contraseña</a>
        <a  href="#" data-toggle="modal" style="color: rgba(41, 78, 244, 1);margin: 5% auto 5% 1%;" ng-if="!formularioLogin" ng-click="$parent.formularioLogin = true" >Cancelar</a>

    </div>


</div>
