<form  ng-model="formularios.formularioTerceros" name="formularios.formularioFactura" id="formularioTerceros" form-validation   ng-init="onFormularioTercerosListo()">
    <div class="row contenedorCamposTercero">
        
        <div class="col-md-3">

            <p class="btn-group">
                <label class="btn btn-default" >
                    <span >Seleccionar tipo de pago: </span>
                </label>
                <label class="btn btn-default" ng-class="{'btn-success' : tipoPagoFacturaConsumo == '1'}">
                    <input type="radio"  ng-click="seleccionarTipoPagoConsumo('1')"  class="ng-pristine ng-untouched ng-valid"><span class="label label-success">Efectivo</span>
                </label>
                <label class="btn btn-default"  ng-class="{'btn-warning' : tipoPagoFacturaConsumo == '2'}">
                    <input type="radio"  ng-click="seleccionarTipoPagoConsumo('2')"   class="ng-pristine ng-untouched ng-valid"><span class="label label-warning">Cheque</span>
                </label>
                <label class="btn btn-default" ng-class="{'btn-danger' : tipoPagoFacturaConsumo == '3'}">
                    <input type="radio"  ng-click="seleccionarTipoPagoConsumo('3')"  class="ng-pristine ng-untouched ng-valid"><span class="label label-danger">Credito</span>
                </label>

            </p>
        </div>
        
        <div class="col-md-2">
            
            <p class="input-group contenedorDropdown">            
                <input type="text" class="form-control"  
                       ng-model="root.observacion" placeholder="Observacion" name="observacion" /> 
            </p>
        </div>
        
        <div class="col-md-2">
            <p class="input-group">

                <input type="text" class="form-control readonlyinput" 
                       datepicker-popup="{{format}}" 
                       ng-model="root.fecha_corte" 
                       is-open="datepicker_fecha_corte" 
                       min="minDate"   
                       readonly  
                       close-text="Cerrar" 
                       ng-change="" 
                       clear-text="Borrar" 
                       current-text="Hoy" 
                       placeholder="Fecha Corte" 
                       show-weeks="false" 
                       toggle-weeks-text="#"  />

                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="abrir_fecha_corte($event);"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        
        <div class="col-md-2">
             
            <p class="input-group contenedorDropdown">            
                <ui-select ng-model="root.cliente"  
                           theme="select2" 
                           name="cliente"
                           class="form-control selectgeneral pull-left ui-select-z-index-11 {{formularios.formularioFactura.sumitedWithErrors}}" 
                           append-to-body = "true"
                           title="Se requiere el cliente" 
                           data-placement="top"
                           required="required">
                    <ui-select-match  placeholder="Busqueda por nombre o documento"><span ng-bind="$select.selected.getNombre()"></span></ui-select-match>
                    <ui-select-choices refresh="listarClientes($select.search)"  refresh-delay="0" repeat="cliente in  root.clientes | filter:$select.search">
                        <span ng-bind="cliente.getNombre()"></span>
                    </ui-select-choices>
                </ui-select>  
            </p>
        </div>

        <div class="col-md-2">
            
            <p class="input-group contenedorDropdown">            
                <ui-select ng-model="root.documento"  
                           theme="select2" 
                           name="documento"
                           ng-change="onDocumentoSeleccionado()"
                           class="form-control selectgeneral pull-left ui-select-z-index-11 {{formularios.formularioTerceros.sumitedWithErrors}}" 
                           append-to-body = "true"
                           title="Se requiere el documento" 
                           data-placement="top"
                           required="required">
                    <ui-select-match  placeholder="Buscar por número de documento"><span ng-bind="$select.selected.get_prefijo()"></span> - <span ng-bind="$select.selected.get_numero()"></span></ui-select-match>
                    <ui-select-choices refresh="listarDocumentos($select.search)" refresh-delay="0" repeat="documento in  root.documentos | filter:$select.search">
                        <span ng-bind="documento.get_prefijo()"></span> - <span ng-bind="documento.get_numero()"></span>
                    </ui-select-choices>
                </ui-select>  
            </p>
        </div>
         
        
    </div>

</form>
<h4>Detalle del documento</h4>
<div  class="table-responsive" style="clear:both;">
    <div class="gridFacturasConsumo grid-responsive" ng-grid="listaDetalleDocumento" ></div>
</div>
<hr>
<h4>Detalle de Facturación</h4>
 
<div  class="table-responsive" style="clear:both;">
    <div class="gridFacturasConsumo grid-responsive" ng-grid="listaDetalleDocumentoTmp" ></div>
</div>

<label>Productos : 4</label>
<div class="row">
    <div class="col-md-2">
        <label>Subtotal : {{root.valorFacturaTemporal.valorSubTotal}}</label>
    </div>
    <div class="col-md-2">
        <label>Iva : {{root.valorFacturaTemporal.valorTotalIva}}</label>
    </div>
    <div class="col-md-2">
        <label>RetFte : 5000</label>
    </div>
    <div class="col-md-2">
        <label>RetIca : 200</label>
    </div>
    <div class="col-md-2">
        <label>RetIva : 100</label>
    </div>
    <div class="col-md-2">
        <label>Total : {{root.valorFacturaTemporal.valorTotal}}</label>
    </div>
</div>
<br>
<p class="pull-right">
    <button class="btn btn-default" ng-click="onBtnVolver()">
        Volver
    </button>
    <button class="btn btn-warning">
        Eliminar temporal <i class="glyphicon glyphicon-trash"></i>
    </button>
    <button class="btn btn-success" ng-click="generarFacturaXConsumo()">
        Facturar <i class="glyphicon glyphicon-duplicate"></i>
    </button>
</p>