<div class ="row">       
    <div class="col-md-6">
        
        <p class="btn-group">
            <label class="btn btn-default" >
              <span >Seleccionar tipo de pago: </span>
            </label>
            <label class="btn btn-default" ng-class="{'btn-success' : tipoPagoFactura == '1'}">
              <input type="radio"  ng-click="seleccionarTipoPago('1')"  class="ng-pristine ng-untouched ng-valid"><span class="label label-success">Efectivo</span>
            </label>
            <label class="btn btn-default"  ng-class="{'btn-warning' : tipoPagoFactura == '2'}">
                <input type="radio"  ng-click="seleccionarTipoPago('2')"   class="ng-pristine ng-untouched ng-valid"><span class="label label-warning">Cheque</span>
            </label>
            <label class="btn btn-default" ng-class="{'btn-danger' : tipoPagoFactura == '3'}">
              <input type="radio"  ng-click="seleccionarTipoPago('3')"  class="ng-pristine ng-untouched ng-valid"><span class="label label-danger">Credito</span>
            </label>
         
        </p>
    </div>
    <div class="{{columnaSizeBusqueda}} pull-right">                                                                
        <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" 
                  data-toggle="dropdown" 
                  aria-haspopup="true" aria-expanded="false" 
                  ng-click="volverListaClientes()">Volver <span class="glyphicon glyphicon-arrow-left"></span>
              </button>

            </div>
            <input ng-show="root.visibleBuscador" 
                 type="text" 
                 class="form-control" 
                 ng-keypress="buscarClientesFactura($event);"  
                 ng-model="root.termino_busqueda" 
                 placeholder="#Pedido" name="" id="" />
            
            
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" 
                  data-toggle="dropdown" 
                  aria-haspopup="true" aria-expanded="false" 
                  ng-click="generarFacturasAgrupadas()" 
                  ng-disabled='root.pedidosSeleccionados.length < 2'>Fact Agrupada</button>
            </div>
        </div> 
    </div>         
</div>
<br>
   
    <!-- <div ng-if="root.estadoFormula == 0"> //-->
         
       <div class="table-responsive" style="clear:both; ">
            <div class="defaultGrid grid-responsive" ng-grid="listaClientes" ></div>
        </div>  
       
    <br>
    
    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactual == 1" ng-click="paginaAnterior()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="root.items_pedidos_clientes <25" ng-click="paginaSiguiente()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
    </div>
    
     <visualizar-reporte></visualizar-reporte>
 
  