<br>
<!--
<div class="row">
    <div class="col-md-6">
        <div class="input-group-btn">                                                                      
            <button type="button" class="btn btn-default" aria-expanded="false" ng-click="onBtnGenearFactura()" >Generar factura</span></button>                   
        </div>
    </div>
</div> //-->
<div class ="row"> 
    <div>
        <div class="col-md-6">
                    <div class="input-group-btn">                                                                      
                        <button type="button" class="btn btn-default" aria-expanded="false" ng-click="onBtnGenearFactura()" >Generar factura</span></button>                   
                    </div>
                </div>
    </div>
         <div class="{{columnaSizeBusqueda}} pull-right">                                                                                                                                 
                <div class="input-group">
                    <div class="input-group-btn">                                                                      
                        <button type="button" class="btn btn-default dropdown-toggle" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{filtro.descripcion}} <span class="caret"></span></button>
                      <ul class="dropdown-menu" ng-selected="onColumnaSize(filtro.tipo)">
                            <li ng-repeat="filtro in filtros">
                                <a href="javascript:void(0)" ng-click="onSeleccionFiltro(filtro)">{{filtro.descripcion}}</a>
                            </li>
                            <li role="separator" class="divider"></li>
                           
                            <li ng-repeat="tipoTercero in tipoTercero">
                                <a href="javascript:void(0)" ng-click="onSeleccionFiltro(tipoTercero)">
                                    {{tipoTercero.descripcion}}
                                </a>
                            </li>
                        </ul>                                         
                    </div>                                                 
                   <input ng-show="root.visibleBuscador" 
                           type="text" 
                           class="form-control" 
                           ng-keypress="buscarClienteFacturaTemporal($event);"  
                           ng-model="root.termino_busqueda" 
                           placeholder="Buscar" name="" id="" />
                    <div class="input-group-btn" ng-show="root.visibleBotonBuscador" >                                              
                    </div>                                                       
                </div>       
            </div>          
        </div>

<br>
    
<div class="table-responsive" style="clear:both; ">
    <div class="defaultGrid grid-responsive" ng-grid="listarFacturasConsumoTemporales" ></div>
        </div>  
    <br>
    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactual == 1" ng-click="paginaAnterior()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="root.itemsFacturasTemporales < 25" ng-click="paginaSiguiente()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
    </div>
 
<visualizar-reporte></visualizar-reporte>

