<div class ="row">        
         <div class="{{columnaSizeBusqueda}} pull-right">                                                                
                                                                 
                <div class="input-group">
                    <div class="input-group-btn">                                                                      
                        <button type="button" class="btn btn-default dropdown-toggle" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{root.filtro.descripcion}} <span class="caret"></span></button>
                      <ul class="dropdown-menu" ng-selected="onColumnaSize(root.filtro.tipo)">
                            <li ng-repeat="filtro in root.filtros">
                                <a href="javascript:void(0)" ng-click="onSeleccionFiltro(filtro)">{{filtro.descripcion}}</a>
                            </li>
                            <li role="separator" class="divider"></li>
                           
                            <li ng-repeat="tipoTercero in tipoTercero">
                                <a href="javascript:void(0)" ng-click="onSeleccionFiltro(tipoTercero)">
                                    {{tipoTercero.descripcion}}
                                </a>
                            </li>
                        </ul>                                         
                    </div> 
                    
                            
                   <input ng-show="root.visibleBuscador" 
                           type="text" 
                           class="form-control" 
                           ng-keypress="buscarFacturaGenerada($event);"  
                           ng-model="root.termino_busqueda" 
                           placeholder="Buscar" name="" id="" />
                    <div class="input-group-btn" ng-show="root.visibleBotonBuscador" >
                       
                       <button class="btn btn-default pull-right" type="submit" ng-click ="buscarFacturaGenerada($event)">
                           <i class="glyphicon glyphicon-search"></i></button>
                       
                    </div>
                    
                   
                   
                </div>   
     
            </div>
          
        </div>
     <br>
   
    <!-- <div ng-if="root.estadoFormula == 0"> //-->
         
       <div class="table-responsive" style="clear:both; ">
            <div class="defaultGrid grid-responsive" ng-grid="listaFacturasGeneradas" ></div>
        </div>  
       
    <br>
    
    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactual == 1" ng-click="paginaAnterior()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="root.items <25" ng-click="paginaSiguiente()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
    </div>
 
  