<div class="row" >
    <div class="col-md-12">
           
        <p class="btn-group">
            <label class="btn btn-default" >
              <span >Seleccionar tipo de pago: </span>
            </label>
            <label class="btn btn-default" ng-class="{'btn-success' : tipoPagoFactura == '1'}">
              <input type="radio"  ng-click="seleccionarTipoPago('1')"  class="ng-pristine ng-untouched ng-valid"><span class="label label-success">Efectivo</span>
            </label>
            <label class="btn btn-default"  ng-class="{'btn-warning' : tipoPagoFactura == '2'}">
                <input type="radio"  ng-click="seleccionarTipoPago('2')"   class="ng-pristine ng-untouched ng-valid"><span class="label label-warning">Cheque</span>
            </label>
            <label class="btn btn-default" ng-class="{'btn-danger' : tipoPagoFactura == '3'}">
              <input type="radio"  ng-click="seleccionarTipoPago('3')"  class="ng-pristine ng-untouched ng-valid"><span class="label label-danger">Credito</span>
            </label>
         
        </p>
        
    </div>                          
</div>
<br>
<div class ="row">
    
           <div class="col-md-2">
            <p class="input-group">
                <input type="text" class="form-control readonlyinput" 
                       datepicker-popup="{{format}}" 
                       ng-model="root.fechaInicialPedidosCosmitet" 
                       is-open="root.datepicker_fecha_inicial" 
                       min="minDate"   
                       readonly  close-text="Cerrar" 
                       ng-change="" 
                       clear-text="Borrar" 
                       current-text="Hoy" 
                       placeholder="Fecha Inicial" 
                       show-weeks="false" 
                       toggle-weeks-text="#"  />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="abrir_fecha_inicial($event);"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    
        <div class="col-md-2">
            <p class="input-group">
                <input type="text" class="form-control readonlyinput" 
                       datepicker-popup="{{format}}" 
                       ng-model="root.fechaFinalPedidosCosmitet" 
                       is-open="root.datepicker_fecha_final" 
                       min="root.fecha_inicial"  
                       readonly  close-text="Cerrar"
                       clear-text="Borrar"  
                       placeholder="Fecha Final" 
                       current-text="Hoy" 
                       show-weeks="false" 
                       toggle-weeks-text="#" />
                <span class="input-group-btn">
                    <button class="btn btn-default"  ng-click="abrir_fecha_final($event);"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    
        <div class="col-md-2">
            
           <button type="button" 
                   class="btn btn-primary dropdown-toggle" 
                   data-toggle="dropdown" 
                   aria-haspopup="true" 
                   aria-expanded="false"
                   ng-click="procesaFacturasCosmitet()">
            Generar factura por rango de fechas 
          </button>
            
        </div>
        
    
     
    <div class="{{columnaSizeBusqueda}} pull-right">                                                                
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" 
                   class="btn btn-default dropdown-toggle" 
                   data-toggle="dropdown" 
                   aria-haspopup="true" 
                   aria-expanded="false"
                   ng-click="generarFacturasCosmitetAgrupadas()" 
                   ng-disabled='root.pedidosCosmitetSeleccionados.length < 2'>
                Generar
                </button>

            </div>
            <input ng-show="root.visibleBuscador" 
                type="text" 
                class="form-control" 
                ng-keypress="buscarPedidosCosmitet($event);"  
                ng-model="root.termino_busqueda_cosmitet" 
                placeholder="#Pedido" name="" id="" />
        </div> 
    </div>         
  
          
    </div>
    <br>
    
    <div class="table-responsive" style="clear:both; ">
        <div class="defaultGrid grid-responsive" ng-grid="listaPedidosCosmitet" ></div>
    </div>  
       
    <br>
    
    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactualCosmitet == 1" ng-click="paginaAnteriorPedidosCosmitet()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="root.items_pedidos_cosmitet <25" ng-click="paginaSiguientePedidosCosmitet()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>   
    </div>
 
  