<div class="row" >
                                <div class="col-md-2">
                                   
                                    <button ng-click="seleccionarTipoPago('1')"  class="btn btn-xxs btn-success" style="position: relative;">Efectivo</button>
                                    <button ng-click="seleccionarTipoPago('2')"  class="btn btn-xxs btn-warning" style="position: relative;">Cheque</button>
                                    <button ng-click="seleccionarTipoPago('3')"  class="btn btn-xxs btn-danger" style="position: relative;">Credito</button>                                                                          

                                </div>
                                <div class="col-md-2">
                                    
                                    <button ng-click="generarFacturasAgrupadas()" ng-disabled='root.pedidosSeleccionados.length < 2' class="btn btn-xxs btn-info" style="position: relative;">Generar factura agrupada</button>  
                                </div>                              
                            </div>

<div class ="row">
        
    
        
         <div class="{{columnaSizeBusqueda}} pull-right">                                                                
                   
             <div class="input-group">
                    <div class="input-group-btn">                                                                      
                        <button type="button" class="btn btn-default dropdown-toggle" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false" 
                                ng-click="volverListaClientes()">Volver <span class="glyphicon glyphicon-arrow-left"></span></button>
                                                           
                    </div> 
                    
                            
                 <input ng-show="root.visibleBuscador" 
                           type="text" 
                           class="form-control" 
                           ng-keypress="buscarClientesFactura($event);"  
                           ng-model="root.termino_busqueda" 
                           placeholder="#Pedido" name="" id="" />
                     
                </div> 
                <!--    //-->
                  
            </div>
          
        </div>
     <br>
   
    <!-- <div ng-if="root.estadoFormula == 0"> //-->
         
       <div class="table-responsive" style="clear:both; ">
            <div class="defaultGrid grid-responsive" ng-grid="listaClientes" ></div>
        </div>  
       
    <br>
    
    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactual == 1" ng-click="paginaAnterior()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="root.items_pedidos_clientes <25" ng-click="paginaSiguiente()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
    </div>
 
  