<div>
    <div class="row">
       <!--
        <p class="input-group">
             <div class="col-md-2 col-lg-1" >  
                <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="onSeleccionarEmpresa()">Seleccionar</button>          
             </div>  
         </p> //-->
      <div class="col-md-2 col-lg-1">
            <p class="input-group">
                 <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="onSeleccionarEmpresa()">
                      <span class="glyphicon glyphicon-ok"></span> Empresa</button>          
            </p> 
        </div> 
         
         
         
        <div class="col-md-2">
            <p class="input-group">

                <input type="text" class="form-control readonlyinput" datepicker-popup="{{format}}" ng-model="fechainicial" is-open="abrirfechainicial" min="minDate"   readonly  close-text="Cerrar" ng-change="fechainicialselected()" clear-text="Borrar" current-text="Hoy" placeholder="Fecha inicio" show-weeks="false" toggle-weeks-text="#"  />
                <!--input type="text" ng-datepickerange /-->
                <span class="input-group-btn">

                    <button class="btn btn-default" ng-click="abrirFechaInicial($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>

        <div class="col-md-2">
            <p class="input-group">

                <input type="text" class="form-control readonlyinput" name="fechain" datepicker-popup="{{format}}" ng-model="fechafinal" is-open="abrirfechafinal" min="fechainicial"  readonly  close-text="Cerrar"
                       clear-text="Borrar"  placeholder="Fecha fin:" current-text="Hoy" show-weeks="false" toggle-weeks-text="#" />
                <span class="input-group-btn">

                    <button class="btn btn-default"  ng-click="abrirFechaFinal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>



        <div class="col-lg-3 pull-right">

            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span ng-bind="filtroProducto.nombre"></span> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="filtro in filtros">
                            <a href="javascript:void(0)" ng-click="onSeleccionFiltro(filtro)"><span ng-bind="filtro.nombre"></span></a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" ng-keypress="onKeyPress($event, termino_busqueda)" ng-model="termino_busqueda" placeholder="Buscar" name="srch-term" id="srch-term" />
                <span class="input-group-btn">

                    <button class="btn btn-default" type="submit" ng-click="buscarProductos(termino_busqueda)"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div><!-- /input-group -->



        </div>

    </div>

    <div class="table-responsive" style="margin-top:3px;" >
        <div class="defaultGrid grid-responsive" ng-grid="gridOptions">
        </div>
    </div>
    </br>
    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactual == 0" ng-click="paginaAnterior()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="items == 0" ng-click="paginaSiguiente()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
    </div>

    <div  class="kardex slide" slide-content open-callback="mostrardetallekardex" close-callback="cerrardetallekardex"   >
        <div ng-include src="slideurl"  ng-controller="MovimientoController"></div>
    </div>

</div>