.contenedorfiltrocombobox{
    width: 100%;
}
.header{
    margin-right: 10px;
    margin-bottom: 10px;
}

.items{
    margin-right: 10px;
    margin-bottom: 10px;
    width: 70px;
}

.tablePc{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
}

.tablePc th{
    text-transform: uppercase;
}

.tablePc:not(.cells-auto) th, .tablePc:not(.cells-auto) td{
    width: 12%;
}

.tablePc:not(.cells-auto) th:first-child, .tablePc:not(.cells-auto) td:first-child{
    width: 28%;
    padding: 2px 0px;
}
.tablePc.cells-auto th {
    text-align: center;
    padding-bottom: 5px;
}
.tablePc td:first-child{
    font-weight: bolder;
}
.tableBorder td {
    border: 1px solid #dedede;
}
.console-format{
    background-color: #000;
    color: #FFF;
    min-height: 50px;
}
.contenedor-modulos-btns {
    display: flex;
    justify-content: space-between;
}
.contenedor-estadisticas > nvd3-line-chart > svg {
    border: 2px solid #6d91b1;
    border-radius: 30px;
    padding-right: 40px;
    width: 73%;
}
.line-nowrap td {
    white-space: nowrap;
    padding: 5px;
}
tr .nowrap {
    white-space: nowrap;
}
tr .nowrap:nth-child(7) {
    white-space: normal;
}
.line-normal td, .line-nowrap td:last-child:not(.normal), tr > .nowrap:last-child {
    white-space: normal;
}
.line-nowrap .nowrap:last-child {
    white-space: normal !important;
}
.custom-danger {
    background: #b7403c;
    padding: 5px;
    margin: 5px;
}
.custom-danger:hover {
    background-color: #8a1512;
}
