
<div class ="padding5">    

    <div class="row marginBottom5"> <!--Div Row Superior-->

        <div class="col-sm-12 col-md-12 col-lg-12 marginBottom5">

            <div class="panel panel-default marginBottom0 paddingBottomZero"> <!--Div Panel Principal Superior-->

                <div class="panel-heading col-sm-12 col-md-12 col-lg-12">

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <h3 class="h4MarginTopBottom">Información General</h3></br>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <h3 class="h4MarginTopBottom">Pedido N°: {{root.pedido.get_numero_pedido()}}</h3>
                    </div>
                </div>

                <div class="panel-body marginBottom0 paddingBottomZero marginRightZero"> <!--Div Panel Body-->

                    <div class="row col-sm-12 col-md-12 marginBottom0 paddingBottomZero paddingRightZero"> <!--Div Contenedor Principal-->

                        <div class="col-sm-12 col-md-6 paddingRightZero paddingLeftZero marginBottom0 paddingBottomZero"> <!--Div Contenedor Izquierdo-->

                            <div class="marginBottom0 col-sm-12 col-md-12 paddingBottomtZero"> <!--Div Encabezado-->
                                <h4><b><i>De</i></b></h4>
                            </div> <!--/Div Encabezado-->

                            <div class="marginTop0 col-sm-12 col-md-12 paddingTopZero marginBottom0 paddingBottomZero altoSeleccionBodega"> <!--Div Cuerpo-->
                                <div class="row">
                                    <div class="col-md-6">
                                        </br>
                                        <h4 class="h4MarginTopBottom">Empresa: </h4>

                                        <ui-select ng-change="onEmpresaOrigenSeleccionada()" ng-model="root.pedido.farmaciaOrigen" theme="select2" class="form-control selectgeneral pull-left" ng-disabled="deshabilitarSeleccionEmpresa()" >
                                            <ui-select-match  placeholder="Seleccionar Farmacia">{{$select.selected.getNombre()}}</ui-select-match>
                                            <ui-select-choices repeat="empresa in root.empresasOrigen | filter:$select.search">
                                                {{empresa.getNombre()}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        </br>
                                        <h4 class="h4MarginTopBottom">Centro Utilidad: </h4>


                                        <ui-select ng-change="_empresaOrigenSeleccionada()" ng-model="root.pedido.farmaciaOrigen.centroUtilidad" theme="select2" class="form-control selectgeneral pull-left" ng-disabled="deshabilitarSeleccionEmpresa()" >
                                            <ui-select-match  placeholder="Seleccionar Centro Utilidad">{{$select.selected.getNombre()}}</ui-select-match>
                                            <ui-select-choices repeat="centro in root.pedido.getFarmaciaOrigen().getCentrosUtilidad() | filter:$select.search">
                                                {{centro.getNombre()}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        </br>
                                        <h4 class="h4MarginTopBottom">Bodega: </h4>

                                        <ui-select ng-change="onBodegaSeleccionada()" ng-model="root.pedido.farmaciaOrigen.centroUtilidad.bodega" theme="select2" class="form-control selectgeneral pull-left" ng-disabled="deshabilitarSeleccionEmpresa()" >
                                            <ui-select-match  placeholder="Seleccionar Centro Utilidad">{{$select.selected.getNombre()}}</ui-select-match>
                                            <ui-select-choices repeat="bodega in root.pedido.getFarmaciaOrigen().getCentroUtilidadSeleccionado().getBodegas() | filter:$select.search">
                                                {{bodega.getNombre()}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>

                            </div> <!--/Div Cuerpo-->

                        </div> <!--/Div Contenedor Izquierdo-->

                        <div class="col-sm-12 col-md-6 paddingLeftZero paddingRightZero marginBottom0 paddingBottomZero"> <!--/Div Contenedor Derecho-->

                            <div class="marginBottom0 col-sm-12 col-md-12 paddingBottomZero"> <!--Div Encabezado-->

                                <div class="pull-left col-sm-12 col-md-6"> <!--Div Izquierdo-->
                                    <h4><b><i>Para</i></b></h4>
                                </div> <!--/Div Izquierdo-->

                                <!--/Div Derecho-->

                            </div> <!--/Div Encabezado-->

                            <div class="marginTop0 col-sm-12 col-md-12 paddingTopZero marginBottom0 paddingBottomZero altoSeleccionBodega"> <!--Div Cuerpo-->

                                <div class="row">
                                    <div class="col-md-6">
                                        </br>
                                        <h4 class="h4MarginTopBottom">Farmacia: </h4>


                                        <ui-select  ng-if="!rootCreaPedidoFarmacia.Empresa.getPedidoSeleccionado().getModificacionEspecial()" ng-model="root.pedido.farmaciaDestino" theme="select2" class="form-control selectgeneral pull-left" ng-change="onEmpresaDestinoSeleccionada()" ng-disabled="deshabilitarSeleccionEmpresa() && root.pedido.getTipoModificacion() !== '3'" >
                                            <ui-select-match  placeholder="Seleccionar Farmacia">{{$select.selected.getNombre()}}</ui-select-match>
                                            <ui-select-choices repeat="empresa in root.empresasDestino | filter:$select.search">
                                                {{empresa.getNombre()}}
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        </br>
                                        <h4 class="h4MarginTopBottom">Centro Utilidad: </h4>

                                        <ui-select  ng-model="root.pedido.farmaciaDestino.centroUtilidad" theme="select2" class="form-control selectgeneral pull-left" ng-disabled="deshabilitarSeleccionEmpresa() && root.pedido.getTipoModificacion() !== '3'" >
                                            <ui-select-match  placeholder="Seleccionar Centro Utilidad">{{$select.selected.getNombre()}}</ui-select-match>
                                            <ui-select-choices repeat="centro in root.pedido.getFarmaciaDestino().getCentrosUtilidad() | filter:$select.search">
                                                {{centro.getNombre()}}
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        </br>
                                        <h4 class="h4MarginTopBottom">Bodega: </h4>

                                        <ui-select  ng-model="root.pedido.farmaciaDestino.centroUtilidad.bodega" theme="select2" class="form-control selectgeneral pull-left" ng-change="onBodegaSeleccionada()" ng-disabled="(deshabilitarSeleccionEmpresa() && root.pedido.getTipoModificacion() !== '3') || (!root.pedido.farmaciaOrigen.centroUtilidad.bodega)">
                                            <ui-select-match  placeholder="Seleccionar Centro Utilidad">{{$select.selected.getNombre()}}</ui-select-match>
                                            <ui-select-choices repeat="bodega in root.pedido.getFarmaciaDestino().getCentroUtilidadSeleccionado().getBodegas() | filter:$select.search">
                                                {{bodega.getNombre()}}
                                            </ui-select-choices>
                                        </ui-select>

                                    </div>
                                </div>

                            </div> <!--/Div Cuerpo-->

                        </div> <!--/Div Contenedor Derecho-->

                        <div class="marginTop0 paddingTopZero paddingBottomZero marginBottom0 col-sm-12 col-md-12 col-lg-12 altoObservacion"> <!--Div Contenedor Inferior-->
                            </br>
                            <h4 class="h4MarginTopBottom">Observación:</h4></br>
                            <textarea  class="col-lg-12 col-md-12 col-sm-12" rows="4" name="" ng-model="root.pedido.descripcion" placeholder="Ingresar Observación"></textarea>

                        </div> <!--/Div Contenedor Inferior-->

                    </div> <!--/Div Contenedor Principal-->

                </div>  <!--/Div Panel Body-->

            </div> <!--/Div Panel Principal Superior-->

        </div>

    </div> <!--/Div Row Superior-->

    <!-- End Código desplazado -->
    <div class="row">
        <div class="col-xs-12">

            <div>
                <br/><!--Espacio entre Tab Y título de Panel-->
            </div>

            <tabset> <!--Grupo de Tabs-->

                <tab >

                    <tab-heading>
                        <span ng-if="rootCreaPedidoFarmacia.Empresa.getPedidoSeleccionado().en_uso===1" class="glyphicon glyphicon-eye-open"></span> <b>Incluir Producto </b>
                    </tab-heading>

                    <div class="input-group navbar-form ">

                        <div >
                            <button type="button" ng-disabled="!root.pedido.getValido() || (root.pedido.get_numero_pedido() && root.pedido.getTipoModificacion() != '3')" class="btn btn-default btn-medium ng-scope"  ng-click="onIncluirProductos($event)">
                                <span class="glyphicon glyphicon-plus"></span> Incluir Productos
                            </button>
                        </div>   

                    </div>

                    <div class="table-responsive">
                        <div class="auditadosGrid grid-responsive" ng-grid="root.lista_productos"></div>
                    </div>

                    <div class="table-responsive" ng-if="rootCreaPedidoFarmacia.grid_pedido_generado_visible === true && !rootCreaPedidoFarmacia.Empresa.getPedidoSeleccionado().getModificacionEspecial()">
                        <div class="auditadosGrid grid-responsive" ng-grid="rootCreaPedidoFarmacia.detalle_pedido_generado"></div>
                    </div>

                    <!-- Grid Detalle Productos Opciones Modificación Especial-->
                    <div class="table-responsive" ng-if="rootCreaPedidoFarmacia.Empresa.getPedidoSeleccionado().getModificacionEspecial()">
                        <div class="auditadosGrid grid-responsive" ng-grid="rootCreaPedidoFarmacia.detalle_pedido_modificable"></div>
                    </div>

                </tab>
                
                <tab disabled="(!root.pedido.getValido() ||  root.pedido.get_numero_pedido())" active="rootCreaPedidoFarmacia.tab_estados.tab2"  name="cargarPlano">
                    <tab-heading>
                        <b> Archivo Plano </b>
                    </tab-heading>

                    <div>

                        <br/>

                        <div class="row col-md-8 col-md-offset-2" style="margin-top: 25px">    

                            <div flow-init="rootPedidoFarmaciaTemporal.opcionesArchivo"  flow-file-success="respuestaArchivoPlano($file, $message);" flow-file-added="!!{xlsx:1,xls:1}[$file.getExtension()]" flow-files-submitted="cargarArchivoPlano($flow)" class="ng-scope" flow-prevent-drop=""  flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''" >
                                <div class="drop txt-center" flow-drop="" flow-drop-enabled="!(vista_previa || codigo_proveedor_id == '' || unidad_negocio_id == '' || observacion == '')" ng-class="dropClass" >

                                    <div class="col-md-12">
                                        <img  ng-hide="$flow.files.length" src="../../../images/Cloud-Upload-Blue.png" style="max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;"/>
                                        <img ng-show="$flow.files.length" src="../../../images/xls.png" style="max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;"/>
                                    </div>
                                    <div ng-hide="$flow.files.length">
                                        <b>OR</b> Arrastrar y Soltar el archivo AQUI!!..                                                    
                                    </div>
                                    <div class="" ng-repeat="file in $flow.files" ng-show="$flow.files.length">
                                        Nombre Archivo : <label>{{file.name}}</label>    

                                        <!-- Barra de Progreso - Inicio -->
                                        <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                                 aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}">
                                            </div>
                                            <span class="sr-only ng-binding">1% Completado</span>
                                        </div>
                                        <!-- Barra de Progreso - Fin -->

                                    </div>
                                </div>

                                <br>

                                <div class="well txt-center">
                                    <span class="btn btn-default" flow-btn="" ng-disabled="rootCreaPedidoFarmacia.bloqueo_upload" ng-hide="$flow.files.length" >
                                        <!--ng-disabled="vista_previa || codigo_proveedor_id == '' || unidad_negocio_id == '' || observacion == '' "-->
                                        <span class="glyphicon glyphicon-folder-open" style="margin-right: 5px;"></span> Seleccionar Archivo
                                        <input type="file" style="visibility: hidden; position: absolute;">
                                    </span>                                                
                                    <button class="btn btn-default" ng-click="$flow.cancel()" ng-disabled="rootCreaPedidoFarmacia.bloqueo_upload" ng-show="$flow.files.length">
                                        <span class="glyphicon glyphicon-minus" ></span> Remover
                                    </button>
                                    <button class="btn btn-default" ng-click="subirArchivoPlano()" ng-disabled="rootCreaPedidoFarmacia.bloqueo_upload" ng-show="$flow.files.length">
                                        <!--ng-disabled="vista_previa || codigo_proveedor_id == '' || unidad_negocio_id == '' || observacion == '' "-->
                                        <span class="glyphicon glyphicon-cloud-upload" ></span> Subir
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </tab>                    
            </tabset>  
        </div>    
    </div>

    <div class="col-sm-12 btn-toolbar">
        <button type="submit" ng-show="!root.pedido.get_numero_pedido()" class="btn btn-default pull-right" ng-click="onGenerarPedido()"
                 ng-validate-events="{{rootCreaPedidoFarmacia.opcionesModulo.btnGenerarPedido}}" ng-disabled="!root.pedido.getEsTemporal()" >
            <span class="glyphicon glyphicon-cog"></span> Generar Pedido
        </button>
        <button type="submit" ng-show="!root.pedido.get_numero_pedido()" class="btn btn-default pull-right" ng-click="onGuardarEncabezadoPedidoTemporal()"
         ng-validate-events="{{rootCreaPedidoFarmacia.opcionesModulo.btnGuardarTemporal}}" ng-disabled="!root.pedido.getEsTemporal()">
            <span class="glyphicon glyphicon-ok"></span> Guardar Temporal
        </button>

        <button type="submit" ng-show="!root.pedido.get_numero_pedido() && root.pedido.getEsTemporal()" class="btn btn-default pull-right" ng-click="onEliminarPedidoTemporal()">
            <span class="glyphicon glyphicon-remove"></span> Cancelar Pedido
        </button>
       
        
        <button type="submit" class="btn btn-default pull-right" ng-click="onGuardarPedido()" ng-show="root.pedido.getTipoModificacion() === '3'">
             <span class="glyphicon glyphicon-ok"></span> Guardar
        </button>
        
        <button type="submit" ng-show="root.pedido.get_numero_pedido()" class="btn btn-default pull-right" ng-click="onGenerarPdfPedido()">
            <span class="glyphicon glyphicon-file"></span> Generar PDF
        </button>
        
        <button type="submit" class="btn btn-default pull-right" ng-click="onVolverListadoPedidos()">
             Finalizar
        </button>
    </div>

    <br/><br/><br/><br/><br/>

    <div slide-content open-callback="mostrarSeleccionProducto" close-callback="cerrarSeleccionProducto"  class="slide" >
        <div ng-include src="slideurl"  ng-controller="SeleccionProductoController" ></div>
    </div>

    <!-- div slide-content open-callback="mostrarseleccionproductoEspecial" close-callback="cerrarseleccionproducto"  class="slide" >
        <div ng-include src="slideurl"  ng-controller="SeleccionProductoController" ></div>
    </div -->

</div>

<!--</div>-->