<div ng-controller="PedidosFarmaciaController">
    <div> 

        <tabset>

            <tab ng-controller="ListaPedidosController">
                <tab-heading>
                   <i class="glyphicon glyphicon-th"></i> <b> Pedidos Farmacias </b>
                </tab-heading>
                
                <div ng-include src="'views/generacionpedidos/pedidosfarmacias/tabPedidos.html'"></div>

            </tab>

            <tab ng-controller="ListaPedidosTemporalesController" > 
                <tab-heading >
                   <i class="glyphicon glyphicon-time"></i> <b>Pedidos Temporales</b>
                </tab-heading>
                
                <div ng-include src="'views/generacionpedidos/pedidosfarmacias/tabPedidosTemporales.html'"></div>
               
            </tab>                

        </tabset>

    </div>
    
    <visualizar-reporte></visualizar-reporte>

</div>