
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
a {
  color: #00B7FF;
}

.alertcontenido{
	max-width: 500px;
	width: auto;
	margin: 0 auto;
	height: 30px;
	line-height: 1px;
}

.alertcontenido .modal-body {
	max-height: 40px;
}

.contenedormenu .botonmenu{
	display: none;
}


html body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.cellPedido{
	background-color: black;
}

.contenedor{
	padding: 10px;
	margin-top: 60px;
}

.contenidoPrincipal{
	height: 810px;
	width: 100%;
}

.contenedorcontenido{
	width: 100%;
}

.checkseleccion{
	padding-top: 9px;
	text-align: center;

}

.defaultGrid {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 680px;
}

.defaultcursor{
	cursor:default;
}

ul.dropdown-menu {
	padding: 0px;
    overflow: hidden;
}

html{
	overflow-x: hidden; 
}

input.readonlyinput[readonly]{
	cursor: default;
}

.kardex{
	width: 100%;
	height:auto;
	top:0px;
	position: absolute;
	background-color: rgba(248,248,248,0.9);
	z-index: 4;
}

.largeCell{
	overflow-y:auto;
	height: 250px;
}

.loaderimg{
	margin-right: 2px;
}


.loadingContent{
	background-color: #E6E6E6;
	bottom: 0px;
	height: 30px;
	margin: auto;
	left: 0px;
	padding-top: 2px;
	position: absolute;
	right: 0px;		
	text-align: center;
	top: 0px;
	width: 200px;
	-webkit-box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 11px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 11px 0px rgba(50, 50, 50, 0.75);
}


#loadingWidget{
	bottom: 0px;
	height: 100%;
	position:absolute;
	top:0px;
	width: 100%;
	z-index: 10000;
}

.menutitulo{
	text-align: center;
}

 .navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}

.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }


div.ngHeaderCell	{
	padding-top:0px;
	text-align: left;
}

#systemAlerlt{
	position: fixed;
	top: 5px;
	display: none;
	z-index: 2000;
	height: 60px;
	left: 0px;
	right:0px;
	bottom:0px;
	text-align: center;
}

.tabkardex .grupodefault{
	padding-right: 0px;
}

.txt-center{
	text-align: center;
	padding-top: 4px;
}

/**media query*/

@media screen and ( max-width: 1700px ) and (min-width: 769px) {
	.contenedormenu .botonmenu{
		display: inline;
	}

  div.contenedormenu {
    position: fixed;
    z-index: 4;
    width: 300px;
    height: 100%;
  }

  div.contenedormenu .navbar{
  	border: 1px solid gray;
  	height: 100%;
  }

  div.cerrarmenu{
  	left: -260px;
  }

  div.mostrarmenu{
  	left: -13px;
  }

  div.contenedorDerecho{
  	width: 100%;
  }

  div.contenidoPrincipal{
  	width: 100%;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
}