
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
a {
  color: #00B7FF;
}

.alertcontenido{
	max-width: 500px;
	width: auto;
	margin: 0 auto;
	height: 30px;
	line-height: 1px;
}

.alertcontenido .modal-body {
	max-height: 40px;
}

body{
	
}


.bodybg{

	background-image:url(../images/lock.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}


.botonmenu{
	width: 22px;
	height: 22px;
	padding:4px;
	background-color: #428bca!important;
}

.contenedormenu .botonmenu{
	display: none;

}

.contenedormenu .navbar{
	background-color: #e7f2fa;
}


html body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.cellPedido{
	background-color: black;
}

.contenedor{
	padding: 10px;
	margin-top: 60px;
}

.contenidoPrincipal{
	height: 810px;
	width: 100%;
}

.contenedorcontenido{
	width: 100%;
}

.checkseleccion{
	padding-top: 9px;
	text-align: center;

}

.defaultGrid {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 680px;
}

.defaultcursor{
	cursor:default;
}

ul.dropdown-menu {
	padding: 0px;
    overflow: hidden;
}

html{
	overflow-x: hidden; 
}

input.readonlyinput[readonly]{
	cursor: default;
}

.contenedormenu .jstree-hovered{
	background-color: #beebff!important;
}

.kardex{
	width: 100%;
	height:auto;
	top:-16px;
	position: absolute;
	background-color: rgba(248,248,248,0.9);
	z-index: 4;
}

.lockScreen .text-muted{
	font-size: 14px;
}

.largeCell{
	overflow-y:auto;
	height: 250px;
}

.loaderimg{
	margin-right: 2px;
}


.loadingContent{
	background-color: #E6E6E6;
	bottom: 0px;
	height: 30px;
	margin: auto;
	left: 0px;
	padding-top: 2px;
	position: absolute;
	right: 0px;		
	text-align: center;
	top: 0px;
	width: 200px;
	-webkit-box-shadow: 0px 1px 11px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 11px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 11px 0px rgba(50, 50, 50, 0.75);
}


#loadingWidget{
	bottom: 0px;
	height: 100%;
	position:absolute;
	top:0px;
	width: 100%;
	z-index: 10000;
}

.lockcontainer{
	position: absolute;
	top:23%;
	right: 0px;
	left:0px;
	bottom: 0px;
}

.vbody{
	top: 21%;
}

.lockScreen{
	position: absolute;
	top:0px;
	right: 0px;
	left:0px;
	bottom: 0px;
	background-color:rgba(0,0,0,0.6);
	background-image:url(../images/lock.jpg);
	background-size: 100% 100%;
	z-index: 10000000;
}


.logincontainer{
	width: 100%;
}

#loginform{
	margin-bottom: 0px;
}
.menutitulo{
	text-align: center;
}

 nav.navbar-fixed-top{
	background-color: #428bca;
	border-color: #428bca;
}

nav.navbar-default .navbar-nav>li>a, nav.navbar-default .navbar-brand {
	color:white;
}


nav.navbar-default .navbar-nav>li>a:hover{
	color: white;
}

.ngCanvas .ngRow.even{
	background-color: #f9f9f9;
}

.ngCanvas .ngRow.odd{
	background-color: white;
}

 .navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}

.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }


.defaultGrid  .ngRow:hover{
	background-color:#eee;
}

div.ngHeaderCell	{
	padding-top:0px;
	text-align: left;
}

#systemAlerlt{
	position: fixed;
	top: 5px;
	display: none;
	z-index: 2000;
	height: 60px;
	left: 0px;
	right:0px;
	bottom:0px;
	text-align: center;
}

.tabledisplay{
	display: table;
	height: 100%;
}

.tablecell{
	display: table-cell;
	float: none!important;
	vertical-align: middle;
}

.tabkardex .grupodefault{
	padding-right: 0px;
}

.txt-center{
	text-align: center;
	padding-top: 4px;
}

.vcenter {
    position: absolute;
    top: 0px;
    right:0px;
    left:0px;
    bottom: 0px;
}

/**media query*/

@media screen and ( max-width: 1700px ) and (min-width: 769px) {
	.contenedormenu .botonmenu{
		display: inline;
	}

  div.contenedormenu {
    position: fixed;
    z-index: 5;
    width: 300px;
    top:53px;
    height: 760px;
  }

  div.contenedormenu .navbar{
  	/*border: 1px solid gray;*/
  	background-color: rgba(231,242,250,0.9);
  	-moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px #888;
	box-shadow: 0 0 1px 1px #888;
  	height: 100%;
  }

  div.cerrarmenu{
  	left: -261px;
  }



  div.mostrarmenu{
  	left: -14px;
  }

  div.contenedorDerecho{
  	width: 98%;
  	margin-left:10px;
  }

  div.contenidoPrincipal{
  	width: 100%;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
}


.slide{
    width: 100%;
    top: 55px;
    position: absolute;
    background-color: rgba(248,248,248,0.9);
    z-index: 4;
}