<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        
        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            No se encontraron modulos disponibles en el sistema.
        </div>
        <button class="btn btn-default" ng-click="onInicializarAplicacion()"><i class="glyphicon glyphicon-floppy-open"></i> Configurar Modoulos Iniciales</button>
    </body>
</html>
