<div class="modal-header">
    <button type="button" class="close" ng-click="cerrar()">&times;</button>\
    <h4 class="modal-title"><b>RECEPCIONES PARCIALES</b></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group">
            <div class="col-sm-12">
                <h4>' + that.proveedor + '</h4>
            </div>
        </div>
        <div class="form-group">
            <p class="col-sm-12">
                <b>Recepción: </b> ' + that.recepcionesId + '
            </p>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-4">
                <p><h4><b>Fecha Factura:</b></h4></p>
            </div>
            <div class="col-sm-8">
                <p class="input-group">
                    <input type="text" class="form-control readonlyinput" 
                           datepicker-popup="{{format}}" 
                           ng-model="root.fechaFactura" is-open="root.datepicker_fechaFactura" 
                           min="minDate"   
                           readonly  close-text="Cerrar" 
                           ng-change="" 
                           clear-text="Borrar" 
                           current-text="Hoy" 
                           placeholder="Fecha Factura" 
                           show-weeks="false" 
                           toggle-weeks-text="#"  />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="abrir_fechaFactura($event);"> 
                            <i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-4">
                <h4><b>Fecha Radicación:</b></h4>
            </div>
            <div class="col-sm-8">
                <p class="input-group">
                    <input type="text" class="form-control readonlyinput" 
                           datepicker-popup="{{format}}" 
                           ng-model="root.fechaRadicacion" is-open="root.datepicker_fechaRadicacion" 
                           min="minDate"   
                           readonly  close-text="Cerrar" 
                           ng-change="" 
                           clear-text="Borrar" 
                           current-text="Hoy" 
                           placeholder="Fecha Radicacion" 
                           show-weeks="false" 
                           toggle-weeks-text="#"  />
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="abrir_fechaRadicacion($event);"> 
                            <i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="form-group">
                 <div class="col-sm-4">
                  <h5><b>Fecha Vencimiento:</b></h5>
                 </div>
                 <div class="col-sm-8">
                    <p class="input-group">
                        <input type="text" class="form-control readonlyinput" 
                         datepicker-popup="{{format}}" 
                         ng-model="root.fechaVencimiento" is-open="root.datepicker_fechaVencimiento" 
                         min="minDate"   
                         readonly  close-text="Cerrar" 
                         ng-change="" 
                         clear-text="Borrar" 
                         current-text="Hoy" 
                         placeholder="Fecha Vencimiento" 
                         show-weeks="false" 
                         toggle-weeks-text="#"  />
                            <span class="input-group-btn">
                                   <button class="btn btn-default" ng-click="abrir_fechaVencimiento($event);"> 
                                   <i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                 </div>
            </div>
        </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-4">
                <h4><b>Numero Factura:</b></h4>
            </div>
            <p class="col-sm-8">
                <input type="text" validacion-numero-entero ng-model="root.numeroFactura"  class="form-control" required="required" >
            </p>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-4">
                <h4><b>Valor Total Factura:</b></h4>
            </div>
            <p class="col-sm-8">
                <input type="text" ng-model="root.totalFactura" validacion-numero-decimal class="form-control" required="required" >
            </p>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-4" >
                <h4><b>Total de Descuento:</b></h4>
            </div>
            <p class="col-sm-8">
                <input type="text" ng-model="root.totalDescuento" validacion-numero-decimal class="form-control">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <p class="col-sm-12">
                <textarea class="form-control col-xs-12" ng-model="root.descripcionFija"   rows="4" disabled ></textarea>
            </p>
            <p class="col-sm-12">
                <textarea placeholder="Observacion" class="form-control  col-xs-12" ng-model="root.descripcionFactura" rows="4" ></textarea>
            </p>
        </div>
    </div>
</div>
</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="{{root.pedidosSeleccionados.length}}==0" ng-click="facturar()">Facturar</button>
    <button class="btn btn-warning" ng-click="cerrar()">Cerrar</button>
</div>