<div>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="pull-left col-md-11">
                            <h4 class="text-center"><strong>Ingresar Documentos Bodega</strong></h4>
                        </div>
                        <div class="pull-right">
                            <div>
                                <button ng-click="cerrar_gestion_documentos_bodega()" class="pull-right btn btn-default btn-xs" style="margin-right:15px"><i class="glyphicon glyphicon-remove-circle"> </i> Cerrar</button>   
                            </div> 
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="row" ng-switch on="opcion_predeterminada" >                            

                            <div class="col-md-6" ng-switch on="(opcion_predeterminada == '0') || (opcion_predeterminada == '1')" >
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-lg-12">
                                        <h4>Seleccionar Cliente/Farmacia</h4>                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="input-group col-md-12">
                                            <select ui-select2=""  class="form-control selectgeneral pull-left" ng-model="$parent.opcion_predeterminada"  placeholder="Seleccionar Cliente/Farmacia" ng-change="seleccionar_cliente_farmacia()">                                                
                                                <option value="0">Farmacias</option>
                                                <option value="1">Clientes</option>
                                                <option value="2">Otras Empresas</option>
                                            </select>
                                        </p>
                                    </div>




                                    <div class="col-md-5 pull-right" ng-switch-when="true" >
                                        <p class="input-group">

                                            <input type="text" class="form-control" ng-keypress="buscador_productos($event, termino_busqueda);"  ng-model="termino_busqueda" placeholder="Buscar" name="" id="" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit" ng-click=""><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                                <div class="" style="height: 300px" ng-grid="lista_clientes_farmacias" ng-switch-when="true" > </div>

                                </br>

                            </div>
                            
                            <div class="col-md-6" ng-switch on="(opcion_predeterminada == '0') || (opcion_predeterminada == '1')" >
                                <div ng-switch-when="true">
                                    <div class="row" style="margin-bottom: 20px;">
                                        <div class="col-lg-12">
                                            <h4>Seleccionar Documento Bodega</h4> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 pull-right">
                                            <p class="input-group">

                                                <input type="text" class="form-control" ng-keypress="buscador_productos($event, termino_busqueda);"  ng-model="termino_busqueda" placeholder="Buscar" name="" id="" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit" ng-click=""><i class="glyphicon glyphicon-search"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="" style="height: 300px" ng-grid="lista_remisiones_bodega" > </div>
                                </div>
                            </div>

                            <!-- Contenedor para cuando se selecciona Otras Empresas -->
                            <div class="col-md-12" ng-switch-when="2" >
                                <div class="row">
                                    <div class="col-md-4">

                                        <fieldset>
                                            <legend>Documento Bodega</legend>      

                                            <div class="row">
                                                <div class="col-md-6">  
                                                    <input type="text" class="form-control"  placeholder="Prefijo" name="" id="" />
                                                </div>
                                                <div class="col-md-6">  
                                                    <input type="text" class="form-control"  placeholder="Numero" name="" id="" />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>                                       
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top: 50px;">
                                <div class="row">
                                    <div class="col-md-4">

                                        <fieldset>
                                            <legend>Cantidad Cajas</legend>      

                                            <div class="row">
                                                <div class="col-md-7">  
                                                    <input type="text" class="form-control"  placeholder="Cantidad Cajas" name="" id="" />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>                        
                                    <div class="col-md-4">
                                        <fieldset>
                                            <legend>Cantidad Neveras</legend> 
                                            <div class="row">
                                                <div class="col-md-7">  
                                                    <input type="text" class="form-control"  placeholder="Cantidad Neveras" name="" id="" />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset>
                                            <legend>Temperatura Neveras</legend> 
                                            <div class="row">
                                                <div class="col-md-7" >  
                                                    <input type="text" class="form-control"  placeholder="Temperatura Neveras" name="" id="" />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <br>
                                <div class="row">  
                                    <div class="col-md-4">
                                        <fieldset>
                                            <legend>Observación</legend>                                 
                                            <div class="row">  
                                                <div class="col-md-12">                                          
                                                    <textarea  class="col-lg-12 col-md-12 col-sm-12" rows="4" name="" placeholder="Ingresar Observación"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>                                    
                                </div> 
                            </div>
                            <div class="modal-footer col-md-12">
                                <!--button class="btn btn-default" ng-click="cancelar_orden_compra()">
                                    <span class="glyphicon glyphicon-remove" ></span> Cancelar</button-->
                                <button class="btn btn-default" ng-click="finalizar_orden_compra(true)" ng-disabled="vista_previa || numero_orden==0 || cantidad_productos_orden_compra==0" >
                                    <span class="glyphicon glyphicon-share-alt" ></span> Ingresar y Crear Nuevo
                                </button>
                                <button class="btn btn-default" ng-click="finalizar_orden_compra(true)" ng-disabled="vista_previa || numero_orden==0 || cantidad_productos_orden_compra==0" >
                                    <span class="glyphicon glyphicon-ok" ></span> Aceptar
                                </button>
                                <button class="btn btn-default" ng-click="finalizar_orden_compra(true)" ng-disabled="vista_previa || numero_orden==0 || cantidad_productos_orden_compra==0" >
                                    <span class="glyphicon glyphicon-ok" ></span> Cancelar
                                </button>
                            </div>  
                        </div>
                    </div>
                </div>       
            </div>
        </div>        
    </div>
</div>
