<div ng-controller="PlanillasController">
    <div ng-controller="GestionarPlanillasController">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h3 class="text-center"><strong>Logo</strong></h3>
                        </div>
                        <div class="pull-right">
                            <h3 class="text-center"><strong>Guia # {{ planilla.get_numero_guia() }}</strong></h3>
                        </div>
                    </div>
                    <div class="panel-body">                    
                        <div class="row">
                            <div class="col-md-4">

                                <fieldset>
                                    <legend>Ciudad</legend>      

                                    <ui-select ng-model="planilla.ciudad" ng-disabled="planilla.get_numero_guia() > 0" theme="select2" class="form-control selectgeneral pull-left" ng-change="seleccionar_ciudad()">
                                        <ui-select-match  placeholder="Seleccionar ciudad">{{ $select.selected.get_nombre_ciudad() }}</ui-select-match>
                                        <ui-select-choices refresh="listar_ciudades($select.search)" refresh-delay="0" repeat="ciudad in Empresa.get_ciudades() | filter:$select.search">
                                            {{ ciudad.get_nombre_ciudad() }}
                                        </ui-select-choices>
                                    </ui-select>                                   
                                </fieldset>
                            </div>                        
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend>Tranportador</legend> 
                                        <ui-select ng-model="planilla.transportadora" ng-disabled="planilla.get_numero_guia() > 0" theme="select2" class="form-control selectgeneral pull-left" ng-change="seleccionar_transportadora()">
                                            <ui-select-match  placeholder="Seleccionar transportadora">{{ $select.selected.get_descripcion() }}</ui-select-match>
                                            <ui-select-choices repeat="transportadora in Empresa.get_transportadoras() | filter:$select.search">
                                                {{ transportadora.get_descripcion() }}
                                            </ui-select-choices>
                                        </ui-select>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <legend>Numero Guia</legend>                                 
                                        <div class="row">  
                                            <div class="col-md-12">                                          
                                                <input type="text" ng-model="planilla.numero_guia_externo" ng-disabled="planilla.get_numero_guia() > 0 || planilla.get_transportadora() == undefined || planilla.get_transportadora().get_solicitar_guia() == '' || planilla.get_transportadora().get_solicitar_guia() == '0'" class="form-control"  placeholder="Ingrese Numero Guía" name="" id="" />
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>


                            </div>
                            <div class="col-md-4">
                                <fieldset>
                                    <legend>Fecha</legend> 
                                    <div class="row">
                                        <div class="col-md-7" style="margin-top: -14px">  
                                            <h3><strong>{{planilla.get_fecha_registro()}}</strong></h3>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <br>
                        <div class="row">  
                            <div class="col-md-4">

                                <fieldset>
                                    <legend>Observación</legend>                                 
                                    <div class="row">  
                                        <div class="col-md-12">                                          
                                            <textarea  ng-model="planilla.observacion" ng-disabled="planilla.get_numero_guia() > 0" class="col-lg-12 col-md-12 col-sm-12" rows="4" name="" placeholder="Ingresar Observación"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">

                                <fieldset>
                                    <legend>Conductor</legend>                                 
                                    <div class="row">  
                                        <div class="col-md-12">                                          
                                            <input type="text" ng-model="planilla.nombre_conductor" ng-disabled="planilla.get_numero_guia() > 0" class="form-control"  placeholder="Ingrese Nombre del Conductor" name="" id="" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset>
                                    <legend>Estado</legend> 
                                    <div class="row">
                                        <div class="col-md-7" style="margin-top: -14px">  
                                            <h3><strong>{{planilla.get_descripcion_estado()}}</strong></h3>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>   
                        <br>
                        <br>
                        <div class="row">  
                            <div class="col-md-12">

                                <div class="row">  
                                    <div class="">
                                        <div class="col-md-3">
                                            <p class="input-group">
                                                <button type="button" class="btn btn-default btn-medium pull-right ng-scope" ng-click="gestionar_documentos_bodega()" ng-disabled="validar_btn_ingreso_documentos(planilla)" > 
                                                    <span class="glyphicon glyphicon-plus"></span> Buscar Remisiones
                                                </button>
                                            </p>
                                        </div>

                                        <div class="col-md-3 pull-right">
                                            <p class="input-group">
                                                <input type="text" class="form-control" ng-keypress="buscador_documentos_planillas($event);" ng-model="datos_view.termino_busqueda_documentos" placeholder="Buscar" name="" id="" />
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit" ng-click="consultar_documentos_planilla_despacho()"><i class="glyphicon glyphicon-search"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="" style="height: 240px" ng-grid="lista_documentos_bodega" > </div>

                                <div class="row text-center col-md-12">
                                    <button type="button" class="btn btn-default btn-medium" ng-disabled="pagina_actual == 1" ng-click="pagina_anterior()">
                                        <span class="glyphicon glyphicon-chevron-left" ></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-medium" ng-disabled="cantidad_items == 0" ng-click="pagina_siguiente()">
                                        <span class="glyphicon glyphicon-chevron-right" ></span>
                                    </button>
                                </div>  

                                <div class="modal-footer col-md-12">
                                    <button class="btn btn-default" ng-click="cancelar_planilla_despacho()">
                                        <span class="glyphicon glyphicon-remove" ></span> Cancelar
                                    </button>
                                    <button class="btn btn-default" ng-disabled="planilla.get_estado()=='0' || planilla.get_estado()=='1' || planilla.get_documentos().length === 0" ng-click="descargar_enviar_reporte()">
                                        <span class="glyphicon glyphicon-cog" ></span> Generar reporte
                                    </button>
                                    <button class="btn btn-default" ng-disabled="planilla.get_estado()=='2' || planilla.get_documentos().length === 0" ng-click="confirmar_despacho_planilla()">
                                        <span class="glyphicon glyphicon-ok" ></span> Despachar
                                    </button>
                                </div>                            
                            </div>
                        </div>   
                    </div>
                </div>       
            </div>
        </div>
        <div  class="slide" slide-content open-callback="gestionar_documentos_bodega" close-callback="cerrar_gestion_documentos_bodega"   >
            <div ng-include src="slideurl"  ng-controller="GestionarDocumentosBodegaController"></div>
        </div>
    </div>
    <visualizar-reporte></visualizar-reporte>
</div>



