
<div class="modal-view" id="editarproductomodal">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h5 class="panel-title">Documentos seleccionados</h5>
        </div>
        <div class="panel-body">
            <div class="documentosGrid" ng-grid="listaDocumentos"></div>
        </div>

    </div>


   <div class="panel panel-info">
        <div class="panel-heading">
            <h5 class="panel-title">Observacion</h5>
        </div>
        <div class="panel-body">
            <label>Observacion para los documentos</label>
            <textarea ng-model="root.observacion" class="textareaObservacion">
                
            </textarea>
        </div>

    </div>

    <div class="panel panel-info panelCaja">
        <div class="panel-heading">
            <h3 class="panel-title">Cantidad total de:  Cajas / Neveras / Lios</h3>
        </div>
        <div class="panel-body">
            <div class="row">


                <div class="col-lg-4">
                    
                    <div class="input-group input-group">
                        <label class="lbl_editar_producto lbl_caja" for="numerocaja">Cajas </label>
                        <input type="text" role="group" ng-model="root.cantidadCajas" class="form-control"   validacion-numero />

                    </div>
                     
                </div>
                
                <div class="col-lg-4">
                    
                    <div class="input-group input-group">
                        <label class="lbl_editar_producto lbl_caja" for="numerocaja">Neveras </label>
                        <input type="text" role="group" ng-model="root.cantidadNeveras" class="form-control"   validacion-numero />

                    </div>
                     
                </div>
                
                <div class="col-lg-4">
                    
                    <div class="input-group input-group">
                        <label class="lbl_editar_producto lbl_caja" for="numerocaja">Lios </label>
                        <input type="text" role="group" ng-model="root.cantidadLios" class="form-control"   validacion-numero />

                    </div>
                     
                </div>

            </div>
        </div>
    </div>


    <div class="contenedorBotones">
        <button class="btn btn-primary ng-binding pull-right" ng-click="onIngresarLios()" ng-disabled="root.observacion.length == 0">Aceptar</button>
        <button class="btn btn-warning pull-right" style="margin-right:20px;" ng-click="cerrar()">Cancelar</button>
    </div>


</div>