<div>

    <!--route 1 {{welcomemsg}} got to child  <a ui-sref="route1.item">Route item</a>-->


    <div class="row">


        <div class="col-lg-2 pull-right">
            <p class="input-group">

                <input type="text" class="form-control" ng-keypress="onBuscarProducto($event, termino_busqueda)" ng-model="termino_busqueda" placeholder="Buscar" name="srch-term" id="srch-term" />
                <span class="input-group-btn">

                    <button class="btn btn-default" type="submit" ng-click="buscarProductos(termino_busqueda)"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </p>
        </div>

        <div class="col-md-12 col-lg-2 pull-right">
            <p class="input-group contenedorfiltrocombobox">
                <select ui-select2="" ng-model='filtro.empresa_seleccion' style='width:200px;'  class="form-control selectgeneral"   placeholder="Seleccionar Empresa" ng-change='onEmpresaSeleccionada()' >
                    <option></option>
                    <option ng-repeat="empresa in  listaEmpresas"  value="{{empresa.codigo}}"   >
                        {{empresa.nombre}}</option>
                </select>
            </p>
        </div>

    </div>

    <div class="table-responsive" >
        <div class="defaultGrid grid-responsive" ng-grid="listaProductos">
        </div>
    </div>
    </br>
    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactual == 0" ng-click="paginaAnterior()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="items == 0" ng-click="paginaSiguiente()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
    </div>

    <div  class="kardex slide" slide-content open-callback="mostrardetallekardex" close-callback="cerrardetallekardex"   >
        <div ng-include src="slideurl"  ng-controller="MovimientoController"></div>
    </div>

</div>