<div class="modal-header">
  <button type="button" class="close" ng-click="onCerrar()">&times;</button>
    <h4 class="modal-title">Existencias del producto</h4>
</div>
<div class="modal-body">
<div ng-grid="rootExistencias.listadoExistencias"  class="gridExistencias">
</div>
    
    
<div class="row">
    <div class= "">
        
    </div>
</div>
 <div class="modal-footer">
      <button class="btn btn-primary" ng-click="onCerrar()" >Aceptar</button>
      <button class="btn btn-warning" ng-click="onCerrar()">Cancelar</button>
       
  </div>

</div>


