<div flow-init="{ target : '/upload'}" flow-file-added="!!{txt:1,csv:1}[$file.getExtension()]">
    <div style="padding:5px" ng-controller="CreaCotizacionesController">  

        <div class="row"> 
            <div class="col-sm-12 col-md-12">

                <div class="panel panel-info marginBottom5">

                    <div class="panel-heading">
                        <h4 class="h4MarginTopBottom">Información de Cliente</h4>
                    </div>
                    <div class="panel-body">

                        <div class="row col-sm-6 col-md-12"> <!--Div Panel Superior-->
                            <!--class="btn btn-accion btn-primary pull-left"-->
                            <button type="button" class="btn btn-default btn-sm" ng-if="rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getEditable() && !rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getEncabezadoBloqueado()" ng-click="onRowClickSelectCliente()">
                                <span class="glyphicon glyphicon-user"></span> Seleccionar Cliente
                            </button>
                            <div class="pull-right" ng-if="rootCreaCotizaciones.es_cotizacion"><h3><font color="blue">Cotización N°: {{rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getNumeroCotizacion()}}</font></h3></div>
                            <div class="pull-right" ng-if="!rootCreaCotizaciones.es_cotizacion"><h3><font color="blue">Pedido N°: {{rootCreaCotizaciones.Empresa.getPedidoSeleccionado().get_numero_pedido()}}</font></h3></div>
                        </div> <!--Div Panel Superior-->

                        <div class="row col-lg-9 col-md-9 col-sm-5"> <!-- Div Panel Izquierdo -->
                            <div class="row"> <!--Div Fila 1-->

                                <div class="col-md-4"> <!--Contenedor Izquierdo-->
                                    <h4 class="h4MarginTopBottom">Cliente:</h4></br>
                                    {{rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getCliente().nombre_tercero}}
                                </div> <!--/Contenedor Izq-->

                                <div class="col-md-4"> <!--Contenedor Centro-->
                                    <h4 class="h4MarginTopBottom">Nit:</h4></br>
                                    {{rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getCliente().id}}
                                </div> <!--/Contenedor Centro-->

                                <div class="col-md-4"> <!--Contenedor Derecho-->
                                    <h4 class="h4MarginTopBottom">Dirección:</h4></br>
                                    {{rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getCliente().direccion}}
                                </div> <!--/Contenedor Der-->

                            </div>  <!--/Div Fila 1-->
                            <div class="row"> <!--Div Fila 2-->

                                <div class="col-md-4"> <!--Contenedor Izquierdo-->
                                    </br></br>
                                    <h4 class="h4MarginTopBottom">Vendedor: </h4>

                                    <select ui-select2="seleccionvendedor"  class="form-control selectgeneral pull-left" ng-disabled="rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getEncabezadoBloqueado() || !rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getEditable()" ng-model="rootCreaCotizaciones.seleccion_vendedor"  placeholder="Seleccionar Documento" ng-change="valorSeleccionado()">
                                        <option></option>
                                        <option ng-repeat="vendedor in rootCreaCotizaciones.Empresa.getVendedores()"  ng-value="vendedor.id" >{{vendedor.nombre_tercero}}</option>
                                    </select>


                                </div> <!--/Contenedor Izquierdo-->

                                <div class="col-md-4"> <!--Contenedor Centro-->
                                    </br></br>
                                    <h4 class="h4MarginTopBottom">Ubicación:</h4></br>
                                    {{rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getCliente().getUbicacion()}}
                                </div> <!--/Contenedor Centro-->

                                <div class="col-md-4"> <!--Contenedor Derecho-->
                                    </br></br>
                                    <h4 class="h4MarginTopBottom">Teléfono:</h4></br>
                                    {{rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getCliente().telefono}}
                                </div> <!--/Contenedor Der-->

                            </div> <!--/Div Fila 2-->

                        </div> <!-- / Div Panel Izquierdo -->

                        <div class="col-lg-3 col-md-3 col-sm-5"> <!-- Div Panel Derecho -->

                            <h4 class="h4MarginTopBottom">Observación:</h4></br>
                            <textarea class="col-lg-12 col-md-12 col-sm-5" rows="6" name="" ng-disabled="rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getEncabezadoBloqueado() || !rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getEditable()" ng-model="rootCreaCotizaciones.observacion" placeholder="Ingresar Observación"></textarea>
                        </div> <!-- / Div Panel Izquierdo -->

                    </div>  

                </div>

            </div>
        </div> <!-- / end payment details section -->

        <div slide-content open-callback="mostrarseleccioncliente" close-callback="cerrarseleccioncliente" class="slide" >
            <div ng-include src="slideurl"  ng-controller="SeleccionClienteController" ></div>
        </div>

        <!-- End Código desplazado -->
        <div class="row">
            <div class="col-xs-12">

                <div class="panel panel-info marginBottom5"> <!-- / begin banking details -->

                    <div class="panel-heading">
                        <h4 class="h4MarginTopBottom">Productos</h4>
                    </div>

                    <div>
                        <br/><!--Espacio entre Tab Y título de Panel-->
                    </div>

                    <tabset  class="">

                        <tab disabled="bloquear" active="rootCreaCotizaciones.tab_estados.tab1">

                            <tab-heading>
                                <b ng-if="rootCreaCotizaciones.es_cotizacion"> Detalle Cotización</b>
                                <b ng-if="!rootCreaCotizaciones.es_cotizacion"> Detalle Pedido</b>
                            </tab-heading>

                            <div class="panel-body">
                                <button type="button" class="btn btn-default btn-sm" ng-disabled="rootCreaCotizaciones.bloquear_incluir_producto" ng-if="rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getEditable()" ng-click="onRowClickSelectProducto(1)">
                                    <span class="glyphicon glyphicon-plus"></span> Incluir / Eliminar Producto
                                </button>
<!--                                <div class="input-group navbar-form paddingRightZero">
                                    <input type="text" class="form-control pull-right" ng-disabled="bloquear" ng-keypress="onKeyDetalleDocumentoTemporalPress($event, termino_busqueda)" ng-model="termino_busqueda" placeholder="Buscar Producto" name="srch-term" id="srch-term">
                                    <div class="input-group-btn" >
                                        <button class="btn btn-default pull-right" type="submit" ng-disabled="bloquear" ng-click="buscarDetalleDocumentoTemporal(termino_busqueda)"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>-->
                            </div>
                            <div class="panel-body">
                                <div class="auditadosGrid" ng-grid="rootCreaCotizaciones.lista_productos"></div>
                            </div>

                        </tab>

                        <tab ng-if="rootCreaCotizaciones.es_cotizacion && rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getEditable() && !rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getEncabezadoBloqueado() && !rootCreaCotizaciones.bloquear_upload" active="rootCreaCotizaciones.tab_estados.tab2">
                            <tab-heading>
                                <b> Cargar Archivo Plano </b>
                            </tab-heading>

                            <div> 

                                <br/>

                                <div class="row col-md-8 col-md-offset-2" style="margin-top: 25px">    

                                    <div flow-init="rootCreaCotizaciones.opciones_archivo"  flow-file-success="respuesta_archivo_plano($file, $message);" flow-file-added="!!{xlsx:1,xls:1}[$file.getExtension()]" flow-files-submitted="cargar_archivo_plano($flow)" class="ng-scope" flow-prevent-drop=""  flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''" >
                                        <div class="drop txt-center" flow-drop="" flow-drop-enabled="!(vista_previa || codigo_proveedor_id == '' || unidad_negocio_id == '' || observacion == '')" ng-class="dropClass" >

                                            <div class="col-md-12">
                                                <img  ng-hide="$flow.files.length" src="../../../images/Cloud-Upload-Blue.png" style="max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;"/>
                                                <img ng-show="$flow.files.length" src="../../../images/xls.png" style="max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;"/>
                                            </div>
                                            <div ng-hide="$flow.files.length">
                                                <b>OR</b> Arrastrar y Soltar el archivo AQUI!!..
                                            </div>
                                            <div class="" ng-repeat="file in $flow.files" ng-show="$flow.files.length">
                                                Nombre Archivo : <label>{{file.name}}</label>
                                                
                                                <!---->
                                                <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                                         aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}">
                                                    </div>
                                                    <span class="sr-only ng-binding">1% Complete</span>
                                                </div>
                                                <!---->
                                                
                                            </div>
                                        </div>

                                        <br>

                                        <div class="well txt-center">
                                            <span class="btn btn-default" flow-btn="" ng-disabled="rootCreaCotizaciones.bloqueo_upload" ng-hide="$flow.files.length" >
                                                <!--ng-disabled="vista_previa || codigo_proveedor_id == '' || unidad_negocio_id == '' || observacion == '' "-->
                                                <span class="glyphicon glyphicon-folder-open" style="margin-right: 5px;"></span> Seleccionar Archivo
                                                <input type="file" style="visibility: hidden; position: absolute;">
                                            </span>                                                
                                            <button class="btn btn-default" ng-click="$flow.cancel()" ng-disabled="rootCreaCotizaciones.bloqueo_upload" ng-show="$flow.files.length">
                                                <span class="glyphicon glyphicon-minus" ></span> Remover
                                            </button>
                                            <button class="btn btn-default" ng-click="subir_archivo_plano()" ng-disabled="rootCreaCotizaciones.bloqueo_upload" ng-show="$flow.files.length">
                                                <!--ng-disabled="vista_previa || codigo_proveedor_id == '' || unidad_negocio_id == '' || observacion == '' "-->
                                                <span class="glyphicon glyphicon-cloud-upload" ></span> Subir
                                            </button>
                                        </div>
                                        
                                        <!-- Barra de Progreso - Inicio -->
                                        
<!--                                        <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                                 aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}">
                                            </div>
                                            <span class="sr-only ng-binding">1% Complete</span>
                                        </div>-->
                                       <!-- Barra de Progreso - Fin --> 
                                    </div>
                                </div>

                            </div>

                        </tab>

                    </tabset>
                </div>

            </div>    
        </div> <!-- / end class row --> 

        <div class="col-sm-12 btn-toolbar">
<!--            <button type="submit" ng-disabled="!rootCreaCotizaciones.bloqueo_producto_incluido" class="btn btn-accion btn-success pull-right">Generar Pedido</button>-->
            <button type="submit" class="btn btn-accion btn-success pull-right" ng-if="rootCreaCotizaciones.es_cotizacion" ng-disabled="!rootCreaCotizaciones.Empresa.getPedidoSeleccionado().getEditable()" ng-click="generarPedidoCliente()">Generar Pedido</button>
            <button type="submit" class="btn btn-accion btn-danger pull-right" ng-if="rootCreaCotizaciones.es_cotizacion" ng-click="generarPdfCotizacionCliente()">Generar PDF</button>
            <button type="submit" class="btn btn-accion btn-danger pull-right" ng-if="!rootCreaCotizaciones.es_cotizacion" ng-click="generarPdfPedidoCliente()">Generar PDF</button>
            <button type="submit" class="btn btn-accion btn-warning pull-right" ng-if="rootCreaCotizaciones.es_cotizacion" ng-click="abrirViewPedidosClientes()">Guardar Cotización</button>
            <button type="submit" class="btn btn-accion btn-warning pull-right" ng-if="!rootCreaCotizaciones.es_cotizacion" ng-click="abrirViewPedidosClientes()">Guardar Pedido</button>
            <!--ng-if="rootCreaCotizaciones.es_cotizacion"-->
        </div>

        <br/><br/><br/><br/><br/>

        <div slide-content open-callback="mostrarseleccionproducto" close-callback="cerrarseleccionproducto"  class="slide" >
            <div ng-include src="slideurl"  ng-controller="SeleccionProductoClienteController" ></div>
        </div>

    </div>
    <visualizar-reporte></visualizar-reporte>
</div>