<!--<div flow-init="{target: '/pedidoFarmaciaArchivoPlano'}" flow-file-added="!!{xlsx:1,xls:1}[$file.getExtension()]">-->
    
    <div class ="padding5" ng-controller="CreaPedidoFarmaciaController">    

        <div class="row marginBottom5"> <!--Div Row Superior-->

            <div class="col-sm-12 col-md-12 marginBottom5">

                <div class="panel panel-default marginBottom0 paddingBottomZero"> <!--Div Panel Principal Superior-->

                    <div class="panel-heading">
                        <h4 class="h4MarginTopBottom">Información General</h4></br>
                    </div>

                    <div class="panel-body marginBottom0 paddingBottomZero marginRightZero"> <!--Div Panel Body-->

                        <div class="row col-sm-12 col-md-12 marginBottom0 paddingBottomZero paddingRightZero"> <!--Div Contenedor Principal-->

                            <div class="col-sm-12 col-md-6 paddingRightZero paddingLeftZero marginBottom0 paddingBottomZero"> <!--Div Contenedor Izquierdo-->

                                <div class="panel panel-default marginBottom0 col-sm-12 col-md-12 paddingBottomtZero"> <!--Div Encabezado-->
                                    <h4><b><i>De</i></b></h4>
                                </div> <!--/Div Encabezado-->

                                <div class="panel panel-default marginTop0 col-sm-12 col-md-12 paddingTopZero marginBottom0 paddingBottomZero altoSeleccionBodega"> <!--Div Cuerpo-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            </br>
                                            <h4 class="h4MarginTopBottom">Empresa: </h4>

                                            <select ui-select2="deseleccionempresa"  class="form-control selectgeneral pull-left" ng-disabled="rootCreaPedidoFarmacia.bloqueo_producto_incluido" ng-model="rootCreaPedidoFarmacia.de_seleccion_empresa"  placeholder="Seleccionar Empresa" ng-change="valorSeleccionado()">
                                                <option></option>
                                                <option ng-repeat="empresa in  rootCreaPedidoFarmacia.de_lista_empresas"  ng-value="empresa.empresa_id" >{{empresa.razon_social}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            </br>
                                            <h4 class="h4MarginTopBottom">Centro Utilidad: </h4>

                                            <select ui-select2="deseleccioncentroutilidad"  class="form-control selectgeneral pull-left" ng-disabled="rootCreaPedidoFarmacia.bloqueo_producto_incluido || rootCreaPedidoFarmacia.bloqueo_centro_utilidad_de" ng-model="rootCreaPedidoFarmacia.de_seleccion_centro_utilidad"  placeholder="Seleccionar Centro" ng-change="valorSeleccionado()">
                                                <option></option>
                                                <option ng-repeat="centro_utilidad in  rootCreaPedidoFarmacia.de_lista_centro_utilidad"  ng-value="centro_utilidad.centro_utilidad_id" >{{centro_utilidad.descripcion}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            </br>
                                            <h4 class="h4MarginTopBottom">Bodega: </h4>

                                            <select ui-select2="deseleccionbodega"  class="form-control selectgeneral pull-left" ng-disabled="rootCreaPedidoFarmacia.bloqueo_producto_incluido || rootCreaPedidoFarmacia.bloqueo_bodega_de" ng-model="rootCreaPedidoFarmacia.de_seleccion_bodega"  placeholder="Seleccionar Bodega" ng-change="valorSeleccionado()">
                                                <option></option>
                                                <option ng-repeat="bodega in  rootCreaPedidoFarmacia.de_lista_bodegas"  ng-value="bodega.bodega_id" >{{bodega.descripcion}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div> <!--/Div Cuerpo-->

                            </div> <!--/Div Contenedor Izquierdo-->

                            <div class="col-sm-12 col-md-6 paddingLeftZero paddingRightZero marginBottom0 paddingBottomZero"> <!--/Div Contenedor Derecho-->

                                <div class="panel panel-default marginBottom0 col-sm-12 col-md-12 paddingBottomZero"> <!--Div Encabezado-->

                                    <div class="pull-left col-sm-12 col-md-6"> <!--Div Izquierdo-->
                                        <h4><b><i>Para</i></b></h4>
                                    </div> <!--/Div Izquierdo-->

                                    <div class="pull-right col-sm-12 col-md-6"> <!--Div Derecho-->
                                        <h3 class="h4MarginTopBottom"><font color="blue">Pedido N°: {{rootCreaPedidoFarmacia.pedido.numero_pedido}}</font></h3>
                                    </div> <!--/Div Derecho-->

                                </div> <!--/Div Encabezado-->

                                <div class="panel panel-default marginTop0 col-sm-12 col-md-12 paddingTopZero marginBottom0 paddingBottomZero altoSeleccionBodega"> <!--Div Cuerpo-->

                                    <div class="row">
                                        <div class="col-md-6">
                                            </br>
                                            <h4 class="h4MarginTopBottom">Farmacia: </h4>

                                            <select ui-select2="paraseleccionempresa"  class="form-control selectgeneral pull-left" ng-disabled="rootCreaPedidoFarmacia.bloqueo_producto_incluido" ng-model="rootCreaPedidoFarmacia.para_seleccion_empresa"  placeholder="Seleccionar Farmacia" ng-change="valorSeleccionado()">
                                                <option></option>
                                                <option ng-repeat="empresa in  rootCreaPedidoFarmacia.para_lista_empresas"  ng-value="[empresa.empresa_id, empresa.nombre_empresa]" >{{empresa.nombre_empresa}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            </br>
                                            <h4 class="h4MarginTopBottom">Centro Utilidad: </h4>

                                            <select ui-select2="paraseleccioncentroutilidad"  class="form-control selectgeneral pull-left" ng-disabled="rootCreaPedidoFarmacia.bloqueo_producto_incluido || rootCreaPedidoFarmacia.bloqueo_centro_utilidad_para" ng-model="rootCreaPedidoFarmacia.para_seleccion_centro_utilidad"  placeholder="Seleccionar Centro" ng-change="valorSeleccionado()">
                                                <option></option>
                                                <option ng-repeat="centro_utilidad in rootCreaPedidoFarmacia.para_lista_centro_utilidad"  ng-value="[centro_utilidad.centro_utilidad_id, centro_utilidad.nombre_centro_utilidad]" >{{centro_utilidad.nombre_centro_utilidad}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            </br>
                                            <h4 class="h4MarginTopBottom">Bodega: </h4>

                                            <select ui-select2="paraseleccionbodega"  class="form-control selectgeneral pull-left" ng-disabled="rootCreaPedidoFarmacia.bloqueo_producto_incluido || rootCreaPedidoFarmacia.bloqueo_bodega_para" ng-model="rootCreaPedidoFarmacia.para_seleccion_bodega"  placeholder="Seleccionar Bodega" ng-change="valorSeleccionado()">
                                                <option></option>
                                                <option ng-repeat="bodega in  rootCreaPedidoFarmacia.para_lista_bodegas"  ng-value="[bodega.bodega_id, bodega.nombre_bodega]" >{{bodega.nombre_bodega}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div> <!--/Div Cuerpo-->

                            </div> <!--/Div Contenedor Derecho-->

                            <div class="panel panel-default marginTop0 paddingTopZero paddingBottomZero marginBottom0 col-sm-12 col-md-12 col-lg-12 altoObservacion"> <!--Div Contenedor Inferior-->
                                </br>
                                <h4 class="h4MarginTopBottom">Observación:</h4></br>
                                <textarea  class="col-lg-12 col-md-12 col-sm-12" rows="4" name="" ng-model="rootCreaPedidoFarmacia.observacion" placeholder="Ingresar Observación"></textarea>

                            </div> <!--/Div Contenedor Inferior-->

                        </div> <!--/Div Contenedor Principal-->

                    </div>  <!--/Div Panel Body-->

                </div> <!--/Div Panel Principal Superior-->

            </div>

        </div> <!--/Div Row Superior-->

        <!-- End Código desplazado -->
        <div class="row">
            <div class="col-xs-12">

                <div>
                    <br/><!--Espacio entre Tab Y título de Panel-->
                </div>

                <tabset> <!--Grupo de Tabs-->

                    <tab disabled="rootCreaPedidoFarmacia.bloquear_tab" active="rootCreaPedidoFarmacia.tab_estados.tab1">

                        <tab-heading>
                            <b> {{rootCreaPedidoFarmacia.titulo_tab_1}} </b>
                        </tab-heading>

                            <div class="input-group navbar-form ">
                                <div ng-if="rootCreaPedidoFarmacia.grid_pedido_generado_visible === false">
                                    <button type="button" class="btn btn-default btn-medium ng-scope" ng-disabled="rootCreaPedidoFarmacia.bloquear_boton_incluir" ng-click="onIncluirProductos(2)">
                                        <span class="glyphicon glyphicon-plus"></span> Incluir Productos
                                    </button>
                                </div>                                
                            </div>

                            <div class="table-responsive" ng-if="rootCreaPedidoFarmacia.grid_pedido_generado_visible === false">
                                <div class="auditadosGrid grid-responsive" ng-grid="rootCreaPedidoFarmacia.lista_productos"></div>
                            </div>
                            <div class="table-responsive" ng-if="rootCreaPedidoFarmacia.grid_pedido_generado_visible === true">
                                <div class="auditadosGrid grid-responsive" ng-grid="rootCreaPedidoFarmacia.detalle_pedido_generado"></div>
                            </div>

                    </tab>

                    <tab disabled="rootCreaPedidoFarmacia.bloqueo_upload" active="rootCreaPedidoFarmacia.tab_estados.tab2">
                        <tab-heading>
                            <b> {{rootCreaPedidoFarmacia.titulo_tab_2}} </b>
                        </tab-heading>

                        <div>

                            <br/>

                            <div class="row col-md-8 col-md-offset-2" style="margin-top: 25px">    

                                <div flow-init="rootCreaPedidoFarmacia.opciones_archivo"  flow-file-success="respuesta_archivo_plano($file, $message);" flow-file-added="!!{xlsx:1,xls:1}[$file.getExtension()]" flow-files-submitted="cargar_archivo_plano($flow)" class="ng-scope" flow-prevent-drop=""  flow-drag-enter="dropClass='drag-over'" flow-drag-leave="dropClass=''" >
                                    <div class="drop txt-center" flow-drop="" flow-drop-enabled="!(vista_previa || codigo_proveedor_id == '' || unidad_negocio_id == '' || observacion == '')" ng-class="dropClass" >

                                        <div class="col-md-12">
                                            <img  ng-hide="$flow.files.length" src="../../../images/Cloud-Upload-Blue.png" style="max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;"/>
                                            <img ng-show="$flow.files.length" src="../../../images/xls.png" style="max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;"/>
                                        </div>
                                        <div ng-hide="$flow.files.length">
                                            <b>OR</b> Arrastrar y Soltar el archivo AQUI!!..                                                    
                                        </div>
                                        <div class="" ng-repeat="file in $flow.files" ng-show="$flow.files.length">
                                            Nombre Archivo : <label>{{file.name}}</label>                                                                                                                                                       
                                        </div>
                                    </div>

                                    <br>

                                    <div class="well txt-center">
                                        <span class="btn btn-default" flow-btn="" ng-hide="$flow.files.length" >
                                            <!--ng-disabled="vista_previa || codigo_proveedor_id == '' || unidad_negocio_id == '' || observacion == '' "-->
                                            <span class="glyphicon glyphicon-folder-open" style="margin-right: 5px;"></span> Seleccionar Archivo
                                            <input type="file" style="visibility: hidden; position: absolute;">
                                        </span>                                                
                                        <button class="btn btn-default" ng-click="$flow.cancel()" ng-disabled="" ng-show="$flow.files.length">
                                            <span class="glyphicon glyphicon-minus" ></span> Remover
                                        </button>
                                        <button class="btn btn-default" ng-click="subir_archivo_plano()" ng-show="$flow.files.length">
                                            <!--ng-disabled="vista_previa || codigo_proveedor_id == '' || unidad_negocio_id == '' || observacion == '' "-->
                                            <span class="glyphicon glyphicon-cloud-upload" ></span> Subir
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </tab>                    
                </tabset>  
            </div>    
        </div>

        <div class="col-sm-12 btn-toolbar">
            <button type="submit" ng-disabled="rootCreaPedidoFarmacia.bloqueo_generar_pedido" class="btn btn-default pull-right" ng-click="generarPedidoFarmacia()" ng-show="rootCreaPedidoFarmacia.grid_pedido_generado_visible === false"><span class="glyphicon glyphicon-cog"></span> Generar Pedido</button>
            <button type="submit" ng-disabled="rootCreaPedidoFarmacia.bloqueo_generar_pedido" class="btn btn-dedault pull-right" ng-click="abrirViewVerPedidosFarmacias()" ng-show="rootCreaPedidoFarmacia.grid_pedido_generado_visible === false"><span class="glyphicon glyphicon-ok"></span> Guardar Temporal</button>
            <button type="submit" class="btn btn-default pull-right" ng-click="abrirViewVerPedidosFarmaciasEliminarTemporal()" ng-show="rootCreaPedidoFarmacia.grid_pedido_generado_visible === false"><span class="glyphicon glyphicon-remove"></span> Cancelar Pedido</button>
            <button type="submit" class="btn btn-default pull-right" ng-click="abrirViewVerPedidosFarmacias()" ng-show="rootCreaPedidoFarmacia.grid_pedido_generado_visible === true"><span class="glyphicon glyphicon-off"></span> Finalizar</button>
            <button type="submit" class="btn btn-default pull-right" ng-click="generarPdfPedidoFarmacia()" ng-show="rootCreaPedidoFarmacia.grid_pedido_generado_visible === true"><span class="glyphicon glyphicon-file"></span> Generar PDF</button>
        </div>

        <br/><br/><br/><br/><br/>

        <div slide-content open-callback="mostrarseleccionproducto" close-callback="cerrarseleccionproducto"  class="slide" >
            <div ng-include src="slideurl"  ng-controller="SeleccionProductoFarmaciaController" ></div>
        </div>
        <visualizar-reporte></visualizar-reporte>
    </div>
    
<!--</div>-->