
<div class="altoSlide">
    
    <div>
        <button ng-click="cerrar()" class="pull-right btn btn-default btn-xs marginRightCerrarSlide"><i class="glyphicon glyphicon-remove-circle"> </i> Cerrar</button>   
    </div>  
    
    <div class="row">
        <div class="col-xs-12">
          
            <div class="panel panel-info marginBottom5">

                <div class="panel-heading">
                  <h4 class="h4MarginTopBottom" align="center">Selección de Producto para Farmacias</h4>
                </div>
                <div class="panel-body">
                        
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        
                        <div class="col-sm-12 col-md-6 col-lg-3 pull-left input-group">
                            <div class="row" style="margin-bottom: 20px;">
                                <div class="col-lg-12">
                                    <h4>Convenciones</h4>
                                    <div class="label label-success" style="position: relative;">Normales</div>
                                    <div class="label label-danger" style="position: relative;">Alto Costo</div>
                                    <div class="label label-warning" style="position: relative;">Controlados</div>
                                    <div class="label label-default" style="position: relative;">Insumos</div>
                                    <div class="label label-info" style="position: relative;">Nevera</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-lg-6 pull-left">
                            <alert ng-show="rootSeleccionProductoFarmacia.no_incluir_producto == true" type="danger">El Producto que intenta Incluir ya fue INGRESADO. Elimínelo primero de los Productos Seleccionados.</alert>
                        </div>
                        
                        <div class="col-sm-12 col-md-6 col-lg-3 pull-right input-group">

                            <input type="text" class="form-control pull-right" ng-keypress="onTeclaBuscarSeleccionProducto($event)" ng-model="rootSeleccionProductoFarmacia.termino_busqueda" placeholder="Buscar Producto" name="srch-term" id="srch-term">

                            <div class="input-group-btn" >
                                <button class="btn btn-default pull-right" type="submit" ng-click="onBuscarSeleccionProducto(obtenerParametros())"><i class="glyphicon glyphicon-search"></i></button>
                            </div>

                        </div>
                    </div>

                </div>
                <!--<div class="panel-body table-responsive" ng-if="rootSeleccionProductoFarmacia.listado_productos.length > 0">-->
                <div class="panel-body table-responsive">
                    <div class="mediaPantallaGrid grid-responsive" ng-grid="lista_productos"></div>
                </div>
            </div>
              
        </div>    
    </div>
    
    <br/>

    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="rootSeleccionProductoFarmacia.paginaactual == 1" ng-click="paginaAnterior()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="rootSeleccionProductoFarmacia.items == 0" ng-click="paginaSiguiente()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
    </div>

    <br/>

    <div class="container col-xs-12 paddingRightZero paddingLeftZero" >
        <br><br><br>
        <div class="fieldset contenedorGridSeleccion">
            <legend>Productos Seleccionados</legend>
            <div class="row-fluid table-responsive" ng-if="rootSeleccionProductoFarmacia.Empresa.getPedidoSeleccionado().lista_productos.length > 0">
                <div class="mediaPantallaGrid grid-responsive" ng-grid="lista_productos_seleccionados"></div>
            </div>
        </div>
    </div>

</div>