
<div style ="padding:5px;height:900px;"> 
    
    <div>
        <button ng-click="cerrar()" class="pull-right btn btn-default btn-xs" style="margin-right:15px"><i class="glyphicon glyphicon-remove-circle"> </i> Cerrar</button>   
    </div>  
    
    <div class="row">
        <div class="col-xs-12">
          
            <div class="panel panel-info marginBottom5">

                <div class="panel-heading">
                  <h4 class="h4MarginTopBottom" align="center">Buscar Producto</h4>
                </div>
                <div class="panel-body">
                    
                    <div class="input-group navbar-form paddingRightZero">
                        <input type="text" class="form-control pull-right" ng-keypress="onKeySeleccionProductoPress($event, termino_busqueda)" ng-model="termino_busqueda" placeholder="Buscar Producto" name="srch-term" id="srch-term">
                        <div class="input-group-btn" >
                            <button class="btn btn-default pull-right" type="submit" ng-click="buscarSeleccionProducto(termino_busqueda)"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                    
                </div>
                <div class="panel-body">
                    <div class="auditadosGrid" ng-grid="lista_productos"></div>
                </div>
            </div>
              
        </div>    
    </div>

    <div class="container col-xs-12 paddingRightZero paddingLeftZero" >
        <br><br><br>
        <div class="fieldset" style ="border: 1px solid #ccc; padding: 10px; padding:10px;">
            <legend>Productos Seleccionados</legend>
            <div class="row-fluid">                
                <div class="auditadosGrid" ng-grid="lista_productos_seleccionados"></div>
            </div>
        </div>
    </div>

</div>