
<div style ="padding:5px;height:900px;"> 
    
    <div>
        <button ng-click="cerrar()" class="pull-right btn btn-default btn-xs" style="margin-right:15px"><i class="glyphicon glyphicon-remove-circle"> </i> Cerrar</button>   
    </div>  
    
    <div class="row">
        <div class="col-xs-12">
          
            <div class="panel panel-info marginBottom5">

                <div class="panel-heading">
                  <h4 class="h4MarginTopBottom" align="center">Selección de Producto para Clientes</h4>
                </div>
                <div class="panel-body">
                    
                    <div class="col-sm-12 col-md-6 col-lg-5 pull-left input-group">
                        <div class="row" style="margin-bottom: 20px;">
                            <div class="col-lg-12">

                                <h4>Filtro Tipo Producto:</h4>

                                <div class="btn-group">
                                    <label class="btn btn-default">
                                      <input type="radio" name="tipoProducto" ng-model="rootSeleccionProductoCliente.tipoProducto" value="0" /><span class="label label-default">Todos</span>
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" name ="tipoProducto" ng-model="rootSeleccionProductoCliente.tipoProducto" value="1" /><span class="label label-success">Normales</span>
                                    </label>
                                    <label class="btn btn-default">
                                      <input type="radio" name ="tipoProducto" ng-model="rootSeleccionProductoCliente.tipoProducto" value="2" /><span class="label label-danger">Alto Costo</span>
                                    </label>
                                    <label class="btn btn-default">
                                      <input type="radio" name ="tipoProducto" ng-model="rootSeleccionProductoCliente.tipoProducto" value="3" /><span class="label label-warning">Controlados</span>
                                    </label>
                                    <label class="btn btn-default">
                                      <input type="radio" name ="tipoProducto" ng-model="rootSeleccionProductoCliente.tipoProducto" value="4" /><span class="label label-primary">Insumos</span>
                                    </label>
                                    <label class="btn btn-default">
                                      <input type="radio" name ="tipoProducto" ng-model="rootSeleccionProductoCliente.tipoProducto" value="5" /><span class="label label-info">Nevera</span>
                                    </label>                                        
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-md-6 col-lg-3 pull-right">
                        
                        <div class="row col-sm-12 col-md-12 col-lg-12 input-group">

                            <input type="text" class="form-control" ng-keypress="onTeclaBuscarSeleccionProducto($event)" ng-model="rootSeleccionProductoCliente.termino_busqueda" placeholder="Buscar Producto" name="srch-term" id="srch-term">
                            <div class="input-group-btn" >
                                <button class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" type="submit"><i class="glyphicon glyphicon-search"></i><span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-options">
                                    <li><a href="javascript:void(0);" ng-click="onBuscarSeleccionProducto(obtenerParametros(0))" >Todo</a></li>
                                    <li></li>
                                    <li><a href="javascript:void(0);" ng-click="onBuscarSeleccionProducto(obtenerParametros(1))">Cód. Producto</a></li>
                                    <li></li>
                                    <li><a href="javascript:void(0);" ng-click="onBuscarSeleccionProducto(obtenerParametros(2))">Molécula</a></li>
                                    <li></li>
                                    <li><a href="javascript:void(0);" ng-click="onBuscarSeleccionProducto(obtenerParametros(3))">Descripción</a></li>
                                    <li></li>
                                </ul>
                            </div>

                        </div>
                    
                        <div class=" row col-sm-12 col-md-12 col-lg-12 paddingLeftZero">
                            <br/>
                            Tipo Producto Búsqueda: <!--{{rootSeleccionProductoFarmacia.tipoProducto}}-->
                            <span class="label label-default" ng-show="rootSeleccionProductoCliente.tipoProducto == 0" >Todos</span>
                            <span class="label label-success" ng-show="rootSeleccionProductoCliente.tipoProducto == 1" >Normales</span>
                            <span class="label label-danger" ng-show="rootSeleccionProductoCliente.tipoProducto == 2">Alto Costo</span>
                            <span class="label label-warning" ng-show="rootSeleccionProductoCliente.tipoProducto == 3">Controlados</span>
                            <span class="label label-primary" ng-show="rootSeleccionProductoCliente.tipoProducto == 4">Insumos</span>
                            <span class="label label-info" ng-show="rootSeleccionProductoCliente.tipoProducto == 5">Nevera</span>            
                        </div>
                        
                    </div>
                    
                </div>
                <div class="panel-body table-responsive" ng-if="rootSeleccionProductoCliente.Empresa.getProductos().length > 0">
                    <div class="mediaPantallaGrid grid-responsive" ng-grid="rootSeleccionProductoCliente.lista_productos"></div>
                </div>
                
                <div class="row text-center">
                    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootSeleccionProductoCliente.paginaactual == 1" ng-click="paginaAnterior()">
                        <span class="glyphicon glyphicon-chevron-left" ></span>
                    </button>
                    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootSeleccionProductoCliente.items == 0" ng-click="paginaSiguiente()">
                        <span class="glyphicon glyphicon-chevron-right" ></span>
                    </button>
                </div>
                
            </div>
              
        </div>
    </div>

    <div class="container col-xs-12 paddingRightZero paddingLeftZero" >
        <br><br><br>
        <!--<div class="fieldset" style ="border: 1px solid #ccc; padding: 10px; padding:10px;">-->
        <div>
            <legend>Productos Seleccionados</legend>
            
            <!--<div class="row-fluid" ng-if="rootSeleccionProductoCliente.listado_productos_seleccionados.length > 0">-->                
            <div class="row-fluid table-responsive" ng-if="rootSeleccionProductoCliente.Empresa.getPedidoSeleccionado().obtenerProductos().length > 0">
                <div class="tercioPantallaGrid grid-responsive" ng-grid="rootSeleccionProductoCliente.lista_productos_seleccionados"></div>
            </div>
        </div>
    </div>

</div>