
<div style ="padding:5px;height:900px;"> 
    
    <div>
        <button ng-click="cerrar()" class="pull-right btn btn-default btn-xs" style="margin-right:15px"><i class="glyphicon glyphicon-remove-circle"> </i> Cerrar</button>   
    </div>  
    
    <div class="row">
        <div class="col-xs-12">
          
            <div class="panel panel-info marginBottom5">

                <div class="panel-heading">
                  <h4 class="h4MarginTopBottom" align="center">Selección de Producto para Clientes</h4>
                </div>
                <div class="panel-body">
                    
                    <div class="input-group navbar-form paddingRightZero">
                        <input type="text" class="form-control pull-right" ng-keypress="onTeclaBuscarSeleccionProducto($event)" ng-model="rootSeleccionProductoCliente.termino_busqueda" placeholder="Buscar Producto" name="srch-term" id="srch-term">
                        <div class="input-group-btn" >
                            <button class="btn btn-default pull-right" type="submit" ng-click="onBuscarSeleccionProducto(obtenerParametros())"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                    
                </div>
                <div class="panel-body" ng-if="rootSeleccionProductoCliente.Empresa.getProductos().length > 0">
                    <div class="auditadosGrid" ng-grid="lista_productos"></div>
                </div>
                
                <div class="row text-center">
                    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootSeleccionProductoCliente.paginaactual == 1" ng-click="paginaAnterior()">
                        <span class="glyphicon glyphicon-chevron-left" ></span>
                    </button>
                    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootSeleccionProductoCliente.items == 0" ng-click="paginaSiguiente()">
                        <span class="glyphicon glyphicon-chevron-right" ></span>
                    </button>
                </div>
                
            </div>
              
        </div>
    </div>

    <div class="container col-xs-12 paddingRightZero paddingLeftZero" >
        <br><br><br>
        <div class="fieldset" style ="border: 1px solid #ccc; padding: 10px; padding:10px;">
            <legend>Productos Seleccionados</legend>
            
            <!--<div class="row-fluid" ng-if="rootSeleccionProductoCliente.listado_productos_seleccionados.length > 0">-->                
            <div class="row-fluid" table-responsive ng-if="rootSeleccionProductoCliente.Empresa.getPedidoSeleccionado().obtenerProductos().length > 0">
                <div class="mediaPantallaGrid grid-responsive" ng-grid="lista_productos_seleccionados"></div>
            </div>
        </div>
    </div>

</div>