<div ng-controller='ContenedorPedidosFarmaciasController'>
    <div> <!--ng-controller="VerPedidosFarmaciasController"-->

        <tabset>

            <tab ng-controller="VerPedidosFarmaciasController">
                <tab-heading>
                    Pedidos Farmacias <!--<span ng-show="notificacionclientes > 0" class="badge badge-warning">{{notificacionclientes}}</span>-->
                </tab-heading>

                <!--<div class="row">-->
                    <!--<br/>-->

                    <div class="">
                        <!--<div class="input-group">-->
                            <button type="button" class="btn btn-default btn-sm pull-left" ng-click="abrirViewPedidoFarmacia()" ng-validate-events="{{root.opcionesModulo.btnCrearPedido}}" name="btnCrearPedido">
                                <span class="glyphicon glyphicon-plus"></span> Crear Pedido
                            </button>
                        <!--</div>-->
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 marginLeft">
                        <!--<div class="input-group">-->
                            <select ui-select2  class="selectgeneral anchoSeleccionEmpresa" ng-model="rootVerPedidosFarmacias.seleccion" data-placeholder="Seleccionar Farmacia" ng-change="valorSeleccionado()">
                                <option ng-repeat="farmacia in rootVerPedidosFarmacias.listado_farmacias"  ng-value="farmacia.empresa_id" >{{farmacia.razon_social}}</option>
                            </select>

                        <!--</div>-->
                    </div>

                    <div class="input-group  navbar-form buscadorgeneral">
                        <!--<div class="input-group">-->
                            <input type="text" class="form-control pull-right" ng-keypress="onTeclaBuscarPedidosFarmacias($event)" ng-model="rootVerPedidosFarmacias.termino_busqueda" placeholder="Buscar" name="srch-term" id="srch-term">
                            <span class="input-group-btn" >
                                <button class="btn btn-default" type="submit" ng-click="onBuscarPedidosFarmacias(obtenerParametros())"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        <!--</div>-->    
                    </div>                    

                <!--</div>-->

                <div class="table-responsive">
                    <!--<br/>-->
                    <div class="defaultGrid grid-responsive" ng-grid="rootVerPedidosFarmacias.lista_pedidos_farmacias"></div>
                </div>

                <div class="row text-center col-sm-12 col-md-12 col-lg-12">
                    <br/>
                    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootVerPedidosFarmacias.paginaactual == 1" ng-click="paginaAnterior()">
                        <span class="glyphicon glyphicon-chevron-left" ></span>
                    </button>
                    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootVerPedidosFarmacias.items == 0" ng-click="paginaSiguiente()">
                        <span class="glyphicon glyphicon-chevron-right" ></span>
                    </button>
                </div>

                </br>
            </tab>

            <tab ng-controller="VerPedidosTempFarmaciasController" > <!-- ng-controller="VerPedidosTempFarmaciasController" --> <!-- ng-if="root.opciones.sw_ver_listado_temporales" -->
                <tab-heading >
                    Pedidos Temporales
                </tab-heading>
                <!--<div class="row">-->

                    <!--<br/>-->

                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <!--<div class="input-group">-->
                            <button type="button" class="form-control btn btn-default btn-sm" ng-click="abrirViewPedidoFarmaciaTemp()" ng-validate-events="{{root.opcionesModulo.btnCrearPedido}}" name="btnCrearPedido">
                                <span class="glyphicon glyphicon-plus"></span> Crear Pedido
                            </button>
                        <!--</div>-->
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4 marginLeft">
                        <!--<div class="input-group">-->
                            <select ui-select2  class="form-control selectgeneral anchoSeleccionEmpresa" ng-model="rootVerPedidosTempFarmacias.seleccion" data-placeholder="Seleccionar Farmacia" ng-change="valorSeleccionadoTemp()">
                                <option ng-repeat="farmacia in  rootVerPedidosTempFarmacias.listado_farmacias"  ng-value="farmacia.empresa_id" >{{farmacia.razon_social}}</option>
                            </select>
                        <!--</div>-->
                    </div>

                    <div class="input-group navbar-form buscadorgeneral">
                        <!--<div class="input-group">-->
                            <input type="text" class="form-control pull-right" ng-keypress="onTeclaBuscarPedidosFarmaciasTemp($event)" ng-model="rootVerPedidosFarmacias.termino_busqueda" placeholder="Buscar" name="srch-term" id="srch-term">
                            <span class="input-group-btn" >
                                <button class="btn btn-default" type="submit" ng-click="onBuscarPedidosFarmaciasTemp(obtenerParametrosTemp())"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        <!--</div>-->    
                    </div>

                <!--</div>-->


                <div class="table-responsive">
                    <!--<br/>-->
                    <div class="defaultGrid grid-responsive" ng-grid="rootVerPedidosTempFarmacias.lista_pedidos_temporales_farmacias"></div>
                </div>



                <div class="row text-center">
                    <br/>
                    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootVerPedidosTempFarmacias.paginaactual == 1" ng-click="paginaAnteriorTemp()">
                        <span class="glyphicon glyphicon-chevron-left" ></span>
                    </button>
                    <button type="button" class="btn btn-default btn-medium" ng-disabled="rootVerPedidosTempFarmacias.items == 0" ng-click="paginaSiguienteTemp()">
                        <span class="glyphicon glyphicon-chevron-right" ></span>
                    </button>
                </div>

                </br>
            </tab>                

        </tabset>

    </div>
    
    <visualizar-reporte></visualizar-reporte>

</div>