<div class="row" style="margin-bottom: 5px;">
	<div class="col-md-3">
		<div class="input-group">
		    <div class="input-group-btn">
		        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{root.tipoDocumentoSeleccionado.descripcion}} <span class="caret"></span> </button>
		        <ul class="dropdown-menu" ng-selected="">
		            <li ng-repeat="tipoDocumento in tipoDocumentos">
		                <a href="javascript:void(0)" ng-click="onSeleccionFiltro(tipoDocumento)">
		                    {{tipoDocumento.descripcion}}
		                </a>
		            </li>
		        </ul>
		    </div> 
		    <input type="text" class="form-control" ng-keypress="buscarFormulas($event, 0);"  ng-model="root.documento" placeholder="Buscar" name="" id="" required/>
		    <div class="input-group-btn">
		        <button class="btn btn-success pull-right" type="submit" ng-click ="obtenerAfiliado(root.tipoDocumentoSeleccionado.id, root.documento)"><i class="glyphicon glyphicon-search"></i></button>
		    </div>
		</div>
	</div>
	<div class="col-md-9"></div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-primary" ng-if="root.afiliado.mostrarPacientes()[0].getPacienteId()">
	        <div class="panel-heading clearfix">
	            <div class="pull-left">
	                <h3 class="text-center"><strong>Formula #{{root.formula.formula_papel}}</strong></h3>
	            </div>
	            <div class="pull-right">
	                <!--<h3 class="text-center"><h4>Formula</h4></h3>-->
	            </div>
	        </div>
	        <div class="panel-body">
	            <div class="row">
	                <div class="col-md-2">
	                	<fieldset>
                            <legend><strong>Identificación</strong></legend> 
                            <div class="row">  
                                <div class="col-md-12" style="margin-top: -14px">                                          
                                    <h4 class="ng-binding">
                                        {{root.afiliado.mostrarPacientes()[0].getTipoIdPaciente()}} {{root.afiliado.mostrarPacientes()[0].getPacienteId()}}
                                    </h4>
                                </div>
                            </div>
                        </fieldset>
	                </div>
	                <div class="col-md-3">
	                	<fieldset>
                            <legend><strong>Nombre</strong></legend> 
                            <div class="row">  
                                <div class="col-md-12" style="margin-top: -14px">                                          
                                    <h4 class="ng-binding">
                                        {{root.afiliado.mostrarPacientes()[0].getNombres()}} {{root.afiliado.mostrarPacientes()[0].getApellidos()}}
                                    </h4>
                                </div>
                            </div>
                        </fieldset>
	                </div>
	                <div class="col-md-4">
	                	<fieldset>
                            <legend><strong>Plan</strong></legend> 
                            <div class="row">  
                                <div class="col-md-12" style="margin-top: -14px">                                          
                                    <h4 class="ng-binding">
                                    	{{root.afiliado.mostrarPlanAtencion()[0].mostrarPlanes()[0].getDescripcion()}}
                                    </h4>
                                </div>
                            </div>
                        </fieldset>
	                </div>
	                <div class="col-md-3">
	                	<fieldset>
                            <legend><strong>Rango</strong></legend> 
                            <div class="row">  
                                <div class="col-md-12" style="margin-top: -14px">                                          
                                    <h4 class="ng-binding">
                                    	{{root.afiliado.mostrarPlanAtencion()[0].getRango()}}
                                    </h4>
                                </div>
                            </div>
                        </fieldset>
	                </div>
	            </div>
	            <div class="row">
	            	<legend>
	                <div class="col-md-2" style="margin-top: 10px;">        
	                	<p class="input-group">
				            <input type="text" class="form-control readonlyinput" 
				                   datepicker-popup="{{format}}" 
				                   ng-model="root.formula.fecha"
				                   is-open="root.datepicker_fecha_inicial" 
				                   current-text="Hoy" 
				                   placeholder="Fecha" 
				                   show-weeks="false" 
				                   toggle-weeks-text="#"  />
				            <span class="input-group-btn">
				                <button class="btn btn-success" ng-click="abrirFecha($event);"><i class="glyphicon glyphicon-calendar"></i></button>
				            </span>
				        </p>
				    </div>
	                <div class="col-md-2" style="margin-top: 10px;">
					    <input type="text" class="form-control"  ng-model="root.formula.formula_papel" placeholder="Numero"/>
	                </div>
	                <div class="col-md-2" style="margin-top: 10px;">
			            <ui-select ng-model="$parent.root.formula.tipoFormula" theme="select2" class="form-control selectgeneral " style="padding-top: 0px !important">
			                <ui-select-match  placeholder="Seleccione tipo formula" style="height: 33px !important">{{$select.selected.descripcion}}</ui-select-match>
			                <ui-select-choices repeat="tipoFormula in  tipoFormulas | filter:$select.search">
			                    {{tipoFormula.descripcion}}
			                </ui-select-choices>
			            </ui-select>
	                </div>
                    <div class="col-md-4" style="margin-top: 10px;">                                          
                        <ui-select ng-model="root.formula.profesional" theme="select2" class="form-control selectgeneral" style="padding-top: 0px !important">
                            <ui-select-match  placeholder="Seleccionar profesional" style="height: 33px !important">{{ $select.selected.nombre }}</ui-select-match>
                            <ui-select-choices refresh="buscar('profesional',$select.search)" refresh-delay="0" repeat="profesional in profesionales | filter:$select.search">
                                {{ profesional.nombre }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
	                <div class="col-md-2" style="margin-top: 10px;">                                          
                        <ui-select ng-model="root.formula.municipio" theme="select2" class="form-control selectgeneral" style="padding-top: 0px !important">
                            <ui-select-match  placeholder="Seleccionar municipio" style="height: 33px !important">{{ $select.selected.nombre }}</ui-select-match>
                            <ui-select-choices refresh="buscar('municipio',$select.search)" refresh-delay="0" repeat="municipio in municipios | filter:$select.search">
                                {{ municipio.nombre }}
                            </ui-select-choices>
                        </ui-select>
                    </div>
	            </div>

	        </div>
	        <div class="panel-footer">
	        	<div class="row"> 
	        		<div class="col-md-1 col-md-offset-11"> 
	        			<button class="btn btn-success pull-right" type="button" ng-click="guardarFormulaExternaTmp()">
	        				<i class="glyphicon glyphicon-floppy-disk"></i>
					      	Guardar
					    </button>
	        		</div>
	        	</div>
	        </div>

	        <div class="panel-body">
	        	<div class="row" ng-show="root.formula.tmp_formula_id">
	              	<div class="col-md-5">
	              		<table class="table table-striped">
						    <thead>
						      	<tr>
						        	<th colspan="2"><h4><strong>Diagnóstico</strong></h4></th>
						        	<th>
						        		<button class="btn btn-success pull-right" type="button" ng-click="abrirModal('diagnostico')">
								        	<i class="glyphicon glyphicon-plus"></i>
								        </button>
						        	</th>
						      	</tr>
						    </thead>
						    <tbody>
							    <tr ng-repeat="diagnostico in diagnosticos">
							        <td colspan="2">{{diagnostico.nombre}}</td>
							        <td>
							        	<button class="btn btn-danger pull-right" type="button" ng-click="eliminarDiagnosticoTmp(root.formula.tmp_formula_id, diagnostico.id)">
								        	<i class="glyphicon glyphicon-remove"></i>
								        </button>
								    </td>
							    </tr>
						    </tbody>
					  	</table>
	              	</div>    
	            </div>
	            <div class="row" style="margin-top: 10px;">
	            	<div class="col-md-12" style="background-color: #f5f5f5;">
	            		<form class="navbar-form navbar-left" role="search">
						  <div class="form-group">
						  	<label><h4><strong>Medicamentos solicitados</strong></h4></label>
						  	<button class="btn btn-success pull-right" style="margin-left: 5px;" ng-click="abrirModalBusquedaMedicamentos()" type="button">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						  </div>
						</form>
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="col-md-12">
		            	<div class="table-responsive" >
		                    <div class="defaultGrid grid-responsive" style="height: 515px;" ng-grid="lista_productos_seleccionados">
		                    </div>
		                </div>
	            	</div>
	            </div>
	           	<div class="row" style="margin-top: 10px;">
	            	<div class="col-md-1 col-md-offset-5">
        				<button class="btn btn-success" type="button" ng-click="">
	        				<i class="glyphicon glyphicon-chevron-left"></i>
					    </button>
	            	</div>
	            	<div class="col-md-1">
        				<button class="btn btn-success" type="button" ng-click="">
	        				<i class="glyphicon glyphicon-chevron-right"></i>
					    </button>
	            	</div>
	            </div>
	            <div class="row" style="margin-top: 10px;">
	            	<div class="col-md-12" style="background-color: #f5f5f5;">
	            		<form class="navbar-form navbar-left" role="search">
						  <div class="form-group">
						  	<label><h4><strong>Medicamentos temporales</strong></h4></label>
						  </div>
						</form>
	            	</div>
	            </div>
	            <div class="row">
	            	<div class="col-md-12">
		            	<div class="table-responsive" >
		                    <div class="defaultGrid grid-responsive" style="height: 515px;" ng-grid="lista_productos_lotes_seleccionados">
		                    </div>
		                </div>
	            	</div>
	            </div>
	           	<div class="row" style="margin-top: 10px;">
	            	<div class="col-md-1 col-md-offset-5">
        				<button class="btn btn-success" type="button" ng-click="">
	        				<i class="glyphicon glyphicon-chevron-left"></i>
					    </button>
	            	</div>
	            	<div class="col-md-1">
        				<button class="btn btn-success" type="button" ng-click="">
	        				<i class="glyphicon glyphicon-chevron-right"></i>
					    </button>
	            	</div>
	            </div>
	            <div class="modal-footer col-md-12 ng-scope" >
	            	<button class="btn btn-default ng-scope" ng-click="ventanaTipoEntregaFormula()" >
	                    Volver
	                </button>
	                <!--<button class="btn btn-default ng-scope" ng-click="abrirModalGenerarEntrega(0)" ng-disabled="root.productosLotesSeleccionados.length > 0">
	                    <span class="glyphicon glyphicon-cog"></span> Todo pendiente
	                </button>-->
		            <button class="btn btn-default ng-scope" ng-click="abrirModalGenerarEntrega()" >
	                    <span class="glyphicon glyphicon-cog"></span> Realizar entrega
	                </button>
	        	</div>
	        </div>

	    </div>
	</div>
</div>