
<div class ="padding5">    
    <!-- End Código desplazado -->
    <div class="row">
        <div class="col-xs-12">

            <div>
                <br/><!--Espacio entre Tab Y título de Panel-->
            </div>

            <tabset> <!--Grupo de Tabs-->
                <tab  name="cargarPlano">
                    <tab-heading>
                        <i class="glyphicon glyphicon-cloud-upload"></i> <b> Conversaciones </b>
                    </tab-heading>
                    <br>
                    <div class="tabChat">
                        
                        <chat></chat>
                    </div>
                </tab>     
                <tab ng-if="root.opciones.sw_guardar_grupo">

                    <tab-heading>
                        <span></span> <b>Grupos</b>
                    </tab-heading>
                    
                    <div ng-include src="'views/Grupos/ListaGrupos.html'" ng-controller="ListaGruposController"></div>

                </tab>
            </tabset>  
        </div>    
    </div>
</div>
