

        <h1>DETALLE PRODUCTO</h1>
    
       <tabset  class="">
        
        <tab heading="Productos" ng-controller="InduccionController">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a ng-click="retornarPaginaInicio()">Inicio</a></li>
                   


                </ul>
            </div>
            
        </tab></tabset>
         <table class="table">
            <thead>
            <th>Codigo producto</th>
            <th>descripcion</th>
            <th>existencia</th>
            <th>iva</th>
            <th>costo</th>
            <th>precio_venta</th>
            </thead>
    <tbody>
            <tr> 
                <td>{{detalleProductos.codigo_producto}}</td>
            
                <td>{{detalleProductos.descripcion}}</td>   
           
                <td>{{detalleProductos.existencia}}</td>         
           
                <td>{{detalleProductos.iva}}</td>          
            
                <td>{{detalleProductos.costo}}</td>          
            
                <td>{{detalleProductos.precio_venta}}</td>  
            </tr>
            </tbody>
            </table>
        