
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
	<div class="row">	
		<div class="col-xs-12 col-sm-12 col-md-12 pull-right">
		    <div class="col-xs-12 col-sm-6 col-md-2 pull-left">
			<div class="input-group">
			    <div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{root.prefijoBusquedaNota}} <span class="caret"></span></button>
				<ul class="dropdown-menu" ng-selected="onColumnaSizeNota(root.prefijoBusquedaNota)">
				    <li ng-repeat="prefijo in root.prefijosNotas">
					<a  href="javascript:void(0)" ng-click="onSeleccionPrefijoNota(prefijo)">{{prefijo.prefijo}}</a>
				    </li>
				</ul>
			    </div>
			    <input ng-show="root.visibleBuscador"
				   type="text"
				   class="form-control"
				   ng-keypress="buscarNota($event);"
				   ng-model="root.numeroBusquedaNota"
				   placeholder="No. Nota" name="" id="" />
			</div>
		    </div>
		</div>
	</div>
        <br />
        <br />
        <div class="table-responsive" style="clear:both; ">
            <div class="defaultGrid grid-responsive" ng-grid="listaNotas" ></div>
        </div>
	<br />
        <br />
    </body>
</html>
