<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        
        <br />
        <br />
        <br />
        <div class="table-responsive" style="clear:both; ">
            <div class="defaultGrid grid-responsive" ng-grid="listaConceptosTmp" ></div>
        </div>
	<br />
        <br />
	<div class="col-md-5 pull-right">
	    <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="validarConcepto()"
		    aria-haspopup="true" aria-expanded="false" ng-click="guardarFacturaCajaGeneral()" > Facturar
	    </button>
        </div>
    </body>
</html>
