<div class="row paddingToptZero">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="h4MarginTopBottom"><span >Conceptos Facturas</span></h4>
            </div>
            <br>
	    <div class="row">
		<div class="col-sm-6">
		    <div class="col-md-12 pull-left">
			<label class="control-label" for="IsSmallBusiness">Grupo</label>
			<legend></legend>
			<ui-select ng-model="root.grupo"
				   theme="select2"
				   class="form-control selectgeneral pull-left col-md-4"
				   ng-change="onSeleccionFiltroGrupo()">
			    <ui-select-match  placeholder="Seleccionar Grupo">{{ $select.selected.getGruposConcepto()}} - {{ $select.selected.getDescripcion()}}</ui-select-match>
			    <ui-select-choices repeat="filtro in root.grupos | filter:$select.search">
				{{ filtro.getGruposConcepto()}} - {{ filtro.getDescripcion()}}
			    </ui-select-choices>
			</ui-select>
		    </div>
		</div>
		<div class="col-sm-6">
		    <div class="col-md-12 pull-left">
			<label class="control-label" for="IsSmallBusiness">Conceptos</label>
			<legend></legend>
			<ui-select ng-model="root.concepto"
				   theme="select2"
				   class="form-control selectgeneral pull-left col-md-4"
				   ng-change="onSeleccionFiltroConcepto()">
			    <ui-select-match  placeholder="Seleccionar Conceptos">{{ $select.selected.getConceptoId()}} - {{ $select.selected.getDescripcionConcepto()}}</ui-select-match>
			    <ui-select-choices repeat="filtro in root.conceptos | filter:$select.search">
				{{ filtro.getConceptoId()}} - {{ filtro.getDescripcionConcepto()}}
			    </ui-select-choices>
			</ui-select>
		    </div>
		</div>
	    </div>
	    <br />
	    <br />
	    <div class="row">
		<div class="col-md-12" >
		    <label class="col-md-4 control-label" for="IsSmallBusiness">Tipo de Pago:</label>
		    <div class="col-md-8">
			<div class="btn-group">
			    <label class="btn btn-{{root.efectivo}}">
				<input type="radio"
				       name="tipoProducto"
				       ng-model="root.efectivoModel"
				       ng-click="checkearEstadoPago(1)"
				       /><span class="label label-primary">Efectivo</span>
			    </label>
			    <label class="btn btn-{{root.credito}}">
				<input type="radio"
				       name ="tipoProducto"
				       ng-model="root.creditoModel"
				       ng-click="checkearEstadoPago(2)"
				       /><span class="label label-success">Credito</span>
			    </label>
			    <label class="btn btn-{{root.cheque}}">
				<input type="radio"
				       name ="tipoProducto"
				       ng-model="root.chequeModel"
				       ng-click="checkearEstadoPago(3)"
				       /><span class="label label-danger">Cheque</span>
			    </label>
			</div>
		    </div>
		</div>
	    </div>
	    <br />
	    <div class="row">
		<div class="col-md-12" >
		    <div class="col-md-4">
			<label class="control-label" for="IsSmallBusiness" >Precio:</label>
		    </div>
		    <div class="col-md-8">
			<input
			    type="text"
			    class="form-control"
			    validacion-numero-decimal
			    ng-model="root.precio"
			    name="" id="" />
		    </div>
		</div>
		<br />
		<br />
		<br />
		<div class="col-md-12" >
		    <div class="col-md-4">
			<label class="control-label" for="IsSmallBusiness">Gravamen:</label>
		    </div>
		    <div class="col-md-8">
			<input
			    type="text"
			    class="form-control"
			    validacion-numero-decimal
			    ng-model="root.gravamen"
			    name="" id="" />
		    </div>
		</div>
		<br />
		<br />
		<br />
		<div class="col-sm-12">
		    <div class="col-md-12">
			<textarea
			    rows="4"
			    placeholder="Observacion"
			    class="form-control"
			    ng-model="root.descripcion"
			    name="" id="" >
			</textarea>
		    </div>
		</div>
	    </div>
	    <br />
	    <br />
        </div>
        <div class="modal-footer">
	    <button type="button" class="btn btn-warning" ng-click="cerrar()">Cerrar</button>
	    <button type="button" class="btn btn-primary" ng-click="guardarConcepto()">Guardar</button>
        </div>
    </div>
</div> 


