<div class="table-responsive" >
    <br>
    <div class="defaultGrid grid-responsive" style="height: 482px"
         ng-grid="listar_documentos_ajuste">
    </div>
</div>

<!--
<div class="col-sm-12" style="font-size: 14px;">
    <br>
    <div class="col-sm-1" style="padding: 15px; border-left: 1px solid #dedede; border-right: 1px solid #dedede;">2018-12-10</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">123456789</div>
    <div class="col-sm-3" style="padding: 15px; border-right: 1px solid #dedede;">Esta es una descripciobn larga del producto</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">17532.28</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">35421.37</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">54654654654</div>
    <div class="col-sm-2" style="padding: 15px; border-right: 1px solid #dedede;">Esta es la justificacion</div>
    <div class="col-sm-2" style="padding: 15px; border-right: 1px solid #dedede;">Personal que aprueba!</div>
</div>
<div class="col-sm-12" style="font-size: 14px;">
    <div class="col-sm-1" style="padding: 15px; border-left: 1px solid #dedede; border-right: 1px solid #dedede;">2018-12-10</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">123456789</div>
    <div class="col-sm-3" style="padding: 15px; border-right: 1px solid #dedede;">Esta es una descripciobn larga del producto</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">17532.28</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">35421.37</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">54654654654</div>
    <div class="col-sm-2" style="padding: 15px; border-right: 1px solid #dedede;">Esta es la justificacion</div>
    <div class="col-sm-2" style="padding: 15px; border-right: 1px solid #dedede;">Personal que aprueba!</div>
</div>
<div class="col-sm-12" style="font-size: 14px;">
    <div class="col-sm-1" style="padding: 15px; border-left: 1px solid #dedede; border-right: 1px solid #dedede;">2018-12-10</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">123456789</div>
    <div class="col-sm-3" style="padding: 15px; border-right: 1px solid #dedede;">Esta es una descripciobn larga del producto</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">17532.28</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">35421.37</div>
    <div class="col-sm-1" style="padding: 15px; border-right: 1px solid #dedede;">54654654654</div>
    <div class="col-sm-2" style="padding: 15px; border-right: 1px solid #dedede;">Esta es la justificacion</div>
    <div class="col-sm-2" style="padding: 15px; border-right: 1px solid #dedede;">Personal que aprueba!</div>
</div>
-->
<hr>
