<form method="post" [formGroup]="form" ng-submit="form_update_producto(form.value)">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <h4 class="h4MarginTopBottom"><span>Modificar Producto</span></h4>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <label class="col-md-12 control-label">PRODUCTO</label>
                    <legend class="col-sm-12 col-md-12" style="margin-bottom: 10px;"></legend>
                    <div>
                        <div class="input-group form-group">
                            <span title="Adjuntar archivo"> {{productoSelec.descripcion}} <label>({{productoSelec.cod}})</label></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <label class="col-md-12 control-label">NUEVO COSTO</label>
                    <legend class="col-sm-12 col-md-12" style="margin-bottom: 10px;" required></legend>
                    <div>
                        <div class="input-group form-group col-md-12">
                            <input type="number" step="0.01" style="padding: 10px;" ng-change="newUpdatedPrice()" ng-keyup="newUpdatedPrice()" ng-model="productoSelec.newPrice" min="{{productoSelec.costoMin}}" class="form-control pull-left col-md-12" placeholder="Ingrese Nuevo Costo">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-5" style="margin-bottom: 30px;">
                    <label class="col-md-12 control-label">JUSTIFICACIÓN</label>
                    <legend class="col-sm-12 col-md-12" style="margin-bottom: 7px;"></legend>
                    <textarea class="form-control pull-left col-md-12" placeholder="Redacte la Justificación" minlength="20" ng-model="productoSelec.justificacion" required></textarea>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4" style="margin-bottom: 6px;">
                    <label class="col-md-12 control-label">APROBADO POR</label>
                    <legend class="col-sm-12 col-md-12" style="margin-bottom: 7px;"></legend>
                    <select class="form-control pull-left col-md-12" ng-model="productoSelec.aprobacion" required>
                        <option value="Orlando Caicedo">Orlando Caicedo</option>
                        <option value="Marisel Artunduaga">Marisel Artunduaga</option>
                    </select><br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 container-resume">
                    <div class="col-sm-2" style="margin-right: 0px;">
                        <span>Stock:<br><label>{{productoSelec.existencia}}</label></span>
                        <br><legend style="margin-bottom: 7px;"></legend><br>
                    </div>
                    <div class="col-sm-2" style="margin-right: 0px;">
                        <span name="PriceBefore">Precio Anterior:<br><label>{{productoSelec.costo}}</label></span>
                        <br><legend style="margin-bottom: 7px;"></legend><br>
                    </div>
                    <div class="col-sm-2" style="margin-right: 0px;">
                        <span>Precio Nuevo:<br><label>{{productoSelec.newPrice}}</label></span>
                        <br><legend style="margin-bottom: 7px;"></legend><br>
                    </div>
                    <div class="col-sm-2" style="margin-right: 0px;">
                        <span>Diferencia:<br><label style="color:#006400;">+{{productoSelec.diferencia}}</label></span>
                        <br><legend style="margin-bottom: 7px;"></legend><br>
                    </div>
                    <div class="col-sm-2" style="margin-right: 0px;">
                        <span>Total Diferencia:<br><label style="color:#006400;">+{{productoSelec.totalDiferencia}}</label></span>
                        <br><legend style="margin-bottom: 7px;"></legend><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-md" ng-click="cerrar(event)"> Cerrar</button>
            <button type="submit" class="btn btn-success btn-md" > Guardar </button>
        </div>
    </div>
</form>
<visualizar-reporte></visualizar-reporte>




