.listado_opciones{
    height:250px;
    position:relative;
    width:100%;
    min-width: 100%;
}

.contenedor_opciones{
    height: 240px;
}

.listaIconos{
    padding-bottom: 10px;
}

textarea.observacion_modulo{
    height:150px;
}


.contenedorEstado{
    position: absolute;
    bottom:20px;
    right:0px;
}

.contenedorFoto{
    width:130px;
    height: 140px;
    overflow: hidden;
    text-align: center;
}

.contenedorOpcionesFoto{
    position: absolute;
    top: 0px;
}

.contenedorOpcionesFoto .btn-sm{
    padding: 1px 4px;
}

.avatarUsuario{
    position: relative; /* allows repositioning */
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%;
}