.listado_opciones{
    height:250px;
    position:relative;
    width:100%;
    min-width: 100%;
}

.contenedor_opciones{
    height: 240px;
}

.listaIconos{
    padding-bottom: 10px;
}

textarea.observacion_modulo{
    height:150px;
}