<div ng-controller="GestionarNovedadesController">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <!--                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Imagen</h4>-->
                    <div class="pull-left">
                        <h3 class="text-center"><strong>Logo</strong></h3>
                    </div>
                    <div class="pull-right">
                        <h3 class="text-center"><strong>OC # {{ numero_orden }}</strong></h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">

                            <fieldset>
                                <legend>Unidad de Negocio</legend>      

                                <div class="row">
                                    <div class="col-md-7">  
                                        <select ui-select2=""  class="form-control selectgeneral pull-left" ng-model="unidad_negocio_id"  ng-disabled="true" placeholder="Seleccionar unidad de negocio" >
                                            <option></option>    
                                            <option ng-repeat="unidad_negocio in  Empresa.get_unidades_negocios()"  value="{{unidad_negocio.codigo}}">{{ unidad_negocio.get_nombre() }}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Proveedor</legend> 
                                <div class="row">
                                    <div class="col-md-7">  
                                        <select ui-select2="{minimumInputLength: 3}"  ng-disabled="true" class="form-control selectgeneral pull-left" ng-model="codigo_proveedor_id"  placeholder="Seleccionar proveedor" >
                                            <option></option> 
                                            <option ng-repeat="proveedor in  Empresa.get_proveedores()"  value="{{proveedor.codigo_proveedor_id}}">{{ proveedor.get_nombre() }}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br>
                    <div class="row">  
                        <div class="col-md-6">

                            <fieldset>
                                <legend>Observación</legend>                                 
                                <div class="row">  
                                    <div class="col-md-12">  
                                        <textarea  class="col-lg-12 col-md-12 col-sm-12" rows="4" ng-model='observacion' ng-disabled="true" name="" placeholder="Ingresar Observación"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Estado</legend> 
                                <div class="row">
                                    <div class="col-md-7">  
                                        <h3><strong>{{ descripcion_estado }}</strong></h3>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>   
                    <br>
                    <br>
                    <div class="row">  
                        <div class="col-md-12">

                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <i class="glyphicon glyphicon-folder-open"></i> Novedades
                                    </tab-heading>
                                    <br>
                                    <div class="row">  
                                        <div class="">
                                            <div class="col-md-3 pull-right">
                                                <p class="input-group">

                                                    <input type="text" class="form-control" ng-keypress="buscador_productos_orden_compra($event, termino_busqueda);" ng-model="termino_busqueda" placeholder="Buscar" name="" id="" />
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="submit" ng-click="buscar_detalle_orden_compra(termino_busqueda)"><i class="glyphicon glyphicon-search"></i></button>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="" style="height: 240px" ng-grid="lista_productos" > </div>

                                    <div class="row text-center col-md-12">
                                        <button type="button" class="btn btn-default btn-medium" ng-disabled="pagina_actual == 1" ng-click="pagina_anterior()">
                                            <span class="glyphicon glyphicon-chevron-left" ></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-medium" ng-disabled="cantidad_items == 0" ng-click="pagina_siguiente()">
                                            <span class="glyphicon glyphicon-chevron-right" ></span>
                                        </button>
                                    </div>  
                                </tab>                                                                                 
                            </tabset>

                            <div class="modal-footer col-md-12">
                                <button class="btn btn-default" ng-click="cancelar_orden_compra()">
                                    <span class="glyphicon glyphicon-remove" ></span> Cancelar</button>
                            </div>                            
                        </div>
                    </div>   
                </div>
            </div>       
        </div>
    </div>
</div>


