
<div class="modal-view" id="editarproductomodal">
    <alert ng-show="rootEditarProducto.validacionproducto.valido == false" type="danger">{{rootEditarProducto.validacionproducto.mensaje}}</alert>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h5 class="panel-title">Información General</h5>

        </div>
        <div class="panel-body">
            <div class="row" >
                <div class ="col-md-3"><div class="lbl_editar_producto">Codigo</div>{{::rootEditarProducto.producto.codigo_producto}}</div>
                <div class ="col-md-9"><div class="lbl_editar_producto">Descripcion</div>{{::rootEditarProducto.producto.descripcion}}</div>
            </div>
            <!-- div class="row">
                <div class ="col-md-3"><div class="lbl_editar_producto">Lote</div>{{rootEditarProducto.producto.lote.codigo_lote}}</div>
                <div class ="col-md-9"><div class="lbl_editar_producto">Fecha_vencimiento</div>{{rootEditarProducto.producto.lote.fecha_vencimiento}}</div>
            </div -->
            <div class="row">
                <div class="col-md-3"><div class="lbl_editar_producto">Solicitado</div>{{::rootEditarProducto.producto.cantidad_solicitada_real}}</div>
                <div class ="col-md-3"><div class="lbl_editar_producto">Disponible</div>{{rootEditarProducto.producto.disponible}}</div>

            </div>

            <div class="row">
                <div class ="col-md-3"><div class="lbl_editar_producto">Ingresado / Pendiente</div> {{rootEditarProducto.producto.obtenerCantidadSeleccionada()}} / {{rootEditarProducto.producto.cantidad_pendiente}}</div>
                <div class ="col-md-3"><div class="lbl_editar_producto">Justificación  Separador</div><div>{{rootEditarProducto.producto.lote.justificacion_separador}}</div></div>
            </div>
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h5 class="panel-title">Lotes Del Producto</h5>
        </div>
        <div class="panel-body">
            <div class="auditarGrid" ng-grid="lotes_producto" validar-evento-fila></div>
        </div>

    </div>


    <div ng-switch on="rootEditarProducto.mostrarJustificacion">
        <div class="panel panel-info" ng-switch-when="true">
            <div class="panel-heading">
                <h3 class="panel-title">Justificacion Auditor</h3>
            </div>
            <div class="panel-body">
                <div class="span6" style="width:250px;">
                    <!--textarea placeholder="Justificación por pendientes" ng-model="rootEditarProducto.producto.lote.justificacion_auditor" class="col-xs-12 textareajustificacion"></textarea-->
                    <select ui-select2  class="form-control selectgeneral" ng-model="rootEditarProducto.producto.lote.justificacion_auditor"  placeholder="Seleccionar Justificacion" ng-change="justificacionSeleccionada()">
                        <option></option>
                        <option ng-repeat="justificacion in  justificaciones"  value="{{justificacion.descripcion}}" >{{::justificacion.descripcion}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info panelCaja">
        <div class="panel-heading">
            <h3 class="panel-title">Información Caja / Nevera</h3>
        </div>
        <div class="panel-body">
            <div class="row">


                <div class="col-lg-8">
                    <label class="lbl_editar_producto lbl_caja" for="numerocaja">Numero: </label>
                    <div class="input-group input-group-sm">

                        <input type="text" role="group" ng-model="rootEditarProducto.caja.numero" class="form-control" ng-keyup="onNumeroCajaDigitado()"  validacion-numero />
                        <div class="input-group-btn" role="group">
                            <button ng-disabled="cerrar" type="button" style="width:85px;" class="btn btn-default dropdown-toggle btnTipo" data-toggle="dropdown" aria-expanded="false"> {{ rootEditarProducto.caja.getTipo(true) || "Tipo" }} <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><a href="javascript:void(0)" ng-click="rootEditarProducto.caja.tipo = 0">Caja</a></li>
                                <li><a href="javascript:void(0)" ng-click="rootEditarProducto.caja.tipo = 1">Nevera</a></li>
                            </ul>
                        </div>
                        
                        
                        <!-- div class="input-group-btn" >
                            <button type="button" ng-disabled="rootEditarProducto.caja.tipo == undefined" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Acción <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><a href="javascript:void(0)" ng-click="onSeleccionarCaja()">Seleccionar</a></li>
                                <li ng-if="existenLotesConNumeroCajaActual()"><a href="javascript:void(0)" ng-click="onCerrarCaja()" >Cerrar</a></li>
                                <li>
                                    <a ng-if="cerrar" href="javascript:void(0)" ng-click="onImprimirRotulo()">Generar</a>
                                    <a ng-if="cerrar" href="javascript:void(0)">Generar</a>
                                </li>
                            </ul>
                        </div -->
                        
                        
                        <div class="input-group-btn" >
                            <button type="button" ng-click="onSeleccionarCaja()" ng-disabled="rootEditarProducto.caja.tipo == undefined" class="btn btn-default" >
                                Seleccionar
                            </button>
                            
                            <button type="button" ng-click="onCerrarCaja()" ng-disabled="!cerrar" class="btn btn-default" >
                                Cerrar Caja
                            </button>
                            
                            <button type="button" ng-click="onImprimirRotulo()" ng-disabled="!imprimir" class="btn btn-default" >
                                Imprimir
                            </button>

                        </div>

                    </div>
                </div>


                <!--div class="contenedorTipo">
                    <span>
                        <span class="dropdown" id="dropdownMenu1" name="dropdownMenu1">
                            <button class="btn btn-default dropdown-toggle btn-sm" type="button"  data-toggle="dropdown" aria-expanded="true">
                                Tipo
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Caja</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Nevera</a></li>
                            </ul>
                        </span>
                    </span>
                </div>
                <div class="contenedorCaja">
                    <label class="lbl_editar_producto lbl_caja" for="numerocaja">Numero: </label>
                    <div class="input-group validar_caja_contenedor">
                        <input type="text" id="numerocaja" ng-model="rootEditarProducto.caja.numero" class="form-control" ng-change="onValidarCaja()"  validacion-numero  />
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-xs" type="button" ng-click="onSeleccionarCaja()"><span class="glyphicon glyphicon-ok"></span></button>
                        </span>
                    </div>
                </div>
                <div class="contenedorCaja">
                    <label class="lbl_editar_producto lbl_caja" for="cerrarcaja">Cerrar</label>
                    <input-check ng-model="cerrar" id="cerrarcaja" ng-click="onCerrarCaja()" ng-disabled="rootEditarProducto.caja.valida" />
                </div>
                <div style="padding-left:10px;">
                    <button class="btn btn-default ng-binding btn-accion btn-sm" ng-disabled="!cerrar" ng-click="onImprimirRotulo()">Generar</button>
                </div -->
            </div>
        </div>
    </div>


    <!--div class="animate-switch-container"
        ng-switch on="cerrar">

          <div class="panel panel-info" ng-switch-when="true">
            <div class="panel-heading">
                 <h3 class="panel-title">Información Rotulo</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class ="col-md-5">
                       <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                            <option></option>
                        </select>
                    </div>
                    <div class ="col-md-5">
                       <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                            <option></option>
                        </select>
                    </div>

                    
                    
                </div>

                <div class="row">
                    <div class ="col-md-5">
                       <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                            <option></option>
                        </select>
                    </div>
                    <div class ="col-md-5">
                       <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                            <option></option>
                        </select>
                    </div>
                    <div class ="col-md-2 text-center">
                        <button class="btn btn-primary ng-binding btn-accion">Generar</button>
                    </div>
                </div>

            </div>
        </div>
        
    </div-->

    <button class="btn btn-primary ng-binding pull-right" ng-click="auditarPedido()">Auditar</button>
    <button class="btn btn-warning pull-right" style="margin-right:20px;" ng-click="cerrarModal()">Cancelar</button>

</div>