
<div class="modal-view" id="editarproductomodal">
    <alert ng-show="rootEditarProducto.validacionproducto.valido == false" type="danger">{{rootEditarProducto.validacionproducto.mensaje}}</alert>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h5 class="panel-title">Información General</h5>

        </div>
        <div class="panel-body">
            <div class="row" >
                <div class ="col-md-3"><div class="lbl_editar_producto">Codigo</div>{{::rootEditarProducto.producto.codigo_producto}}</div>
                <div class ="col-md-9"><div class="lbl_editar_producto">Descripcion</div>{{::rootEditarProducto.producto.descripcion}}</div>
            </div>
            <!-- div class="row">
                <div class ="col-md-3"><div class="lbl_editar_producto">Lote</div>{{rootEditarProducto.producto.lote.codigo_lote}}</div>
                <div class ="col-md-9"><div class="lbl_editar_producto">Fecha_vencimiento</div>{{rootEditarProducto.producto.lote.fecha_vencimiento}}</div>
            </div -->
            <div class="row">
                <div class ="col-md-3"><div class="lbl_editar_producto">Cant Solicitada</div>{{rootEditarProducto.producto.cantidad_solicitada}} / {{rootEditarProducto.producto.obtenerCantidadSeleccionada()}}</div>
                <!--div class ="col-md-3"><div class="lbl_editar_producto">Cant Separada</div>{{rootEditarProducto.producto.obtenerCantidadSeleccionada()}}</div-->
                <!--div class ="col-md-3">
                    <label class="lbl_editar_producto" for="modificarlotes">Verificar Lotes</label>
                    <input-check ng-model="modificarlotes" id="modificarlotes" />
                </div-->
                <div class ="col-md-3"><div class="lbl_editar_producto">Justificación  Separador</div>{{rootEditarProducto.producto.lote.justificacion_separador}}</div>

            </div>
            <!--div class="row">
                <div class ="col-md-3"><div class="lbl_editar_producto">Justificación  Separador</div>{{rootEditarProducto.producto.lote.justificacion_separador}}</div>
            </div-->
         </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
             <h5 class="panel-title">Lotes Del Producto</h5>
        </div>
        <div class="panel-body">
            <div class="auditarGrid" ng-grid="lotes_producto" validar-evento-fila></div>
        </div>

    </div>


    <div ng-switch on="rootEditarProducto.mostrarJustificacion">
        <div class="panel panel-info" ng-switch-when="true">
            <div class="panel-heading">
                <h3 class="panel-title">Justificacion Auditor</h3>
            </div>
            <div class="panel-body">
                <div class="span6">
                    <textarea placeholder="Justificación por pendientes" ng-model="rootEditarProducto.producto.lote.justificacion_auditor" class="col-xs-12 textareajustificacion"></textarea>
                </div>
             </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Información Caja</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class ="col-md-6">
                    
                    <!-- div class="input-group" style="100px">
                        <input type="text" id="numerocaja" ng-model="rootEditarProducto.caja.numero" class="input-mini input-sm form-control  grid-inline-input" validacion-numero ng-change="onValidarCaja()"  >
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-xs" type="button" ng-click="onSeleccionarCaja()"><span class="glyphicon glyphicon-ok"></span></button>                               </span>
                    </div -->
                    <div>
                        <label class="lbl_editar_producto" for="numerocaja">Numero Caja: </label>
                        <div class="input-group validar_caja_contenedor">
                            <input type="text" id="numerocaja" ng-model="rootEditarProducto.caja.numero" class="form-control" ng-change="onValidarCaja()"  validacion-numero  />
                             <span class="input-group-btn">
                              <button class="btn btn-default btn-xs" type="button" ng-click="onSeleccionarCaja()"><span class="glyphicon glyphicon-ok"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class ="col-md-3" ng-switch on="rootEditarProducto.caja.valida">
                    <label class="lbl_editar_producto" ng-switch-when="true" for="cerrarcaja">Cerrar Caja</label>
                    <input-check ng-model="cerrar" id="cerrarcaja" ng-switch-when="true" ng-click="onCerrarCaja()" />
                </div>
                <div class ="col-md-2 text-center" ng-switch on="cerrar">
                        <button class="btn btn-primary ng-binding btn-accion" ng-switch-when="true">Generar</button>
                </div>
            </div>
         </div>
    </div>


    <!--div class="animate-switch-container"
        ng-switch on="cerrar">

          <div class="panel panel-info" ng-switch-when="true">
            <div class="panel-heading">
                 <h3 class="panel-title">Información Rotulo</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class ="col-md-5">
                       <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                            <option></option>
                        </select>
                    </div>
                    <div class ="col-md-5">
                       <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                            <option></option>
                        </select>
                    </div>

                    
                    
                </div>

                <div class="row">
                    <div class ="col-md-5">
                       <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                            <option></option>
                        </select>
                    </div>
                    <div class ="col-md-5">
                       <select ui-select2="selectestados"  class="form-control selectgeneral"  ng-model="estadoseleccionado"  ng-change="seleccionEstado()">
                            <option></option>
                        </select>
                    </div>
                    <div class ="col-md-2 text-center">
                        <button class="btn btn-primary ng-binding btn-accion">Generar</button>
                    </div>
                </div>

            </div>
        </div>
        
    </div-->
    <button class="btn btn-primary ng-binding pull-right" ng-click="auditarPedido()">Auditar</button>
    <button class="btn btn-warning pull-right" style="margin-right:20px;" ng-click="cerrarModal()">Cancelar</button>

</div>