<div class="modal-view" id="editarproductomodal">
    <alert ng-show="rootEditarProducto.validacionproducto.valido == false" type="danger"><span ng-bind="rootEditarProducto.validacionproducto.mensaje"></span></alert>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h5 class="panel-title">Información General</h5>

        </div>
        <div class="panel-body">
            <div class="row" >
                <div class ="col-md-3"><div class="lbl_editar_producto">Codigo</div><span ng-bind="rootEditarProducto.producto.codigo_producto"></span></div>
                <div class ="col-md-9"><div class="lbl_editar_producto">Descripcion</div><span ng-bind="rootEditarProducto.producto.descripcion"></span></div>
            </div>
           
            <div class="row">
                <div class="col-md-3"><div class="lbl_editar_producto">Solicitado</div><span ng-bind="rootEditarProducto.producto.cantidad_solicitada_real"></span></div>
                <div class ="col-md-3"><div class="lbl_editar_producto">Disponible</div><span ng-bind="rootEditarProducto.producto.disponible"></span></div>

            </div>

            <div class="row">
                <div class ="col-md-3"><div class="lbl_editar_producto">Ingresado / Pendiente</div><span ng-bind="rootEditarProducto.producto.obtenerCantidadSeleccionada()"></span> / <span ng-bind="rootEditarProducto.producto.cantidad_pendiente"></span></div>
                <div class ="col-md-3"><div class="lbl_editar_producto">Justificación  Separador</div><div><span ng-bind="rootEditarProducto.producto.lote.justificacion_separador"></span></div></div>
                <div class ="col-md-3" ng-if="rootEditarProducto.producto.getObservacionJustificacionSeparador().length > 0"><div class="lbl_editar_producto">Observación justificación</div><div class="observacionJustificacion"><span ng-bind="rootEditarProducto.producto.observacionJustificacionSeparador"></span></div></div>
            </div>
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading cabeceraPanelLotes">
            <h5 class="panel-title pull-left">Lotes Del Producto</h5>
            <button  class="btn btn-default ng-binding  btn-sm pull-right"  ng-click="onTrearExistencias()">Modificar lotes</button>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="auditarGrid" ng-grid="lotes_producto" validar-evento-fila></div>
        </div>

    </div>


    <div ng-switch on="rootEditarProducto.mostrarJustificacion">
        <div class="panel panel-info" ng-switch-when="true">
            <div class="panel-heading">
                <h3 class="panel-title">Justificacion Auditor</h3>
            </div>
            <div class="panel-body" style="padding:0;">
                <!--div class="span6" style="width:250px;">
                    
                    <ui-select  ng-model="rootEditarProducto.justificacionAuditor" append-to-body="true" theme="select2" class="form-control selectgeneral pull-left" ng-change="justificacionSeleccionada()">
                        <ui-select-match  placeholder="Seleccionar Documento"><span ng-bind="$select.selected.descripcion"></span></ui-select-match>
                        <ui-select-choices repeat="justificacion in  justificaciones| filter:$select.search">
                            <span ng-bind="justificacion.descripcion"></span>
                        </ui-select-choices>
                    </ui-select>
                </div -->


                <div class="panel-body">
                    <div >
                        <textarea placeholder="Observación máximo 50 caracteres" maxlength="50" ng-model="rootEditarProducto.observacionJustificacion" style="width: 100%; padding:5px;  height: 60px;"></textarea>
                    </div>
                    <br />
                    <div class="auditarGrid" ng-grid="gridJustificaciones"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info panelCaja">
        <div class="panel-heading">
            <h3 class="panel-title">Información Caja / Nevera</h3>
        </div>
        <div class="panel-body">
            <div class="row">


                <div class="col-lg-8">
                    <label class="lbl_editar_producto lbl_caja" for="numerocaja">Numero: </label>
                    <div class="input-group input-group-sm">

                        <input type="text" role="group" ng-model="rootEditarProducto.caja.numero" class="form-control" ng-keyup="onNumeroCajaDigitado()"  validacion-numero />
                        <div class="input-group-btn" role="group">
                            <button ng-disabled="cerrar" type="button" style="width:85px;" class="btn btn-default dropdown-toggle btnTipo" data-toggle="dropdown" aria-expanded="false"> {{ rootEditarProducto.caja.getTipo(true)}} <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><a href="javascript:void(0)" ng-click="rootEditarProducto.caja.tipo = 0">Caja</a></li>
                                <li><a href="javascript:void(0)" ng-click="rootEditarProducto.caja.tipo = 1">Nevera</a></li>
                            </ul>
                        </div>
                        
                        
                        
                        <div class="input-group-btn" >
                            <button type="button" ng-click="onSeleccionarCaja()" ng-disabled="rootEditarProducto.caja.tipo == undefined" class="btn btn-default" >
                                Seleccionar
                            </button>
                            
                            <!--button type="button" ng-click="onCerrarCaja()" ng-disabled="!cerrar" class="btn btn-default" >
                                Cerrar Caja
                            </button -->
                            
                            <button type="button" ng-click="onImprimirRotulo()" ng-disabled="!imprimir" class="btn btn-default" >
                                Imprimir
                            </button>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>



    <button class="btn btn-primary ng-binding pull-right" ng-disabled="!rootEditarProducto.itemValido" ng-click="auditarPedido()">Auditar</button>
    <button class="btn btn-warning pull-right" style="margin-right:20px;" ng-click="cerrarModal()">Cancelar</button>

</div>
