<style>
    #scrollArea {
        height: 280px;
        overflow: auto;
    }

    #bottom {
        display: block;
        margin-top: 2000px;
    }
</style>

<div class="row" ng-controller="SistemaController">
    <div class="col-md-8 contenedor-estadisticas">
        <h3>Memoria</h3>
        <span>Uso actual : {{memoria}}</span>
        <nvd3-line-chart
                data="datosGrafico"
                id="uso-memoria"
                showXAxis="true"
                showYAxis="true"
                objectequality="true"
                margin="{left:100,top:50,bottom:100,right:10}"
                tooltips="true"
                yAxisLabel="Memoria"
                xAxisLabel="Tiempo"
                width="900"
                height="400">
        </nvd3-line-chart>
    </div>
    <div class="col-md-4">
        <h3>Peticiones</h3>
        <span>Promedio actual : {{promedioActual}}</span>
        <table class="table table-dark" style="margin-top: 2em !important;">
            <thead>
            <tr>
                <th scope="col">Tiempo</th>
                <th scope="col">Promedio</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1 Minuto</th>
                <td>{{promedio1Min}}</td>
            </tr>
            <tr>
                <th scope="row">5 Minutos</th>
                <td>{{promedio5Min}}</td>
            </tr>
            <tr>
                <th scope="row">15 Minutos</th>
                <td>{{promedio15Min}}</td>
            </tr>
            <tr>
                <th scope="row">Total</th>
                <td>{{promedioTotal}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="panel panel-primary" ng-repeat="server in monitoreo.servers track by $index">
    <div class="panel-heading"><b style="font-size: 18px;">{{monitoreo.serversName[server]}}</b></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="{{monitoreo[server][modulo].width}}" ng-repeat="modulo in monitoreo[server].modulos track by $index">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b style="font-size: 18px;">
                                <h5 style="margin: 0px; padding: 0px; text-align: center;">
                                    <b>{{monitoreo[server][modulo].title}}</b>
                                </h5>
                            </b>
                        </div>
                        <div class="panel-body">
                            <div class="contenedor-modulos-btns">
                                <div style="display: inline-block;" ng-click="btnAccion(modulo, btn, server)" ng-repeat="btn in monitoreo[server][modulo].actions track by $index" class={{btn.class}}>
                                    <button type="button" ng-if="!btn.htmlPersonalizado" style="background: inherit; border: 0px;" ng-disabled="btn.disable"><i class="{{btn.icono}}"></i> {{btn.title}}</button>
                                    <div ng-if="btn.htmlPersonalizado" class="form-group" style="background: inherit; border: 0px; margin-bottom: 0px; display: inline-block; margin-right: auto; margin-left: auto;">
                                        <label class="sr-only" for="exampleInputAmount">Kill Process</label>
                                        <div class="input-group">
                                            <div class="input-group-addon" style="background: #b7403c; color: #FFF;">Kill Process</div>
                                            <input ng-model="nota.valorConcepto" type="number" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-number" id="exampleInputAmount" placeholder="Ingrese id" min="1" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-12 console-format" style="max-height: 370px; overflow-y: scroll;">
                                        <table class="{{monitoreo[server][modulo].tableClass}}" ng-repeat="obj in monitoreo[server][modulo].obj track by $index">  <!-- ng-repeat="(key, title) in modulo.obj track by $index" -->
                                            <tr style="height: 20px;">
                                                <th colspan="100%" style="text-align: center; padding-top: 0px; padding-bottom: 6px; ">
                                                    {{obj.title}}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th class="header" ng-repeat="head in obj.header track by $index">
                                                    {{head}}
                                                </th>
                                            </tr>
                                            <tr ng-repeat="items in obj.rows track by $index">
                                                <td ng-repeat="item in items track by $index" class="nowrap">
                                                    {{item}}
                                                </td>
                                                <td ng-if="modulo === 'POSTGRES' && items" class="normal">
                                                    <p class="btn btn-danger custom-danger" ng-click="querysActiveInDb(modulo, 'killProcess', server, obj.header, items)">
                                                        <i class="glyphicon glyphicon-stop"></i>
                                                        <span>Stop</span>
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
