<style>
    #scrollArea {
        height: 280px;
        overflow: auto;
    }

    #bottom {
        display: block;
        margin-top: 2000px;
    }
</style>
<div class="row" ng-controller="MovilController">
    <div class="col-md-2">
    <div class="panel panel-warning">
        <div class="panel-heading"><b>Dusoft Logistica</b></div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item text-center"><b>App de Bodega Duana</b></li>
                <li class="list-group-item text-center"><a href="#" class="btn btn-primary btn-xs"  ng-click="descarga()" >Descarga</a></li>
            </ul>
        </div>   
    </div>     

    <visualizar-reporte></visualizar-reporte>
    </div>
</div>
