<div ng-controller="GuardarTerceroController">
    <div> 
        
        <tabset>

            <tab>
                <tab-heading>
                   <i class="glyphicon glyphicon-th"></i> <b> Datos tercero </b>
                </tab-heading>
                
                <div ng-include src="'views/GestionTerceros/Terceros/Tabs/DatosTerceros.html'"></div>

            </tab>

            <tab> 
                <tab-heading >
                   <i class="glyphicon glyphicon-time"></i> <b>Datos ubicación</b>
                </tab-heading>
                
                <div ng-include src="'views/GestionTerceros/Terceros/Tabs/DatosUbicacion.html'"></div>
               
            </tab>   
            
            <tab> 
                <tab-heading >
                   <i class="glyphicon glyphicon-time"></i> <b>Contacto</b>
                </tab-heading>
                
                <div ng-include src="'views/GestionTerceros/Terceros/Tabs/DatosContacto.html'"></div>
               
            </tab>   

        </tabset>

    </div>
    
    <div class="row text-center">
        <button type="button" class="btn btn-warning btn-medium"  ng-click="paginaAnterior()">
            Cancelar <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button type="button" class="btn btn-info btn-medium"  ng-click="paginaSiguiente()">
            Siguiente <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
        <button type="button" class="btn btn-success btn-medium"  ng-click="paginaSiguiente()">
            Guardar <span class="glyphicon glyphicon glyphicon-floppy-save" ></span>
        </button>
    </div>


</div>