<div class="row" style="padding-top:10px;">
    
    <div class="col-md-2">
        <p class="input-group" style="margin:0 0 2px">
            <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="onCrearTercero()">
            <span class="glyphicon glyphicon-ok"></span> Crear</button>          
        </p> 
    </div>

    <div class="col-md-3 pull-right">

        <div class="input-group">
           <input type="text" class="form-control" ng-keypress="onBuscar($event)" ng-model="root.terminoBusqueda" placeholder="Busqueda por nombre" >


             <div class="input-group-btn" >
                <button class="btn btn-default pull-right" type="submit" ng-click="onBuscar()"><i class="glyphicon glyphicon-search"></i></button>

             </div>
         </div> 

    </div>  
    
    <div class="col-md-3 pull-right">

            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span ng-bind="root.tipoDocumento.getDescripcion()"></span> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="tipoDocumento in root.tiposDocumentos">
                            <a href="javascript:void(0)" ng-click="onSelecionarTipoDocumento(tipoDocumento)"><span ng-bind="tipoDocumento.getDescripcion()"></span></a>
                        </li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" ng-keypress="onBuscarPorDocumento($event)" ng-model="root.terminoBusquedaDocumento" placeholder="Busqueda por identificación"  />
                <span class="input-group-btn">

                    <button class="btn btn-default" type="submit" ng-click="onBuscarPorDocumento()"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div><!-- /input-group -->



    </div>
</div>

<div class="table-responsive" >
   <p class="input-group">
    <div class="defaultGrid grid-responsive" ng-grid="listaTerceros">

    </div>
   <p>
</div>

<br/>

<div class="row text-center">
    <button type="button" class="btn btn-default btn-medium" ng-disabled="root.paginaActual == 1" ng-click="paginaAnterior()">
        <span class="glyphicon glyphicon-chevron-left" ></span>
    </button>
    <button type="button" class="btn btn-default btn-medium" ng-disabled="root.terceros.length == 0" ng-click="paginaSiguiente()">
        <span class="glyphicon glyphicon-chevron-right" ></span>
    </button>
</div>

