<div class="row">
    
    <!--div class="input-group navbar-form row">

        <input type="text" class="form-control" ng-model="root.grupo.nombre" placeholder="Nombre del grupo" style="margin-right: 20px;" />  
        <label for="grupoEstado" style="margin-top: 5px;">Estado </label> 
        <input-check id="grupoEstado" ng-model="root.grupo.estado" style="margin-right: 30px;" ></input-check>
        <button class="btn btn-success pull-right" ng-click="onBtnGuardarGrupo()">Guardar</button>
    </div-->
    
    <div class="col-md-12">
        <div class="input-group  navbar-form"   style="width:200px;">

            <input type="text" class="form-control pull-right" ng-model="root.grupo.nombre" placeholder="Nombre del grupo" style="min-width: 100px;"  />
            <div class="input-group-btn" >
                <button class="btn btn-default" type="submit" ng-click="onBtnCambiarEstado()">
                    <span ng-if="root.grupo.getEstado() == 0">Activar</span>
                    <span ng-if="root.grupo.getEstado() == 1">Inactivar</span>
                    <i class="glyphicon glyphicon-file"></i>
                </button>
                <button class="btn btn-success" type="submit" ng-click="onBtnGuardarGrupo()">Guardar <i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-warning" type="submit" ng-click="onBtnCancelar()">Cancelar <i class="glyphicon glyphicon-remove"></i></button>
            </div>

        </div>
    </div>
    
    <div class="col-md-6">


        <div class="input-group  navbar-form buscadorgeneral">

            <input type="text" class="form-control pull-right" ng-keypress="onBuscarUsuariosGrupo($event)" ng-model="root.terminoBusqueda" placeholder="Usuarios en el grupo" />
            <div class="input-group-btn" >
                <button class="btn btn-default" type="submit" ng-click="onBuscarUsuariosGrupo({which:13})"><i class="glyphicon glyphicon-search"></i></button>
            </div>

        </div>

        <!--h4 class="tituloGridUsuariosChat">Usuarios que participarán en el grupo</h4-->

        <div class="table-responsive" >

            <div class="defaultGrid grid-responsive" ng-grid="listaUsuarios">

            </div>
        </div>

    </div>
    
    <div class="col-md-6">

        <usuarios  btn-seleccionar="true" btn-detalle="false"></usuarios>
    </div>
    

    
    
</div>



