<div class="row paddingToptZero">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="h4MarginTopBottom"><span >{{root.tituloNota}}</span></h4>
            </div>
            <br />

            <div class="table-responsive" style="clear:both; height: 5%">
                <div class="defaultGrid grid-responsive" ng-grid="listaNotas2" ></div>
            </div>

            <br />
            <br />
            <div class="row">
                <div class="col-md-1">
                    <label class="control-label text-center" for="IsSmallBusiness"></label>
                </div>
                <div class="col-md-2">
                    <label class="control-label text-center" for="IsSmallBusiness">Subtotal</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label text-center" for="IsSmallBusiness" >Iva</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label text-center" for="IsSmallBusiness">Retefuente</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label text-center" for="IsSmallBusiness">Reteica</label>
                </div>
                <div class="col-md-3">
                    <label class="control-label text-center" for="IsSmallBusiness" >Total Nota</label>
                </div>
            </div>
            <div class="row" style="font-size: 10px;">
                <div class="col-md-1">
                    <!--<label class="control-label text-center" for="IsSmallBusiness"></label>-->
                </div>
                <div class="col-md-2">
                    <label class="control-label text-center" for="IsSmallBusiness">{{root.impuestosnota.valorSubtotal| currency:"$"}}</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label text-center" for="IsSmallBusiness" >{{root.impuestosnota.iva| currency:"$"}}</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label text-center" for="IsSmallBusiness">{{root.impuestosnota.retencionFuente| currency:"$"}}</label>
                </div>
                <div class="col-md-2">
                    <label class="control-label text-center" for="IsSmallBusiness">{{root.impuestosnota.retencionIca| currency:"$"}}</label>
                </div>
                <div class="col-md-3">
                    <label class="control-label text-center" for="IsSmallBusiness" >{{root.impuestosnota.totalGeneral| currency:"$"}}</label>
                </div>
            </div>
        </div>
        <br />
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="cerrar()">Cerrar</button>
            <button type="button" class="btn btn-primary" ng-click="guardarNotas()">Crear</button>
        </div>
    </div>
</div> 


