<div> 
    <div class="row paddingToptZero">
        <div class="col-sm-12 col-md-12"  ng-controller="ContenedorSeparacionController">
            <button type="button" class="btn btn-default pull-right boton-separacion-cancelar btn-sm" ng-click="retornarPaginaInicio()"  
                    aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-arrow-left"></span> Regresar </button>
            <div class="panel panel-default marginBottom5">
                <div class="panel-heading">
                    <h4 class="h4MarginTopBottom"><span >Separacion de pedidos</span> </h4>
                </div>
                <div class="panel-body">

                    <table class="table " id="tablaSeparacion">
                        <tr><th>Cliente </th><td>FARMACIA DUANA</td></tr>
                        <tr><th>Observacion &nbsp;</th><td>Se solicita pedido por tutela</td></tr>
                        <tr><th>Producto </th><td>168PO483783 - PIROXCAM 5% GEL O JALEA | TUBO  40GR. GEN-FAR.SA</td></tr>
                        <tr>
                            <th>Justificar </th>
                            <td> 
                                <div class="btn-group  navbar-left ">
                                    <button type="button" class="btn btn-default dropdown-toggle" 
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span ng-bind="justificacion.nombre"></span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="justificacion in justificaciones">
                                            <a href="javascript:void(0)" ng-click="onSeleccionJustificacion(justificacion)"><span ng-bind="justificacion.nombre"></span></a>
                                        </li>
                                    </ul>
                                </div>                           
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> 

    <div class="panel panel-default marginBottom5">
        <div class="panel-heading">
            <ul class="pagination paginacionSeparacion">
                <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li><a href="" ng-click="mostrarDetallePedidos()">Detalle</a></li>
                 <div  class="slide" slide-content open-callback="mostrarDetallePedidos" close-callback="closeDetallePedidos"   >
                    <div ng-include src="slideurl" ></div>
                </div>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>

            <div class="btn-group   navbar-right accionSeparacion ">
                <button type="button" class="btn btn-default dropdown-toggle" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span ng-bind="filtro.nombre"></span> <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li ng-repeat="filtro in filtros">
                        <a href="javascript:void(0)" ng-click="onSeleccionFiltros(filtro)"><span ng-bind="filtro.nombre"></span></a>
                    </li>
                </ul>
            </div>                                      
        </div>
        <div class="panel-body">
            <div class="grid-separacion-producto grid-responsive" ng-grid="separacionProducto" > </div>
        </div>
    </div>
</div> 

