<div ng-controller="DetallepedidoSeparadoClienteController" >

    <div class="row paddingToptZero">
        <div class="col-sm-12 col-md-12"  ng-controller="ContenedorSeparacionController">

            <div class="panel panel-info ">
                <div class="panel-heading">
                    <h4 class="h4MarginTopBottom"><span >Separacion de pedidos</span> </h4>
                </div>


                <br>
                <div class="table-responsive" >
                    <div class="gridStyle2" ng-grid="listarDocumentoDespacho" > </div>
                </div>

            </div>
            <div class="col-lg-2 pull-right">
                <button class="btn btn-warning" ng-click="cerrarGenerarAuditar()">Cancelar</button>

            </div>
        </div>
    </div> 
</div>

