<div  >

    <div class="row paddingToptZero">
        <div class="col-sm-12 col-md-12">

            <div class="panel panel-info ">
                <div class="panel-heading">
                    <h4 class="h4MarginTopBottom"><span >Seleccionar Justificacion</span> </h4>
                </div>

                <br>
                <textarea placeholder="Observación">
                
                </textarea>
                <div class="table-responsive" >
                    <div class="gridStyle2" ng-grid="listaJustificaciones" > </div>
                </div>

            </div>
            <div class="col-lg-2 pull-right">
                <button class="btn btn-warning" ng-click="cerrar()">Cancelar</button>
            </div>
        </div>
    </div> 
</div>

