<div  ng-controller="SeparacionDetalleController"> 


    <div class="panel panel-default">

        <div class="row paddingToptZero">


            <div class="col-sm-12 col-md-12"  ng-controller="ContenedorSeparacionController">


                <button type="button" class="btn btn-default pull-right boton-separacion-cancelar btn-sm" ng-click="closeDetallePedidos()"  
                        aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon glyphicon-remove-circle"></span> Cerrar </button>


                <div class="panel panel-info marginBottom5">

                    <div class="panel-heading">
                        <h4 class="h4MarginTopBottom"><span >Separacion de pedidos</span> </h4>
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class ="col-md-1">
                                <div class="lbl_editar_producto">Pedido</div>
                                 {{rootDetalle.pedido.get_numero_pedido()}}
                            </div>
                            <div class="col-md-3"><div class="lbl_editar_producto">Cliente</div>{{rootDetalle.nombreCliente}}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div> 
        <div class="panel panel-info ">
            <div class="panel-heading">                                   
            </div>
            <div class="panel-body ">
                <div class="grid-separacion-producto grid-responsive" ng-grid="detalleSeparacionProducto" > </div>
            </div>
        </div>
        
        <div class="modal-footer ">                                
            <button class="btn btn-warning" ng-click="onEliminarProductosTodos()">
                <span class="glyphicon glyphicon-remove" ></span> Eliminar
            </button>   
            
            <button class="btn btn-default" ng-click="onGenerarSeparacion()">
                <span class="glyphicon glyphicon-ok" ></span> Generar
            </button> 
            
            <button class="btn btn-default" ng-click="onGenerarAuditar()">
                <span class="glyphicon glyphicon-ok" ></span> Generar y auditar
            </button>  
        </div> 
       
    </div>   

</div> 

