<div ng-controller="SeparacionClientesController">
    <div class ="row">
        <br>
        <div class="col-md-3 pull-right">
            <p class="input-group">
                <input type="text" class="form-control" 
                       ng-keypress="onBuscarPedidos($event);" 
                       ng-model="rootSeparacionClientes.terminoBusqueda" 
                       placeholder="Buscar" name="" id="" 
                       />
                <span class="input-group-btn">
                    <button class="btn btn-default"  type="submit" ng-click="onBuscarPedidos({which:13})"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </p>
        </div>
    </div>

    <div class="table-responsive" style="clear:both; padding-top: 10px;">
        <div class="defaultGrid grid-responsive" ng-grid="pedidos"></div>
    </div>
    </br>
    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactualClientes == 1" ng-click="paginaAnteriorClientes()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="items <=25" ng-click="paginaSiguienteClientes()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
    </div>


</div>