<div ng-controller="ContenedorSeparacionController">
   <ul class="nav nav-tabs">
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Pedidos Asignados <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
          <li><a href="javascript:void(0);" ng-click="onCambiarVista(root.vistas[0].path)">{{root.vistas[0].nombre}}</a></li>
          <li><a href="javascript:void(0);" ng-click="onCambiarVista(root.vistas[1].path)">{{root.vistas[1].nombre}}</a></li>
      </ul>
    </li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Pedidos Temporales <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
         <li><a href="javascript:void(0);" ng-click="onCambiarVista(root.vistas[2].path)">{{root.vistas[2].nombre}}</a></li>
         <li><a href="javascript:void(0);" ng-click="onCambiarVista(root.vistas[3].path)">{{root.vistas[3].nombre}}</a></li>
      </ul>
    </li>

  </ul>
    
    
  <div ng-include src="root.vista">
        
  </div>

</div>