<div  >

    <div class="row paddingToptZero">
        <div class="col-sm-12 col-md-12">
            
            <div class="panel panel-info ">
                <div class="panel-heading">
                    <h4 class="h4MarginTopBottom"><span >Justificación / Observación</span> </h4>
                </div>
                
                <br />
                <p class="panel">
                    <textarea placeholder="Observación máximo 50 caracteres" maxlength="50" ng-model="rootJustificacion.observacionJustificacion" style="width: 100%; padding:5px;  height: 60px;"></textarea>
                </p>

                <br>
                
                <div class="table-responsive" >
                    <div class="gridStyle2" style="height: 300px" ng-grid="listaJustificaciones"> </div>
                </div>
                
            </div>
           
            <div class="col-lg-2 pull-right">
                <button class="btn btn-warning" ng-click="cerrar()">Cancelar</button>
            </div>
        </div>
    </div> 
</div>

