<div >

    <div class="row paddingToptZero">
        <div class="col-sm-12 col-md-12">

            <div class="panel panel-info ">
                <div class="panel-heading">
                    <h4 class="h4MarginTopBottom"><span >Separacion de pedidos</span> </h4>
                </div>

                <div class ="row">
                    <br>
                    <div class="col-md-6 pull-right">

                        <p class="input-group">
                            <input type="text" class="form-control" 
                                   ng-keypress="onBuscarProductos($event);" 
                                   ng-model="rootSeparacionClientes.terminoBusqueda" 
                                   placeholder="Buscar" name="" id="" 
                             />
                            <span class="input-group-btn">
                                <button class="btn btn-default"  type="submit" ng-click="onBuscarProductos({which:13})"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </p>
                    </div>

                    <div class="pull-right ">
                        <label class ="checkbox-listarproductos">Codigo barras</label>
                        <input-check ng-model="filtro.codigo_barras" ></input-check>

                    </div>
                </div>
                <br>
                <div class="table-responsive" >
                    <div class="gridStyle2" ng-grid="listarProductos" > </div>
                </div>

            </div>
            <div class="col-lg-2 pull-right">
                <button class="btn btn-warning" ng-click="cerrarListarProductos()">Cancelar</button>

            </div>
        </div>
    </div> 
</div>

