
    <div ng-controller="ValidacionDespachoDetalleController">
      
            
                <div class="panel panel-default">                  
                    <div class="panel-body">
                        <div class="row" ng-switch on="datos_view.opcion_predeterminada" >                            
                            <div class="col-md-6" ng-switch on="(datos_view.opcion_predeterminada == '0') || (datos_view.opcion_predeterminada == '1')" >
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-lg-12">                                      
                                           <div class="checkbox">
                                                <label>
                                                  <input type="checkbox" 
                                                         ng-model="datos_view.seleccionarOtros" 
                                                         ng-disabled="datos_view.estadoRegistro == 1"
                                                         ng-change ="cargarEmpresaSession()"><h4>Seleccionar otras salidas</h4>   
                                                </label>
                                              </div>
                                    </div>
                                </div>                            
                            </div>                                              
                          <div class="col-md-12" style="margin-top: 50px;"><!--ng-switch-when="2"//-->
                                <div class="row">
                                        
                                       <div class="col-md-4">
                                     <fieldset>
                                            <legend>Empresa</legend>   
                                            
                                            
                                            <div class="row">
                                                <div class="col-md-7">  
                                                    <ui-select   ng-model="datos_view.empresaSeleccionada" 
                                                        ng-disabled="datos_view.estadoRegistro == 1"
                                                        theme="select2" 
                                                        class="form-control selectgeneral pull-left" >
                                                       
                                                        
                                                          <ui-select-match   placeholder="Seleccionar Empresa" >{{ $select.selected.getNombre()}}</ui-select-match>
                                                          <ui-select-choices  refresh="onSeleccionarEmpresa($select.search)" 
                                                                              refresh-delay="0" repeat="empresa in empresas | filter:$select.search">
                                                              {{ empresa.getNombre()}}                                         
                                                          </ui-select-choices>
                                                </ui-select> 
                                           
                                                     </div></div>
                                      </fieldset>
                                    </div>    
                                                                             
                                      
                             
                                    <div class="col-md-4">
                                     <fieldset>
                                            <legend>Prefijo</legend>   
                                             <div class="row">
                                                <div class="col-md-7">  
                                            <input type="text" ng-disabled="datos_view.estadoRegistro == 1"  
                                                   class="form-control"  
                                                   ng-model="documentoDespachoAprobado.prefijo" 
                                                   placeholder="Prefijo" 
                                                   name="" id=""
                                                   ng-show ="datos_view.seleccionarOtros"/>
                                     
                                                
                                            
                                          
                                            <ui-select  ng-model="datos_view.prefijoList"
                                                        theme="select2" 
                                                        class="form-control selectgeneral pull-left" 
                                                        ng-change="valorSeleccionado(true)"
                                                        ng-show ="!datos_view.seleccionarOtros">
                                                <ui-select-match  placeholder="Seleccionar Documento">{{$select.selected.prefijo}}-{{$select.selected.descripcion}}</ui-select-match>
                                                <ui-select-choices repeat="documento_usuario in  documentos_usuarios| filter:$select.search">
                                                    {{documento_usuario.prefijo}}-{{documento_usuario.descripcion}}
                                                </ui-select-choices>
                                            </ui-select>
                                            
                                            
                                            
                                          
                                            
                                            </div></div>
                                      </fieldset>
                                    </div>       
                                    
                                    
                                     <div class="col-md-4">
                                         <fieldset>
                                            <legend>Numero</legend>
                                              <div class="row">
                                                <div class="col-md-7">
                                                    
                                            <input type="text" 
                                                   ng-disabled="datos_view.estadoRegistro == 1"  
                                                   class="form-control"  
                                                   ng-model="documentoDespachoAprobado.numero" 
                                                   placeholder="Numero" 
                                                   name="" 
                                                   id="" 
                                                   validacion-numero-entero 
                                                   ng-blur="validarExistenciaDocumento()"/>
                                         
                                                </div></div>
                                            </fieldset>
                                    </div> 
                             
                                    
                                </div>                              
                            </div>                             
                            <div class="col-md-12" style="margin-top: 50px;"><!--ng-switch-when="2"//-->
                                <div class="row">                                                                      
                                    <div class="col-md-4">
                                        <fieldset>
                                            <legend>Cantidad Cajas</legend>      
                                            <div class="row">
                                                <div class="col-md-7">  
                                                    <input type="text" ng-disabled="datos_view.estadoRegistro == 1"  class="form-control"  ng-model="documentoDespachoAprobado.cantidadCajas" placeholder="Cantidad Cajas" name="" id="" validacion-numero-entero />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>                        
                                    <div class="col-md-4">
                                        <fieldset>
                                            <legend>Cantidad Neveras</legend> 
                                            <div class="row">
                                                <div class="col-md-7">  
                                                    <input type="text" ng-disabled="datos_view.estadoRegistro == 1"  class="form-control"  ng-model="documentoDespachoAprobado.cantidadNeveras" placeholder="Cantidad Neveras" name="" id="" validacion-numero-entero />
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <fieldset>
                                            <legend>Observación</legend>                                 
                                            <div class="row">  
                                                <div class="col-md-12">                                          
                                                    <textarea  class="col-lg-12 col-md-12 col-sm-12" ng-disabled="datos_view.estadoRegistro == 1"  rows="4" name="" ng-model="documentoDespachoAprobado.observacion" placeholder="Ingresar Observación"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>   
                                    
                                </div>
                                <br>
                              
                            </div>
                            <div class="modal-footer col-md-12">                                
                                                                                      
                                <button class="btn btn-default" ng-click="regresarListaDespachosAprobados()">
                                    <span class="glyphicon glyphicon-ok" ></span> Regresar
                                </button>  
                                
                                <button class="btn btn-default" ng-disabled="datos_view.estadoRegistro == 1 || datos_view.existenciaDocumento == true" ng-click="aprobarDespacho()">
                                    <span class="glyphicon glyphicon-ok" ></span> Guardar 
                                </button>  
                            </div>  
                        </div>
                    </div>
                </div>         
         </div>

