<div class="row paddingToptZero">
        <div class="col-sm-12 col-md-12">

            <div class="panel panel-info ">
                <div class="panel-heading">
                    <h4 class="h4MarginTopBottom"><span >Entrega medicamentos</span> </h4>
                </div>

                <br>
                <div class="table-responsive" style="height: 400px;">
                    <div class="gridStyle3" ng-grid="listarTiposJustificaciones" > </div>
                </div>


                <div class="row">

                    <div class="pull-center">
                        <h5 class="text-center"><strong> </strong></h5>
                    </div>  
 

                </div>

            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-warning" ng-click="descartarProductoPendiente()" ng-disabled="">Aceptar</button>
                <button type="button" class="btn btn-primary" ng-click="cerrarVentana()">Cancelar</button>
            </div>
        </div>
    </div> 
