<div class="row paddingToptZero">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="h4MarginTopBottom"><span >Entrega medicamentos</span></h4>
            </div>
            <br>
          
              
                <div class="table-responsive" style="clear:both; width: 768; height: 400px;">
                    <div class="defaultGrid grid-responsive" ng-grid="listaMovimientoFormulaPaciente" ></div>
                </div>
                           
            </div>
           
           <!-- <div class="table-responsive" >
                <div class="gridStyle3" ng-grid="medicamentosTemporales" ></div>
            </div> //-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="cerrarVentana()">Cerrar</button>
        </div>
    </div>
</div> 

