
<div ng-controller="dispensacionHcDetalleController">

    <div class="row paddingToptZero">
        <div class="col-sm-12 col-md-12">

            <div class="panel panel-info ">
                <div class="panel-heading">
                    <h4 class="h4MarginTopBottom"><span >Seleccionar Justificacion</span> </h4>
                </div>

                <br>
                <div class="table-responsive" style="height: 400px;">
                    <div class="gridStyle2" ng-grid="listaTiposFormulas" > </div>
                </div>


                <div class="row">

                    <div class="pull-center">
                        <h5 class="text-center"><strong> </strong></h5>
                    </div>  


                    <div class="col-md-8 col-md-offset-2">    

                        <div class="row">
                            <div class="col-md-2"><h5 class="text-center"> Observacion </h5></div>


                            <div class="col-md-10">
                                <div class="col-sm-10"><textarea class="form-control" ng-model="datos_view.email_message" id="inputBody" rows="8"></textarea></div>
                            </div> 
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-click="cerrarVentana()">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="realizarEntregaFormula()" ng-disabled="">Aceptar</button>
            </div>
        </div>
    </div> 
</div> 
