<div class="row paddingToptZero">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="h4MarginTopBottom"><span >Entrega medicamentos</span></h4>
            </div>
            <br>
          
               <div class="gridStyle2" ng-grid="listaMovimientoFormulaPaciente" ></div>  
               
                           
            </div>
           
           <!-- <div class="table-responsive" >
                <div class="gridStyle3" ng-grid="medicamentosTemporales" ></div>
            </div> //-->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="realizarEntregaFormula()" ng-disabled="btnEntregaFormula">Aceptar</button>
            <button type="button" class="btn btn-primary" ng-click="cerrarVentana()">Cancelar</button>
        </div>
    </div>
</div> 

