<div class="row paddingToptZero">
    <div class="col-sm-12 col-md-12">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h4 class="h4MarginTopBottom"><span >Entrega medicamentos</span></h4>
            </div>
            <br>
            <div class="gridStyle3" ng-grid="listaTiposFormulas" ></div>
            <div class="row marginCampoObservacion" >                   
                <div class="form-group">
                    <div class="col-sm-12"><textarea class="form-control" ng-model="root.observacion" id="inputBody" rows="2" placeholder="Observacion"></textarea></div>
                </div>                
            </div>

            <div class="table-responsive" >
                <div class="gridStyle3" ng-grid="medicamentosTemporales" ></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-click="realizarEntregaFormula()" ng-disabled="btnEntregaFormula">Aceptar</button>
            <button type="button" class="btn btn-primary" ng-click="cerrarVentana()">Cancelar</button>
        </div>
    </div>
</div> 

