
    <div ng-controller="dispensacionHcDetalleController">
      
         
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4 class="text-center"><strong>Informacion Formula</strong></h4>
                        </div>
                       
                    </div>
                    <div class="panel-body">                    
                        <div class="row">
                            
                               
                            <div class="col-md-3">

                                 <fieldset>
                                    <legend>Documento</legend> 
                                    <div class="row">  
                                        <div class="col-md-7" style="margin-top: -14px">                                          
                                            <h4><strong>{{root.detalleFormula[0].mostrarPacientes()[0].getTipoIdPaciente() }} {{  root.detalleFormula[0].mostrarPacientes()[0].getPacienteId() }}</strong></h4>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>                        
                              <div class="col-md-3">

                                 <fieldset>
                                    <legend>Paciente</legend> 
                                    <div class="row">  
                                        <div class="col-md-7" style="margin-top: -14px">                                        
                                             <h4><strong>{{root.detalleFormula[0].mostrarPacientes()[0].getNombres() }} {{root.detalleFormula[0].mostrarPacientes()[0].getApellidos()}}</strong></h4>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>  
                            
                           <div class="col-md-2">

                                 <fieldset>
                                    <legend>Fecha registro</legend> 
                                    <div class="row">  
                                        <div class="col-md-7" style="margin-top: -14px">                                          
                                            <h4><strong>{{root.detalleFormula[0].mostrarPacientes()[0].mostrarFormulas()[0].getFechaRegistro()}}</strong></h4>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>                     
                             <div class="col-md-2">

                                 <fieldset>
                                    <legend>Fecha formula</legend> 
                                    <div class="row">  
                                        <div class="col-md-7" style="margin-top: -14px">                                          
                                            <h4><strong>{{root.detalleFormula[0].mostrarPacientes()[0].mostrarFormulas()[0].getFechaFormulacion()}}</strong></h4>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>                       
                            <div class="col-md-2">
                                <fieldset>
                                    <legend>Evolution</legend> 
                                    <div class="row">
                                        <div class="col-md-7" style="margin-top: -14px">  
                                            <h4><strong>{{root.detalleFormula[0].mostrarPacientes()[0].mostrarFormulas()[0].getEvolucionId()}}</strong></h4>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                         
                            
                            
                        </div>
                        
                                             
                        <!-- -->
                        <div class="row">  
                            <div class="col-md-12">
                                <tabset>
                                    <tab heading="Dispensar medicamentos" >
                                        <br>
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <div class="pull-center">
                                                    <h4 class="text-center"><strong>Medicamentos solicitados</strong></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">  
                                            <div class="col-md-12">
                                                
                                                <div class="table-responsive" >
                                                    <div class="defaultGrid grid-responsive" ng-grid="listaMedicamentosFormulados" style="clear:both; height: 350px;" > </div>
                                               </div>
   
                                            </div>
                                        </div>   
                                    </tab>                        
                                                              
                                </tabset>
                                
                                
                                
                                <br>
                                <div ng-if="medicamentosTemporales.length > '0'">
                                
                                        <div class="panel panel-default" >
                                            <div class="panel-heading clearfix">
                                                <div class="pull-center">
                                                    <h4 class="text-center"><strong>Medicamentos temporales</strong></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">  
                                            <div class="col-md-12">
                                                
                                                <div class="table-responsive" >
                                                    <div class="defaultGrid grid-responsive" ng-grid="listaMedicamentosTemporales" style="clear:both; height: 350px;" > </div>
                                               </div>
   
                                            </div>
                                        </div>   
                                                         
                                                              
                              
                                </div>
                                
                                
                                
                               
                                <!--Acciones Cotizacion/ Pedido -->    
                                <div class="modal-footer col-md-12" ng-if="!datos_view.cartera">
                                    
                                    
                                     <button class="btn btn-default" ng-click="regresarListaFormulas()" >
                                        <span class="glyphicon glyphicon-ok" ></span> volver
                                    </button>
                                    
                                    <button class="btn btn-default" ng-click="regresarListaFormulas()" ng-if="Pedido.get_numero_cotizacion() > 0 || Pedido.get_numero_pedido() >0">
                                        <span class="glyphicon glyphicon-ok" ></span> Volver
                                    </button>
                                    <button class="btn btn-default" ng-validate-events="{{ habilitar_generacion_reporte() }}" ng-click="descargar_enviar_reporte()" ng-if="Pedido.get_numero_cotizacion() > 0 || Pedido.get_numero_pedido() >0">
                                        <span class="glyphicon glyphicon-cog" ></span> Generar reporte
                                    </button>
                                    
                                     <button class="btn btn-default" ng-validate-events="{{ habilitar_generacion_reporte() }}" ng-click="registrarProductoModificado()" ng-if="Pedido.get_numero_pedido() >0" ng-disabled="!datos_view.btnSolicitarAutorizacionCartera">
                                        <span class="glyphicon glyphicon-cog" ></span> Solicitar autorizacion cartera 
                                    </button>
                                   <!-- <button class="btn btn-default" ng-click="aceptar_cotizacion()" ng-if="Pedido.get_aprobado_cartera() == '' || Pedido.get_aprobado_cartera() === '0' || Pedido.get_numero_pedido() >0 " >//-->
                                  <button class="btn btn-default" ng-click="aceptar_cotizacion()" ng-if="Pedido.get_aprobado_cartera() == '' || Pedido.get_estado_cotizacion() ==1 || Pedido.get_estado_cotizacion() ==2 || Pedido.get_estado_cotizacion() ==4 || Pedido.get_estado_cotizacion() ==6" >
                                        
                                   
                                   <span class="glyphicon glyphicon-ok" ></span> Aceptar 
                                    </button>                                
                                    <button class="btn btn-default" ng-click="gestionar_pedido()" ng-if="Pedido.get_numero_cotizacion() > 0 && Pedido.get_aprobado_cartera() === '1'" ng-disabled="Pedido.get_estado_cotizacion() == '0'">
                                        <span class="glyphicon glyphicon-ok" ></span> Generar Pedido
                                    </button>                                
                                </div> 
                                <!--Acciones Cartera-->
                                <div class="modal-footer col-md-12" ng-if="datos_view.cartera">                                                             
                                    <button class="btn btn-default" ng-click="gestion_cartera(4)" ng-disabled ="Pedido.get_estado_cotizacion() ==5 || Pedido.getEstado() ==4">
                                        <span class="glyphicon glyphicon-remove" ></span> Denegado Cartera
                                    </button>
                                <!--   <button class="btn btn-default" ng-click="gestion_cartera(1)" ng-disabled ="Pedido.getEstado() !=4 && !items >0 || Pedido.get_estado_cotizacion() ==5">
                                        <span class="glyphicon glyphicon-ok" ></span> Aprobado Cartera 
                                    </button> //-->
                                     <button class="btn btn-default" ng-click="gestion_cartera(1)" ng-disabled ="Pedido.getEstado() !=4 && !items >0 || Pedido.get_estado_cotizacion() ==5">
                                        <span class="glyphicon glyphicon-ok" ></span> Aprobado Cartera 
                                    </button>
                                    
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
        <div  class="slide" slide-content open-callback="gestionar_productos_clientes" close-callback="cerrar_gestion_productos_clientes"   >
            <div ng-include src="slideurl"  ></div>
        </div>
   
    <visualizar-reporte></visualizar-reporte>





         </div>

