
<div class="input-group col-sm-12 col-md-12 col-lg-12">                       
                    <div class="row" >
                        <div class="col-md-4">
                            <h4>Busqueda por {{ datos_form.seleccion_tipo_producto }}</h4> 

                            <div class="btn-group">                             
                                <label class="btn btn-{{classCssSinDispensar}}">
                                    <input type="radio" 
                                           name ="estadoFormula" 
                                           ng-model="root.estadoFormula"
                                           ng-click="checkearEstadoFormula(0)" 
                                           value="0" checked/>
                                    <span class="label label-{{classCssSinDispensar}}">Sin dispensar</span>
                                </label>
                                 <label class="btn btn-{{classCssPendientes}}" >
                                    <input type="radio" 
                                           name="estadoFormula" 
                                           ng-model="root.estadoFormula" 
                                           ng-click="checkearEstadoFormula(1)"
                                           value="1" 
                                           ng-checked ="root.estadoFormula"/>
                                    <span class="label label-{{classCssPendientes}}">Pendientes </span>
                                </label>
                               

                            </div> 
                                
                          <!--   <span class="label label-success" ng-show="root.estadoFormula == 0" >Sin dispensar</span>
                              <span class="label label-default" ng-show="root.estadoFormula == 1" >Pendientes</span> //-->
                              
                             
                        </div>    
                        
                    </div>
</div>


<br>

<div class ="row">
    
      {{afiliados}}
      
     <div class="col-md-2">
            <p class="input-group">
                <input type="text" class="form-control readonlyinput" 
                       datepicker-popup="{{format}}" 
                       ng-model="root.fecha_inicial_aprobaciones" 
                       is-open="root.datepicker_fecha_inicial" 
                       min="minDate"   
                       readonly  close-text="Cerrar" 
                       ng-change="" 
                       clear-text="Borrar" 
                       current-text="Hoy" 
                       placeholder="Fecha Inicial" 
                       show-weeks="false" 
                       toggle-weeks-text="#"  />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="abrir_fecha_inicial($event);"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    
        <div class="col-md-2">
            <p class="input-group">
                <input type="text" class="form-control readonlyinput" 
                       datepicker-popup="{{format}}" 
                       ng-model="root.fecha_final_aprobaciones" 
                       is-open="root.datepicker_fecha_final" 
                       min="root.fecha_inicial"  
                       readonly  close-text="Cerrar"
                       clear-text="Borrar"  
                       placeholder="Fecha Final" 
                       current-text="Hoy" 
                       show-weeks="false" 
                       toggle-weeks-text="#" />
                <span class="input-group-btn">
                    <button class="btn btn-default"  ng-click="abrir_fecha_final($event);"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
    
    
        
         <div class="{{columnaSizeBusqueda}} pull-right">                                                                
                                                     
            
                <div class="input-group">
                    <div class="input-group-btn">
                        
                        
                        
                        <button type="button" class="btn btn-default dropdown-toggle" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >{{root.filtro.descripcion}} <span class="caret"></span></button>
                      <ul class="dropdown-menu" ng-selected="onColumnaSize(root.filtro.tipo)">
                            <li ng-repeat="filtro in root.filtros">
                                <a href="javascript:void(0)" ng-click="onSeleccionFiltro(filtro)">{{filtro.descripcion}}</a>
                            </li>
                            <li role="separator" class="divider"></li>
                           
                            <li ng-repeat="tipoDocumento in tipoDocumentos">
                                <a href="javascript:void(0)" ng-click="onSeleccionFiltro(tipoDocumento)">
                                    {{tipoDocumento.descripcion}}
                                </a>
                            </li>
                        </ul>
                        
                  
                    </div> 
                    
                            
                   <input ng-show="root.visibleBuscador" 
                           type="text" 
                           class="form-control" 
                           ng-keypress="buscarFormulas($event,0);"  
                           ng-model="root.termino_busqueda" 
                           placeholder="Buscar" name="" id="" />
                    <div class="input-group-btn" ng-show="root.visibleBotonBuscador" >
                       
                       <button class="btn btn-default pull-right" type="submit" ng-click ="buscarFormulas($event,0)">
                           <i class="glyphicon glyphicon-search"></i></button>
                       
                    </div>
                    
                   <button class="btn btn-default pull-right" type="submit" ng-click ="insertarFormulasDispensacionEstados()">
                           <i class="glyphicon glyphicon-search"></i>GENERAR</button>
                   
                </div>
     
            </div>
          
        </div>
     <br>
   
    <!-- <div ng-if="root.estadoFormula == 0"> //-->
         
         <div class="table-responsive" style="clear:both; width: 768; height: 1024px;">
            <div class="defaultGrid grid-responsive" ng-grid="listaFormulas" ></div>
        </div>
       
   <!--  </div> 
   
     <div ng-if="root.estadoFormula == 1">
         
         <div class="table-responsive" style="clear:both; width: 768; height: 1024px;">
            <div class="defaultGrid grid-responsive" ng-grid="listaFormulasPendientes" ></div>
        </div>
         
     </div> //-->
     
     
     
    </br>
    <div class="row text-center">
        <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactual == 1" ng-click="paginaAnterior()">
            <span class="glyphicon glyphicon-chevron-left" ></span>
        </button>
        <button type="button" class="btn btn-default btn-medium" ng-disabled="root.items <25" ng-click="paginaSiguiente()">
            <span class="glyphicon glyphicon-chevron-right" ></span>
        </button>
    </div>
 
 
  
                     <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                          {{tipoDocumento.nombre}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="tipoDocumento in filtrosTipoDocumento">
                                <a href="javascript:void(0)" ng-click="onSeleccionTipoDocumento(tipoDocumento)">
                                    {{tipoDocumento.nombre}}
                                </a>
                            </li>
                        </ul>   //-->