<!--<div>
    <span ng-bind="hola"></span>

</div>-->

<div >
    <tabset  class="">
        <tab heading="Clientes" ng-click="onAutorizacionTab(0)" >
            <div class ="row">

                <div class="col-md-3 pull-right">
                    <p>

                    <div class="input-group">

                        <input type="text" class="form-control"
                               ng-keypress="onBuscarPedido($event, termino_busqueda)"
                               ng-model="termino_busqueda"
                               placeholder="Numero Pedido"
                               name="srch-term"
                               id="srch-term"
                               ng-model="rootSeleccionPedido.termino_busqueda_pedidos">

                        <div class="input-group-btn" >
                            <button class="btn btn-default"
                                    type="submit"
                                    ng-click="onBuscarPedido({which:13}, termino_busqueda)">
                                <i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <p>
            <div class="table-responsive" >
                <div class="defaultGrid grid-responsive" ng-grid="lista_pedidos_clientes">

                </div>
            </div>

            <br/>

            <div class="row text-center">
                <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactual == 1" ng-click="paginaAnterior()">
                    <span class="glyphicon glyphicon-chevron-left" ></span>
                </button>
                <button type="button" class="btn btn-default btn-medium" ng-disabled="items == 0" ng-click="paginaSiguiente()">
                    <span class="glyphicon glyphicon-chevron-right" ></span>
                </button>
            </div>
        </tab>

        <tab heading="Farmacias" ng-click="onAutorizacionTab(1)">
            <div class ="row">
                <div class="col-md-3 pull-right">
                    <p>
                    <div class="input-group">

                        <input type="text" class="form-control"
                               ng-keypress="onBuscarPedido($event, termino_busqueda)"
                               ng-model="termino_busqueda"
                               placeholder="Numero Pedido"
                               name="srch-term"
                               id="srch-term"
                               ng-model="rootSeleccionPedido.termino_busqueda_pedidos">

                        <div class="input-group-btn" >
                            <button class="btn btn-default"
                                    type="submit"
                                    ng-click="onBuscarPedido({which:13}, termino_busqueda)">
                                <i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>


                </div>

            </div>
            <p>
            <div class="table-responsive" >
                <div class="defaultGrid grid-responsive" ng-grid="lista_pedidos_clientes">

                </div>
            </div>
            <br/>
            <div class="row text-center">
                <button type="button" class="btn btn-default btn-medium" ng-disabled="paginaactual == 1" ng-click="paginaAnterior()">
                    <span class="glyphicon glyphicon-chevron-left" ></span>
                </button>
                <button type="button" class="btn btn-default btn-medium" ng-disabled="items == 0" ng-click="paginaSiguiente()">
                    <span class="glyphicon glyphicon-chevron-right" ></span>
                </button>
            </div>
        </tab>
    </tabset>
    </br>
</div>